<template>
  <div class="d-flex flex-fill">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">
            排序
          </th>
          <th scope="col">
            商品名稱
          </th>
          <th scope="col">
            <div class="d-flex flex-fill justify-content-center text-left">
              <div>
                <ol type="A">
                  <li>所有人可看一般價會員價<a href="#">全選</a></li>
                  <a>會員方可看會員價<a href="#">全選</a></a>
                  <li>會員方可看一般價會員價<a href="#">全選</a></li>
                </ol>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-fill flex-column justify-content-around">
              <div>
                會員方可買
              </div>
              <div class="d-flex justify-content-center">
                <a href="#">全選</a>
                <a href="#">全消</a>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-fill flex-column justify-content-around">
              <div>
                不適用
                任何折扣
              </div>
              <div class="d-flex justify-content-center">
                <a href="#">全選</a>
                <a href="#">全消</a>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-fill flex-column justify-content-around">
              <div>
                滿幾件免運
              </div>
              <div>
                <a href="#">套用</a>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-fill flex-column justify-content-around">
              <div>
                不適用滿多少免運
              </div>
              <div class="d-flex justify-content-center">
                <a href="#">全選</a>
                <a href="#">全消</a>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-fill flex-column justify-content-around">
              <div>
                不適用貨運方式
              </div>
              <div>
                <a href="#">套用</a>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-fill flex-column justify-content-around">
              <div>
                消費提醒
              </div>
              <div>
                <a href="#">套用</a>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-fill flex-column justify-content-center">
              <div>
                編輯
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            <b-form-input></b-form-input>
          </td>
          <td>
            <b-form-input></b-form-input>
          </td>
          <td>
            <b-form-input></b-form-input>
          </td>
          <td>
            <b-form-input></b-form-input>
          </td>
          <td>
            <b-form-input></b-form-input>
          </td>
          <td>
            <b-form-checkbox name="selectOpen-pro" value="accepted" unchecked-value="not_accepted">
            </b-form-checkbox>
          </td>
          <td>
            <b-form-checkbox name="selectHot-pro" value="accepted" unchecked-value="not_accepted">
            </b-form-checkbox>
          </td>
          <td>
            <b-form-checkbox name="selectOffsale-pro" value="accepted"
              unchecked-value="not_accepted">
            </b-form-checkbox>
          </td>
          <td><button type="button" class="btn btn-primary">編輯</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="col-12 mx-auto d-flex flex-column">
    <div class="proEditTable d-flex flex-fill justify-content-between">
      <div class="d-flex flex-fill justify-content-center align-items-center">
        <div>
          排序
        </div>
      </div>
      <div class="d-flex flex-fill justify-content-center align-items-center">
        <div>商品名稱</div>
      </div>
      <div class="d-flex flex-fill justify-content-center text-left">
        <div>
          <ol type="A">
            <li>所有人可看一般價會員價<a href="#">全選</a></li>
            <li>會員方可看會員價<a href="#">全選</a></li>
            <li>會員方可看一般價會員價<a href="#">全選</a></li>
          </ol>
        </div>

      </div>
      <div class="d-flex flex-fill flex-column justify-content-around">
        <div>
          會員方可買
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">全選</a>
          <a href="#">全消</a>
        </div>
      </div>
      <div class="d-flex flex-fill flex-column justify-content-around">
        <div>
          不適用
          任何折扣
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">全選</a>
          <a href="#">全消</a>
        </div>
      </div>
      <div class="d-flex flex-fill flex-column justify-content-around">
        <div>
          滿幾件免運
        </div>
        <div>
          <a href="#">套用</a>
        </div>
      </div>
      <div class="d-flex flex-fill flex-column justify-content-around">
        <div>
          不適用滿多少免運
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">全選</a>
          <a href="#">全消</a>
        </div>
      </div>
      <div class="d-flex flex-fill flex-column justify-content-around">
        <div>
          不適用貨運方式
        </div>
        <div>
          <a href="#">套用</a>
        </div>
      </div>
      <div class="d-flex flex-fill flex-column justify-content-around">
        <div>
          消費提醒
        </div>
        <div>
          <a href="#">套用</a>
        </div>
      </div>
      <div class="d-flex flex-fill flex-column justify-content-center">
        <div>
          編輯
        </div>
      </div>
    </div>
  </div> -->
</template>
