<template>
  <div class="d-flex flex-fill">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">
            排序
          </th>
          <th scope="col">
            商品名稱
          </th>
          <th scope="col">
            一般價
          </th>
          <th scope="col">
            會員價
          </th>
          <th scope="col">
            成本價
          </th>
          <th scope="col">
            <div class="d-flex flex-fill flex-column justify-content-around">
              <div>
                商品規格
              </div>
              <div>
                <a href="#">套用</a>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-fill flex-column justify-content-around">
              <div>
                規格購買數量
              </div>
              <div>
                <a href="#">格式</a>
              </div>
            </div>
          </th>
          <th scope="col">
            後台備註
          </th>
          <th scope="col">
            <div class="d-flex flex-fill flex-column justify-content-around">
              <div>
                下架
              </div>
              <div class="d-flex justify-content-center">
                <a href="#">全選</a>
                <a href="#">全消</a>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-fill flex-column justify-content-center">
              <div>
                編輯
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <!-- <div class="col-12 mx-auto d-flex flex-column">
    <div class="proEditTable d-flex flex-fill justify-content-between">
      <div class="d-flex flex-fill justify-content-center align-items-center">
        <div>
          排序
        </div>
      </div>
      <div class="d-flex flex-fill justify-content-center align-items-center">
        <div>商品名稱</div>
      </div>
      <div class="d-flex flex-fill justify-content-center align-items-center">
        <div>
          一般價
        </div>
      </div>
      <div class="d-flex flex-fill justify-content-center align-items-center">
        <div>
          會員價
        </div>
      </div>
      <div class="d-flex flex-fill justify-content-center align-items-center">
        <div>
          成本價
        </div>
      </div>
      <div class="d-flex flex-fill flex-column justify-content-around">
        <div>
          商品規格
        </div>
        <div>
          <a href="#">套用</a>
        </div>
      </div>
      <div class="d-flex flex-fill flex-column justify-content-around">
        <div>
          規定購買數量
        </div>
        <div>
          <a href="#">套用</a>
        </div>
      </div>
      <div class="d-flex flex-fill justify-content-center align-items-center">
        <div>
          後台備註
        </div>
      </div>
      <div class="d-flex flex-fill flex-column justify-content-around">
        <div>
          下架
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">全選</a>
          <a href="#">全消</a>
        </div>
      </div>
      <div class="d-flex flex-fill flex-column justify-content-center">
        <div>
          編輯
        </div>
      </div>
    </div>
  </div> -->
</template>
