<template>
  <div class="d-flex flex-fill">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">
            排序
          </th>
          <th scope="col">
            商品名稱
          </th>
          <th scope="col">
            <div class="d-flex flex-fill justify-content-around align-items-center">
              <div class="d-flex flex-column">
                <div>
                  上架日期
                </div>
                <div>
                  <a href="#">現在</a>
                </div>
              </div>
              <div class="d-flex flex-column border">
                <div>
                  公開
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#">全選</a>
                  <a href="#">全消</a>
                </div>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-fill justify-content-around align-items-center">
              <div>
                庫存量
              </div>
              <div class="d-flex flex-column border">
                <div>
                  公開
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#">全選</a>
                  <a href="#">全消</a>
                </div>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-fill flex-column justify-content-around">
              <div>
                自動停賣
              </div>
              <div>
                <a href="#">套用</a>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-fill flex-column justify-content-around">
              <div>
                開放訂購
              </div>
              <div class="d-flex justify-content-center">
                <a href="#">全選</a>
                <a href="#">全消</a>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-fill flex-column justify-content-around">
              <div>
                下架
              </div>
              <div class="d-flex justify-content-center">
                <a href="#">全選</a>
                <a href="#">全消</a>
              </div>
            </div>
          </th>
          <th scope="col">
            編輯
          </th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <!-- <div class="col-12 mx-auto d-flex flex-column">
    <div class="proEditTable d-flex flex-fill justify-content-between">
      <div class="d-flex flex-fill justify-content-center align-items-center">
        <div>
          排序
        </div>
      </div>
      <div class="d-flex flex-fill justify-content-center align-items-center">
        <div>商品名稱</div>
      </div>
      <div class="d-flex flex-fill justify-content-around align-items-center">
        <div class="d-flex flex-column">
          <div>
            上假日期
          </div>
          <div>
            <a href="#">現在</a>
          </div>
        </div>
        <div class="d-flex flex-column border">
          <div>
            公開
          </div>
          <div class="d-flex justify-content-center">
            <a href="#">全選</a>
            <a href="#">全消</a>
          </div>
        </div>
      </div>
      <div class="d-flex flex-fill justify-content-around align-items-center">
          <div>
            庫存量
          </div>
        <div class="d-flex flex-column border">
          <div>
            公開
          </div>
          <div class="d-flex justify-content-center">
            <a href="#">全選</a>
            <a href="#">全消</a>
          </div>
        </div>
      </div>
      <div class="d-flex flex-fill flex-column justify-content-around">
        <div>
          自動停賣
        </div>
        <div>
          <a href="#">套用</a>
        </div>
      </div>
      <div class="d-flex flex-fill flex-column justify-content-around">
        <div>
          開放訂購
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">全選</a>
          <a href="#">全消</a>
        </div>
      </div>
      <div class="d-flex flex-fill flex-column justify-content-around">
        <div>
          下架
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">全選</a>
          <a href="#">全消</a>
        </div>
      </div>
      <div class="d-flex flex-fill flex-column justify-content-center">
        <div>
          編輯
        </div>
      </div>
    </div>
  </div> -->
</template>
