<template>
  <div class="d-flex flex-column border">
    <div class="d-flex p-2 border-bottom justify-content-around align-items-center">
      <div>
        <select v-model="filter_ship_type" class="form-control">
          <option value="all">全部出貨方式</option>
          <option value="post">郵局宅配</option>
          <option value="on_ship">貨到付款</option>
          <option value="cvs">超商</option>
          <option value="on_site">現場</option>
        </select>
      </div>
      <div><button type="button" class="btn btn-outline-secondary"
          :class="{active:date_now_btn===0}" @click="date_now_btn = 0">
          {{new Date() | moment("MM/DD")+"今日（3）"}}
        </button></div>
      <div><button type="button" class="btn btn-outline-secondary"
          :class="{active:date_now_btn===1}" @click="date_now_btn = 1">
          {{new Date() | moment('add', '1 days', "MM/DD")+"明日（7）"}}
        </button>
      </div>
      <div>
        <button type="button" class="btn btn-outline-secondary" :class="{active:date_now_btn===2}"
          @click="date_now_btn = 2">
          {{new Date() | moment('add', '2 days', "MM/DD")+"後日（0）"}}
        </button>
      </div>
      <div>
        <a href="#" @click.prevent="">過期單（1）</a>
      </div>
      <div>
        <a href="#" @click.prevent="">所有清單</a>
      </div>
    </div>
    <div class="d-flex flex-column p-2">
      <div class="d-flex align-items-center my-3">
        <div>
          <button type="button" class="btn btn-outline-secondary">全選</button>
        </div>
        <div class="ml-3">
          <button type="button" class="btn btn-primary" v-b-modal.viewShipList>預覽出貨表</button>
        </div>
        <small class="ml-3">總共3筆</small>
        <small class="ml-3">
          <u>※建議只選擇一種出貨方式列印清單</u>
        </small>
      </div>
      <table class="table table-bordered text-left">
        <thead>
          <tr class="bg-light">
            <th>
              <b-form-checkbox>No</b-form-checkbox>
            </th>
            <th>出貨日</th>
            <th>品項</th>
            <th>數量</th>
            <th>收件人</th>
            <th>出貨地址</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="filter_ship_type === 'all' || filter_ship_type === 'post'">
            <tr class="bg-light">
              <td colspan="7">
                <b-form-checkbox>
                  郵局宅配{{temp_data_list.post_office.length}}筆
                </b-form-checkbox>
              </td>
            </tr>
            <template v-for="(item, index) in temp_data_list.post_office">
              <template v-for="(j, jindex) in item.list">
                <tr>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <div>
                        <b-form-checkbox :value="item" v-model="preview_post">{{index + 1}}.
                        </b-form-checkbox>
                      </div>
                      <span
                        :class="{'text-danger':item.receipt === 'no_print'}">{{item.receipt}}</span>
                    </div>
                  </td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <div>{{item.date}}</div>
                      <div>{{item.date_Interval}}</div>
                    </div>
                  </td>
                  <td>{{j.name}}</td>
                  <td>{{j.count}}</td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <span>{{item.purchaser}}</span>
                        <span>（{{item.pay_status}}）</span>
                      </div>
                      <span>{{item.phone}}</span>
                    </div>
                  </td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">{{item.address}}</td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <a href="#" @click.prevent="">［更改日期］</a>
                      <span class="d-flex">
                        <a href="#" @click.prevent="">［修改］</a>
                        <a href="#" @click.prevent="">［取消］</a>
                      </span>
                    </div>
                  </td>
                </tr>
              </template>
            </template>
          </template>
          <template v-if="filter_ship_type === 'all' || filter_ship_type === 'on_ship'">
            <tr class="bg-light">
              <td colspan="7">
                <b-form-checkbox>貨到付款{{temp_data_list.on_delivery.length}}筆</b-form-checkbox>
              </td>
            </tr>
            <template v-for="(item, index) in temp_data_list.on_delivery">
              <template v-for="(j, jindex) in item.list">
                <tr>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <div>
                        <b-form-checkbox :value="item" v-model="preview_on_ship">{{index + 1}}.
                        </b-form-checkbox>
                      </div>
                      <span
                        :class="{'text-danger':item.receipt === 'no_print'}">{{item.receipt}}</span>
                    </div>
                  </td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <div>{{item.date}}</div>
                      <div>{{item.date_Interval}}</div>
                    </div>
                  </td>
                  <td>{{j.name}}</td>
                  <td>{{j.count}}</td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <span>{{item.purchaser}}</span>
                        <span>（{{item.pay_status}}）</span>
                      </div>
                      <span>{{item.phone}}</span>
                    </div>
                  </td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">{{item.address}}</td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <a href="#" @click.prevent="">［更改日期］</a>
                      <span class="d-flex">
                        <a href="#" @click.prevent="">［修改］</a>
                        <a href="#" @click.prevent="">［取消］</a>
                      </span>
                    </div>
                  </td>
                </tr>
              </template>
            </template>
          </template>
          <template v-if="filter_ship_type === 'all' || filter_ship_type === 'cvs'">
            <tr class="bg-light">
              <td colspan="7">
                <b-form-checkbox>超商{{temp_data_list.cvs.length}}筆</b-form-checkbox>
              </td>
            </tr>
            <template v-for="(item, index) in temp_data_list.cvs">
              <template v-for="(j, jindex) in item.list">
                <tr>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <div>
                        <b-form-checkbox :value="item" v-model="preview_cvs">{{index + 1}}.
                        </b-form-checkbox>
                      </div>
                      <span
                        :class="{'text-danger':item.receipt === 'no_print'}">{{item.receipt}}</span>
                    </div>
                  </td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <div>{{item.date}}</div>
                      <div>{{item.date_Interval}}</div>
                    </div>
                  </td>
                  <td>{{j.name}}</td>
                  <td>{{j.count}}</td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <span>{{item.purchaser}}</span>
                        <span>（{{item.pay_status}}）</span>
                      </div>
                      <span>{{item.phone}}</span>
                    </div>
                  </td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">{{item.address}}</td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <a href="#" @click.prevent="">［更改日期］</a>
                      <span class="d-flex">
                        <a href="#" @click.prevent="">［修改］</a>
                        <a href="#" @click.prevent="">［取消］</a>
                      </span>
                    </div>
                  </td>
                </tr>
              </template>
            </template>
          </template>
          <template v-if="filter_ship_type === 'all' || filter_ship_type === 'on_site'">
            <tr class="bg-light">
              <td colspan="7">
                <b-form-checkbox>現場{{temp_data_list.on_site.length}}筆</b-form-checkbox>
              </td>
            </tr>
            <template v-for="(item, index) in temp_data_list.on_site">
              <template v-for="(j, jindex) in item.list">
                <tr>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <div>
                        <b-form-checkbox :value="item" v-model="preview_on_site">{{index + 1}}.
                        </b-form-checkbox>
                      </div>
                      <span
                        :class="{'text-danger':item.receipt === 'no_print'}">{{item.receipt}}</span>
                    </div>
                  </td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <div>{{item.date}}</div>
                      <div>{{item.date_Interval}}</div>
                    </div>
                  </td>
                  <td>{{j.name}}</td>
                  <td>{{j.count}}</td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <div class="d-flex">
                        <span>{{item.purchaser}}</span>
                        <span>（{{item.pay_status}}）</span>
                      </div>
                      <span>{{item.phone}}</span>
                    </div>
                  </td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">{{item.address}}</td>
                  <td v-if="jindex === 0" :rowspan="item.list.length">
                    <div class="d-flex flex-column">
                      <a href="#" @click.prevent="">［更改日期］</a>
                      <span class="d-flex">
                        <a href="#" @click.prevent="">［修改］</a>
                        <a href="#" @click.prevent="">［取消］</a>
                      </span>
                    </div>
                  </td>
                </tr>
              </template>
            </template>
          </template>
        </tbody>
      </table>
      <div class="d-flex flex-column bg-light p-2 text-left">
        <span>今日可出貨數量：</span>
        <div class="d-flex">
          <div class="d-flex flex-column">
            <!-- <div class="d-flex">
              <span>有聲書（九版）</span>
              <span class="ml-4">4件</span>
            </div>
            <div class="d-flex">
              <span>英語篇（九版）</span>
              <span class="ml-4">1件</span>
            </div>
            <div class="d-flex">
              <span>日語篇（九版）</span>
              <span class="ml-4">1件</span>
            </div> -->
            <div class="d-flex" v-for="(item, index) in stock" :key="index">
              <span>{{item.name}}</span>
              <span class="ml-4">{{item.ship_count}}件</span>
            </div>
          </div>
          <div class="d-flex flex-column ml-5">
            <!-- <div class="d-flex">
              <span>總庫存量</span>
              <span class="ml-4">20件（尚可）</span>
            </div>
            <div class="d-flex">
              <span>總庫存量</span>
              <span class="ml-4">0件（無法出貨）</span>
            </div>
            <div class="d-flex">
              <span>總庫存量</span>
              <span class="ml-4">10件（尚可）</span>
            </div> -->
            <div class="d-flex" v-for="(item, index) in stock" :key="index">
              <span :class="{'text-danger':item.stock <item.ship_count, 'text-success' :item.stock>
                  item.ship_count}">總庫存量</span>
              <span :class="{'text-danger':item.stock <item.ship_count, 'text-success' :item.stock>
                  item.ship_count}" class="ml-4">{{item.stock}}件 <span
                  v-if="item.stock>0">（尚可）</span><span v-else>（無法出貨）</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center pt-3">
        <div>
          <button type="button" class="btn btn-outline-secondary">全選</button>
        </div>
        <div class="ml-3">
          <button type="button" class="btn btn-primary" v-b-modal.viewShipList>預覽出貨表</button>
        </div>
        <small class="ml-3">總共3筆</small>
      </div>
    </div>
    <b-modal id="viewShipList" ref="viewShipList" title="預覽出貨表" size="xl" hide-footer>
      <div class="d-flex flex-column">
        <span>請再次確認出貨件數</span>
        <div class="d-flex flex-column p-2 text-left bg-light">
          <span>本次出貨數量：</span>
          <div class="d-flex">
            <div class="d-flex flex-column">
              <div class="d-flex">
                <span>有聲書（九版）</span>
                <span class="ml-4">4件</span>
              </div>
              <div class="d-flex">
                <span>日語篇（九版）</span>
                <span class="ml-4">1件</span>
              </div>
            </div>
            <div class="d-flex flex-column ml-5">
              <div class="d-flex">
                <span>總庫存量</span>
                <span class="ml-4">20件（尚可）</span>
              </div>
              <div class="d-flex">
                <span>總庫存量</span>
                <span class="ml-4">10件（尚可）</span>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr class="bg-light">
              <th>No</th>
              <th colspan="2">出貨狀態</th>
              <th>出貨商品</th>
              <th>數量</th>
              <th>收件人</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(item, index) in preview_post">
              <tr v-for="(j, jindex) in item.list">
                <td v-if="jindex === 0" :rowspan="item.list.length">{{index + 1}}</td>
                <td>{{item.method}}</td>
                <td>{{item.date}}</td>
                <td>{{j.name}}</td>
                <td>{{j.count}}</td>
                <td>{{item.purchaser}}</td>
              </tr>
            </template>
            <tr class="bg-light">
              <td colspan="3">郵局寄送 訂單合計 {{preview_post.length}}筆</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <template v-for="(item, index) in preview_on_ship">
              <tr v-for="(j, jindex) in item.list">
                <td v-if="jindex === 0" :rowspan="item.list.length">{{index + 1}}</td>
                <td>{{item.method}}</td>
                <td>{{item.date}}</td>
                <td>{{j.name}}</td>
                <td>{{j.count}}</td>
                <td>{{item.purchaser}}</td>
              </tr>
            </template>
            <tr class="bg-light">
              <td colspan="3">貨到付款 訂單合計 {{preview_on_ship.length}}筆</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <template v-for="(item, index) in preview_cvs">
              <tr v-for="(j, jindex) in item.list">
                <td v-if="jindex === 0" :rowspan="item.list.length">{{index + 1}}</td>
                <td>{{item.method}}</td>
                <td>{{item.date}}</td>
                <td>{{j.name}}</td>
                <td>{{j.count}}</td>
                <td>{{item.purchaser}}</td>
              </tr>
            </template>
            <tr class="bg-light">
              <td colspan="3">超商 訂單合計 {{preview_cvs.length}}筆</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <template v-for="(item, index) in preview_on_site">
              <tr v-for="(j, jindex) in item.list">
                <td v-if="jindex === 0" :rowspan="item.list.length">{{index + 1}}</td>
                <td>{{item.method}}</td>
                <td>{{item.date}}</td>
                <td>{{j.name}}</td>
                <td>{{j.count}}</td>
                <td>{{item.purchaser}}</td>
              </tr>
            </template>
            <tr class="bg-light">
              <td colspan="3">現場 訂單合計 {{preview_on_site.length}}筆</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <small>請確定本次出貨數量與總庫存量</small>
          <small>／</small>
          <small>有貨品目前缺貨中</small>
        </div>
      </div>
      <template v-solt="modal-footer">
        <div class="d-flex justify-content-center">
          <div><button type="button" class="btn btn-primary" @click="cancel_modal()">取消</button>
          </div>
          <div class="pl-2"><button type="button" class="btn btn-warning text-white"
              @click="print()">列印出貨單</button></div>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
  import _ from 'lodash';
  export default {
    data() {
      return {
        date_now_btn: 0,
        filter_ship_type: 'all',
        preview_post: [],
        preview_on_ship: [],
        preview_cvs: [],
        preview_on_site: [],
        temp_data_list: {},
      };
    },
    methods: {
      cancel_modal() {
        this.$refs['viewShipList'].hide();
      },
      print() {
        this.$store.commit('printShip/savePreviewPost', this.preview_post);
        this.$store.commit('printShip/savePreviewOn', this.preview_on_ship);
        this.$store.commit('printShip/savePreviewCvs', this.preview_cvs);
        this.$store.commit('printShip/savePreviewOnSite', this.preview_on_site);
        this.$refs['viewShipList'].hide();
        this.$router.push('/printShip/waitConfirm');
      }
    },
    created() {
      this.temp_data_list = _.cloneDeep(this.print_ship_list);
      this.$emit('emitTabs', 0);
    },
    computed: {
      print_ship_list: {
        get() {
          return this.$store.state.printShip.print_ship_list;
        }
      },
      stock2: {
        get() {
          return this.$store.state.printShip.stock2;
        }
      },
      stock: {
        get() {
          return this.$store.state.printShip.stock;
        }
      }
    }
  };

</script>

<style lang="scss">
  .aaa {
    background-color: rgb(241, 189, 140);
  }

</style>
