<template>
  <div class="d-flex flex-column border">
    <div class="d-flex flex-column border-bottom p-2">
      <div class="d-flex align-items-center">
        <span>出貨方式</span>
        <div class="pl-2">
          <select v-model="select_preview" class="form-control">
            <option value="all">全部</option>
            <option value="post">郵局宅配（2）</option>
            <option value="on_ship">貨到</option>
            <option value="cvs">超商</option>
            <option value="on_site">現場</option>
          </select>
        </div>
      </div>
      <div class="d-flex align-items-center pt-2">
        <span>搜尋條件</span>
        <div class="pl-2">
          <select v-model="search_rule" class="form-control">
            <option value="key_word">依關鍵字搜尋</option>
            <option value="ship_group">依出貨群組選擇</option>
            <option value="ship_date">依出貨日期搜尋</option>
          </select>
        </div>
      </div>
      <div class="d-flex align-items-center ml-5 pl-4 pt-2">
        <div v-if="search_rule === 'key_word'">
          <b-form-input></b-form-input>
        </div>
        <div v-else-if="search_rule === 'ship_group'">
          <b-form-input></b-form-input>
        </div>
        <template v-else-if="search_rule === 'ship_date'">
          <div>
            <b-form-datepicker></b-form-datepicker>
          </div>
          <div>
            <b-form-datepicker></b-form-datepicker>
          </div>
        </template>
        <div class="ml-2">
          <button type="button" class="btn btn-primary">搜尋</button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column p-2 align-items-start">
      <span class="my-2">總共 2 筆</span>
      <table class="table table-bordered">
        <thead>
          <tr class="bg-light ">
            <th></th>
            <th>核銷單號</th>
            <th>出貨日</th>
            <th>品項</th>
            <th>數量</th>
            <th>收件人</th>
            <th>地址</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="select_preview === 'post' || select_preview === 'all'">
            <tr>
              <td class="bg-light" colspan="7">
                <div class="d-flex align-items-center">
                  <span class="">郵局宅配{{preview_post.length}}筆</span>
                  <span class="text-warning pl-4">大宗單編號</span>
                  <div class="pl-2">
                    <b-form-input type="number" v-model="post_code"></b-form-input>
                  </div>
                  <div class="pl-2">
                    <button type="button" class="btn btn-warning text-white"
                      @click="aaa()">帶入</button>
                  </div>
                </div>
              </td>
            </tr>
            <template v-for="(item, index) in preview_post">
              <tr v-for="(j, jindex) in item.list">
                <td v-if="jindex===0" :rowspan="item.list.length">{{index + 1}}</td>
                <td v-if="jindex===0" :rowspan="item.list.length">
                  <div class="d-flex flex-column">
                    <div>
                      <b-form-input type="number" v-model="item.post_code"></b-form-input>
                    </div>
                    <div class="pt-2">
                      <button type="button" class="btn btn-primary"
                        @click="del(item.uid, item.method)">核銷</button>
                    </div>
                  </div>
                </td>
                <td v-if="jindex===0" :rowspan="item.list.length">
                  <div class="d-flex flex-column text-left">
                    <span>{{item.date}}</span>
                    <span>{{item.date_Interval}}</span>
                  </div>
                </td>
                <td>{{j.name}}</td>
                <td>{{j.count}}</td>
                <td v-if="jindex===0" :rowspan="item.list.length">
                  <div class="d-flex flex-column text-left">
                    <span>{{item.purchaser}}</span>
                    <span>{{item.phone}}</span>
                  </div>
                </td>
                <td class="text-left" v-if="jindex===0" :rowspan="item.list.length">
                  {{item.address}}
                </td>
              </tr>
            </template>
          </template>
          <template v-if="select_preview === 'on_ship' || select_preview === 'all'">
            <tr>
              <td class="bg-light" colspan="7">
                <div class="d-flex align-items-center">
                  <span class="">貨到付款{{preview_on_ship.length}}筆</span>
                </div>
              </td>
            </tr>
            <template v-for="(item, index) in preview_on_ship">
              <tr v-for="(j, jindex) in item.list">
                <td v-if="jindex===0" :rowspan="item.list.length">{{index + 1}}</td>
                <td v-if="jindex===0" :rowspan="item.list.length">
                  <div class="d-flex flex-column">
                    <div>
                      <b-form-input v-model="item.check_id"></b-form-input>
                    </div>
                    <div class="pt-2">
                      <button type="button" class="btn btn-primary"
                        @click="del(item.uid, item.method)">核銷</button>
                    </div>
                  </div>
                </td>
                <td v-if="jindex===0" :rowspan="item.list.length">
                  <div class="d-flex flex-column text-left">
                    <span>{{item.date}}</span>
                    <span>{{item.date_Interval}}</span>
                  </div>
                </td>
                <td>{{j.name}}</td>
                <td>{{j.count}}</td>
                <td v-if="jindex===0" :rowspan="item.list.length">
                  <div class="d-flex flex-column text-left">
                    <span>{{item.purchaser}}</span>
                    <span>{{item.phone}}</span>
                  </div>
                </td>
                <td class="text-left" v-if="jindex===0" :rowspan="item.list.length">
                  {{item.address}}
                </td>
              </tr>
            </template>
          </template>
          <template v-if="select_preview === 'cvs' || select_preview === 'all'">
            <tr>
              <td class="bg-light" colspan="7">
                <div class="d-flex align-items-center">
                  <span class="">超商{{preview_cvs.length}}筆</span>
                </div>
              </td>
            </tr>
            <template v-for="(item, index) in preview_cvs">
              <tr v-for="(j, jindex) in item.list">
                <td v-if="jindex===0" :rowspan="item.list.length">{{index + 1}}</td>
                <td v-if="jindex===0" :rowspan="item.list.length">
                  <div class="d-flex flex-column">
                    <div>
                      <b-form-input v-model="item.check_id"></b-form-input>
                    </div>
                    <div class="pt-2">
                      <button type="button" class="btn btn-primary"
                        @click="del(item.uid, item.method)">核銷</button>
                    </div>
                  </div>
                </td>
                <td v-if="jindex===0" :rowspan="item.list.length">
                  <div class="d-flex flex-column text-left">
                    <span>{{item.date}}</span>
                    <span>{{item.date_Interval}}</span>
                  </div>
                </td>
                <td>{{j.name}}</td>
                <td>{{j.count}}</td>
                <td v-if="jindex===0" :rowspan="item.list.length">
                  <div class="d-flex flex-column text-left">
                    <span>{{item.purchaser}}</span>
                    <span>{{item.phone}}</span>
                  </div>
                </td>
                <td class="text-left" v-if="jindex===0" :rowspan="item.list.length">
                  {{item.address}}
                </td>
              </tr>
            </template>
          </template>
          <template v-if="select_preview === 'on_site' || select_preview === 'all'">
            <tr>
              <td class="bg-light" colspan="7">
                <div class="d-flex align-items-center">
                  <span class="">現場{{preview_on_site.length}}筆</span>
                </div>
              </td>
            </tr>
            <template v-for="(item, index) in preview_on_site">
              <tr v-for="(j, jindex) in item.list">
                <td v-if="jindex===0" :rowspan="item.list.length">{{index + 1}}</td>
                <td v-if="jindex===0" :rowspan="item.list.length">
                  <div class="d-flex flex-column">
                    <div>
                      <b-form-input v-model="item.check_id"></b-form-input>
                    </div>
                    <div class="pt-2">
                      <button type="button" class="btn btn-primary"
                        @click="del(item.uid, item.method)">核銷</button>
                    </div>
                  </div>
                </td>
                <td v-if="jindex===0" :rowspan="item.list.length">
                  <div class="d-flex flex-column text-left">
                    <span>{{item.date}}</span>
                    <span>{{item.date_Interval}}</span>
                  </div>
                </td>
                <td>{{j.name}}</td>
                <td>{{j.count}}</td>
                <td v-if="jindex===0" :rowspan="item.list.length">
                  <div class="d-flex flex-column text-left">
                    <span>{{item.purchaser}}</span>
                    <span>{{item.phone}}</span>
                  </div>
                </td>
                <td class="text-left" v-if="jindex===0" :rowspan="item.list.length">
                  {{item.address}}
                </td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        select_preview: 'all',
        search_rule: 'key_word',
        boxOne: false,
        post_code: '',
        post_code_add: [],
      }
    },
    computed: {
      preview_post: {
        get() {
          return this.$store.state.printShip.preview_post;
        }
      },
      preview_on_ship: {
        get() {
          return this.$store.state.printShip.preview_on_ship;
        }
      },
      preview_cvs: {
        get() {
          return this.$store.state.printShip.preview_cvs;
        }
      },
      preview_on_site: {
        get() {
          return this.$store.state.printShip.preview_on_site;
        }
      }
    },
    methods: {
      aaa() {
        this.post_code_add = [];
        for (let i = 0; i < this.preview_post.length; i++) {
          this.post_code_add.push(Number(this.post_code) + Number(i));
          this.preview_post[i].post_code = this.post_code_add[i];

        }
      },
      showMsgBoxOne(uid, method) {
        this.boxOne = ''
        this.$bvModal.msgBoxConfirm('請輸入單號')
          .then(value => {
            this.boxOne = value
            if (value) {
              // this.$store.dispatch('printShip/delPreviewPost', {
              //   uid: uid,
              //   method: method
              // });
            }
          })
          .catch(err => {
            // An error occurred
          })
      },
      del(uid, method) {
        if (uid !== '') {
          this.$store.dispatch('printShip/delPreviewPost', {
            uid: uid,
            method: method
          });
        } else {
          this.showMsgBoxOne(uid, method);
        }
      }
    },
    created() {
      this.$emit('emitTabs', 2);
    }
  };

</script>

<style>

</style>
