<template>
  <div class="d-flex flex-fill flex-column p-3">
    <div class="w-100 border p-2">
      <div class="d-flex align-items-center justify-content-around px-1 pt-2">
        <span class="text-nowrap">背景顏色：</span>
        <b-form-input type="color" v-model="globalSt.bg_color"></b-form-input>
      </div>
      <div class="d-flex justify-content-around align-items-center px-1 pt-2">
        <span class="text-nowrap">風格切換：</span>
        <b-select v-model="globalSt.switchStyle" :options="switchStyle_list"></b-select>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'globalStyle',
    data() {
      return {
        mycolor: '',
        switchStyle_list: [{
            text: '風格1',
            value: 'newLetterContent',
          },
          {
            text: '風格2',
            value: 'newLetterContent2',
          },
          {
            text: '風格3',
            value: 'newLetterContent3',
          }
        ]
      }
    },
    computed: {
      globalSt: {
        get() {
          return this.$store.state.NewsLetter.style.globalStyle;
        }
      }
    }
  }

</script>

<style lang=" scss">

</style>
