<template>
  <div class="d-flex flex-fill flex-column p-3">
    <div class="d-flex w-100 border align-items-center justify-content-around">
      <span class="text-nowrap">背景色：</span>
      <b-form-input type="color" v-model="localSt.bg_color"></b-form-input>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'localStyle',
    data() {
      return {
        mycolor: '',
      }
    },
    computed: {
      localSt: {
        get() {
          return this.$store.state.NewsLetter.style.localStyle;
        }
      }
    }
  }

</script>

<style lang="scss">

</style>
