<template>
  <div class="text-left">
    <!-- <div class="d-flex align-items-center">
      <span>H2次標題：</span>
      <div>
        <b-form-input v-model="Content2_2[0].info[index].h2text"></b-form-input>
      </div>
    </div> -->
    <div class="d-flex align-items-center px-1 pt-2">
      <b-input-group prepend="H2次標題" class="mb-2 mr-sm-2 mb-sm-0">
        <b-input v-model="Content2_2[0].info[index].h2text"></b-input>
      </b-input-group>
    </div>
    <!-- <div class="d-flex align-items-center">
      <span>p 內文：</span>
      <div>
        <b-form-textarea v-model="Content2_2[0].info[index].ptext"></b-form-textarea>
      </div>
    </div> -->
    <div class="d-flex align-items-center px-1 pt-2">
      <b-input-group prepend="p 內文" class="mb-2 mr-sm-2 mb-sm-0">
        <b-form-textarea v-model="Content2_2[0].info[index].ptext"></b-form-textarea>
      </b-input-group>
    </div>
    <!-- <div class="d-flex align-items-center">
      <b-form-checkbox v-model="Content2_2[0].info[index].showImg" :value="true"
        :unchecked-value="false">img圖片：</b-form-checkbox>
      <div>
        <b-form-input v-model="Content2_2[0].info[index].img"></b-form-input>
      </div>
    </div> -->
    <div class="d-flex align-items-center px-1 pt-2">
      <b-input-group class="mb-2">
        <b-input-group-prepend is-text>
          <b-form-checkbox class="mr-n2" v-model="Content2_2[0].info[index].showImg" :value="true"
            :unchecked-value="false">
            img圖片
          </b-form-checkbox>
        </b-input-group-prepend>
        <b-form-input v-model="Content2_2[0].info[index].img"></b-form-input>
      </b-input-group>
    </div>
    <!-- <div class="d-flex align-items-center">
      <span>Button按鈕：</span>
      <div>
        <b-form-input v-model="Content2_2[0].info[index].btntext"></b-form-input>
      </div>
    </div> -->
    <div class="d-flex align-items-center px-1 pt-2">
      <b-input-group prepend="Button" class="mb-2 mr-sm-2 mb-sm-0">
        <b-input v-model="Content2_2[0].info[index].btntext"></b-input>
      </b-input-group>
    </div>
    <!-- <div class="d-flex align-items-center">
      <span>URL超連結：</span>
      <div>
        <b-form-input v-model="Content2_2[0].info[index].url"></b-form-input>
      </div>
    </div> -->
    <div class="d-flex align-items-center px-1 pt-2">
      <b-input-group prepend="Url" class="mb-2 mr-sm-2 mb-sm-0">
        <b-input v-model="Content2_2[0].info[index].url"></b-input>
      </b-input-group>
    </div>
    <div class="d-flex justify-content-around  px-1 pt-2">
      <div>
        <button type="button" class="btn btn-primary"
          @click="delContent2_2(Content2_2[0].info[index].rowNum, index)">刪除列</button>
      </div>
      <div>
        <button type="button" class="btn btn-primary"
          @click="addContent2_2(Content2_2[0].info[Content2_2[0].info.length-1].rowNum)">新增列</button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      index: Number
    },
    methods: {
      addContent2_2(rowNum) {
        console.log(rowNum);
        if (rowNum >= 0) {
          this.$store.dispatch('NewsLetter/addContent2_2', rowNum);
        } else {
          console.log('失敗');
        }

      },
      // addContent2_2(rowNum) {
      //   this.$store.dispatch('NewsLetter/addContent2_2', rowNum);
      // }
      delContent2_2(num, index) {
        if (num > 0) {
          console.log(`前${index}`);
          this.$store.dispatch('NewsLetter/deleteContent2_2', num);
          // num = -1;

          this.$emit('newNum', index - 2);
        } else {
          return;
        }
      }
    },
    computed: {
      Content2_2: {
        get() {
          return this.$store.state.NewsLetter.Content2_2;
        }
      }
    },
  };

</script>

<style>

</style>
