<template>
  <div class="text-left">
    <div class="d-flex align-items-center px-1 pt-2">
      <!-- <span>H2次標題：</span>
      <div>
        <b-form-input v-model="Content3[0].info[index].h2text"></b-form-input>
      </div> -->
      <b-input-group prepend="H2次標題" class="mb-2 mr-sm-2 mb-sm-0">
        <b-input v-model="Content3[0].info[index].h2text"></b-input>
      </b-input-group>
    </div>
    <div class="d-flex align-items-center px-1 pt-2">
      <!-- <span>p 內文：</span>
      <div>
        <b-form-textarea v-model="Content3[0].info[index].ptext"></b-form-textarea>
      </div> -->
      <b-input-group prepend="p 內文" class="mb-2 mr-sm-2 mb-sm-0">
        <b-form-textarea v-model="Content3[0].info[index].ptext"></b-form-textarea>
      </b-input-group>
    </div>
    <div class="d-flex align-items-center px-1 pt-2">
      <!-- <span>img圖片：</span>
      <div>
        <b-form-input v-model="Content3[0].info[index].imgtext"></b-form-input>
      </div> -->
      <b-input-group prepend="img" class="mb-2 mr-sm-2 mb-sm-0">
        <b-input v-model="Content3[0].info[index].imgtext"></b-input>
      </b-input-group>
    </div>
    <div class="d-flex align-items-center px-1 pt-2">
      <!-- <span>Button按鈕：</span>
      <div>
        <b-form-input v-model="Content3[0].info[index].btntext"></b-form-input>
      </div> -->
      <b-input-group prepend="Button" class="mb-2 mr-sm-2 mb-sm-0">
        <b-input v-model="Content3[0].info[index].btntext"></b-input>
      </b-input-group>
    </div>
    <div class="d-flex align-items-center px-1 pt-2">
      <!-- <span>URL超連結：</span>
      <div>
        <b-form-input v-model="Content3[0].info[index].url"></b-form-input>
      </div> -->
      <b-input-group prepend="Url" class="mb-2 mr-sm-2 mb-sm-0">
        <b-input v-model="Content3[0].info[index].url"></b-input>
      </b-input-group>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      index: Number
    },
    computed: {
      Content3: {
        get() {
          return this.$store.state.NewsLetter.Content3;
        }
      },
    }
  };

</script>

<style>

</style>
