<template>
  <div class="d-flex border border-top-0 hoverEdit">
    <div class="title border-right p-3 position-relative"
      :class="{editNowbg:collStatus.collapse_content2}">
      <div class="sticky-top flex-column align-items-center d-flex">
        <span class="d-flex justify-content-around px-1 pt-2"><span>3.</span><span
            @click="editNowNum(), collStatus.collapse_content2 = !collStatus.collapse_content2">
            <font-awesome-icon v-if="!collStatus.collapse_content2" class="editIcon ml-2"
              :icon="['fas', 'edit']" />
            <font-awesome-icon v-else class="editIcon ml-2" :icon="['fas', 'window-close']" />
          </span></span>
        <span class="mx-1 mt-2 border d-flex justify-content-center w-100 h-100 align-items-center"
          style="max-width:20px; max-height:20px">↑</span>
        <div class="px-1 pt-2">
          <button type="button" class="btn btn-outline-secondary">刪除</button>
        </div>
        <div class="px-1 pt-2">
          <button type="button" class="btn btn-outline-secondary">複製</button>
        </div>
      </div>
    </div>
    <div class="outcontent px-3 d-flex flex-fill justify-content-center"
      :style="{'background-color':globalSt.bg_color}">
      <div class="newsContent newsLetterColumn2_1 d-flex flex-column p-3"
        :style="{'background-color':Content2_style.bg_color}">
        <div class="p-3 d-flex justify-content-center">
          <h1 :style="{'color':Content2_style.h1_color}">{{mydata.h1text}}</h1>
        </div>
        <div v-for="(item, index) in mydata.info" :key="index" class="newsContent2Img d-flex">
          <div v-if="item.showImg" class="newsImg img1 d-flex">
            <div class="d-flex flex-fill flex-column justify-content-center">
              <span v-if="collStatus.collapse_content2" class="position-absolute"
                style="left:20px;">（第{{index+1}}組）</span>
              <img v-if="item.img !== ''" :src="item.img" alt="img圖片" width="130" height="130" />
              <div v-else class="d-flex justify-content-center align-items-center bg-secondary"
                style="width:130px;height:130px;">
                <span>130 ╳ 130</span>
              </div>
            </div>
          </div>
          <div class="newsContent2H2 Column1 p-3 d-flex flex-column flex-fill text-left">
            <div>
              <h2 :style="{'color':Content2_style.title_color}">{{item.h2text}}</h2>
            </div>
            <div>
              <p :style="{'color':Content2_style.text_color}">{{item.ptext}}</p>
            </div>
            <div>
              <a class="btn btn-outline-secondary" :href="item.url"
                role="button">{{item.btntext}}</a>
              <!-- <button type="button"
                class="btn btn-outline-secondary">{{mydata.info[0].btntext}}</button> -->
            </div>
          </div>
        </div>
        <!-- <div class="newsContent2Img d-flex">
          <div v-if="mydata.info[1].img !== ''" class="newsImg img2 d-flex">
            <div class="d-flex flex-fill flex-column justify-content-center">
              <span>（第二組）</span>
              <img :src="mydata.info[1].img" alt="img圖片" />
            </div>
          </div>
          <div class="newsContent2H2 Column2 p-3 d-flex flex-column flex-fill /*text-left*/">
            <div>
              <h2>{{mydata.info[1].h2text}}</h2>
            </div>
            <div>
              <p>{{mydata.info[1].ptext}}</p>
            </div>
            <div>
              <a class="btn btn-outline-secondary" :href="mydata.info[1].url"
                role="button">{{mydata.info[1].btntext}}</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      index: Number,
      mydata: Object,
      num: Number,
    },
    methods: {
      editNowNum() {
        this.$store.dispatch('NewsLetter/setEditNow', 3);
      },
    },
    computed: {
      Content2: {
        get() {
          return this.$store.state.NewsLetter.Content2;
        }
      },
      globalSt: {
        get() {
          return this.$store.state.NewsLetter.style.globalStyle;
        }
      },
      Content2_style: {
        get() {
          return this.$store.state.NewsLetter.style.localStyle.Content2_style;
        }
      },
      editNow: {
        get() {
          return this.$store.state.NewsLetter.editNow;
        }
      },
      collStatus: {
        get() {
          return this.$store.state.NewsLetter.collStatus;
        }
      }
    }
  };

</script>

<style>

</style>
