<template>
  <div class="d-flex border border-top-0 hoverEdit">
    <div class="title border-right p-3 position-relative"
      :class="{editNowbg:collStatus.collapse_content1}">
      <div class="d-flex flex-column align-items-center sticky-top">
        <span class="d-flex justify-content-around px-1 pt-2"><span>2.</span><span @click="editNowNum(), collStatus.collapse_content1 =
            !collStatus.collapse_content1">
            <font-awesome-icon v-if="!collStatus.collapse_content1" class="editIcon ml-2"
              :icon="['fas', 'edit']" />
            <font-awesome-icon v-else class="editIcon ml-2" :icon="['fas', 'window-close']" />
          </span></span>
        <div class="d-flex px-1 pt-2">
          <span class="border mx-1">↓</span>
          <span class="border mx-1">↑</span>
        </div>
        <div class="px-1 pt-2">
          <button type="button" class="btn btn-outline-secondary">刪除</button>
        </div>
        <div class="px-1 pt-2">
          <button type="button" class="btn btn-outline-secondary">複製</button>
        </div>
      </div>
    </div>
    <div class="outcontent px-3 d-flex flex-fill justify-content-center"
      :style="{'background-color':globalSt.bg_color}">
      <div class="p-3 newsContent newsLetterColumn1 d-flex flex-column text-left"
        :style="{'background-color':Content1_style.bg_color}">
        <h1 :style="{'color':Content1_style.title_color}">{{Content1.h1text}}</h1>
        <p :style="{'color':Content1_style.text_color}">
          {{Content1.ptext}}
        </p>
        <div>
          <!-- <button type="button" class="btn btn-outline-secondary">{{Content1.btntext}}</button> -->
          <a class="btn btn-primary" href="#" role="button">{{Content1.btntext}}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      Content1: Object,
    },
    methods: {
      editNowNum() {
        this.$store.dispatch('NewsLetter/setEditNow', 2);
      },
    },
    computed: {
      globalSt: {
        get() {
          return this.$store.state.NewsLetter.style.globalStyle;
        }
      },
      Content1_style: {
        get() {
          return this.$store.state.NewsLetter.style.localStyle.Content1_style;
        }
      },
      editNow: {
        get() {
          return this.$store.state.NewsLetter.editNow;
        }
      },
      collStatus: {
        get() {
          return this.$store.state.NewsLetter.collStatus;
        }
      }
    }
  };

</script>

<style>

</style>
