<template>
  <div class="d-flex border border-top-0 hoverEdit">
    <div class="title border-right p-3 position-relative"
      :class="{editNowbg:collStatus.collapse_horizontal}">
      <div class="d-flex flex-column  align-items-center sticky-top">
        <span class="d-flex justify-content-around px-1 pt-2"><span>1.</span><span
            @click="editNowNum(), collStatus.collapse_horizontal = !collStatus.collapse_horizontal">
            <font-awesome-icon v-if="!collStatus.collapse_horizontal" class="editIcon ml-2"
              :icon="['fas', 'edit']" />
            <font-awesome-icon v-else class="editIcon ml-2" :icon="['fas', 'window-close']" />
          </span></span>
        <div class="mx-1 mt-2 border d-flex justify-content-center w-100 h-100 align-items-center"
          style="max-width:20px; max-height:20px">↓</div>
        <div class="px-1 pt-2">
          <button type="button" class="btn btn-outline-secondary">刪除</button>
        </div>
        <div class="px-1 pt-2">
          <button type="button" class="btn btn-outline-secondary">複製</button>
        </div>
      </div>
    </div>
    <div class="outcontent px-3 d-flex flex-fill justify-content-center"
      :style="{'background-color':globalSt.bg_color}">
      <div class="newsContent newsLetterHeader d-flex flex-column justify-content-center"
        :style="{'background-color':Horizontal_style.bg_color}">
        <div>
          <h1 :style="{'color':Horizontal_style.h1_color}">{{ Horizontal.h1text }}</h1>
          <h2 :style="{'color':Horizontal_style.h2_color}">{{ Horizontal.h2text }}</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      Horizontal: Object,
    },
    methods: {
      editNowNum() {
        this.$store.dispatch('NewsLetter/setEditNow', 1);
      },
    },
    computed: {
      globalSt: {
        get() {
          return this.$store.state.NewsLetter.style.globalStyle;
        }
      },
      editNow: {
        get() {
          return this.$store.state.NewsLetter.editNow;
        }
      },
      Horizontal_style: {
        get() {
          return this.$store.state.NewsLetter.style.localStyle.Horizontal_style;
        }
      },
      collStatus: {
        get() {
          return this.$store.state.NewsLetter.collStatus;
        }
      }
    }
  };

</script>
