<template>
  <div class="d-flex border border-top-0 hoverEdit">
    <div class="title border-right p-3 position-relative"
      :class="{editNowbg:collStatus.collapse_content2_2}">
      <div class="d-flex flex-column align-items-center sticky-top">
        <span class="d-flex justify-content-around px-1 pt-2"><span>4.</span><span @click="editNowNum(), collStatus.collapse_content2_2 =
            !collStatus.collapse_content2_2">
            <font-awesome-icon v-if="!collStatus.collapse_content2_2" class="editIcon ml-2"
              :icon="['fas', 'edit']" />
            <font-awesome-icon v-else class="editIcon ml-2" :icon="['fas', 'window-close']" />
          </span></span>
        <div class="d-flex justify-content-center px-1 pt-2">
          <span class="border mx-1">↓</span>
          <span class="border mx-1">↑</span>
        </div>
        <div class="px-1 pt-2">
          <button type="button" class="btn btn-outline-secondary">刪除</button>
        </div>
        <div class="px-1 pt-2">
          <button type="button" class="btn btn-outline-secondary">複製</button>
        </div>
      </div>
    </div>
    <div class="outcontent px-3 d-flex flex-fill justify-content-center"
      :style="{'background-color':globalSt.bg_color}">
      <div class="newsContent newsLetterColumn2_2 d-flex flex-column"
        :style="{'background-color':Content2_2_style.bg_color}">
        <div class="p-3 d-flex justify-content-center">
          <h1 :style="{'color':Content2_2_style.h1_color}">{{mydata.h1text}}</h1>
        </div>
        <div v-if="(mydata.info[0].img !== '' && mydata.info[0].showImg)||(mydata.info[1].img !== '' &&
          mydata.info[1].showImg)" class="newsContent3Img d-flex">
          <div v-if="mydata.info[0].img !== '' && mydata.info[0].showImg" class="newsImg d-flex">
            <div class="d-flex flex-fill flex-column justify-content-center">
              <span>（第一組）</span>
              <img :src="mydata.info[0].img" alt="img圖片" />
            </div>
          </div>
          <div v-if="mydata.info[1].img !== '' && mydata.info[1].showImg" class="newsImg d-flex">
            <div class="d-flex flex-fill flex-column justify-content-center">
              <span>（第二組）</span>
              <img :src="mydata.info[1].img" alt="img圖片" />
            </div>
          </div>
        </div>
        <div class="newsContent3H2 d-flex row no-gutters">
          <div v-for="(item, index) in mydata.info" :key="index"
            class="newsImg column1 d-flex flex-column col-6"
            :class="{'/*bg-light*/':item.rowNum===Content2_2[0].info[index2].rowNum}">
            <div class="d-flex flex-fill flex-column justify-content-start">
              <h2 :style="{'color':Content2_2_style.title_color}">{{item.h2text}}</h2>
              <hr />
              <p :style="{'color':Content2_2_style.text_color}">{{item.ptext}}</p>
              <a class="btn" :href="item.url" role="button" :style="{'color':Content2_2_style.btn_color, border:`${Content2_2_style.btn_border}px solid
                ${Content2_2_style.btn_color}`}">{{item.btntext}}</a>
            </div>
          </div>
          <!-- <div class="newsImg column2 d-flex">
            <div class="d-flex flex-fill flex-column justify-content-center">
              <h2>{{mydata.info[1].h2text}}</h2>
              <hr />
              <p>{{mydata.info[1].ptext}}</p>
              <a class="btn" :href="mydata.info[1].url" role="button">{{mydata.info[1].btntext}}</a>
            </div>
          </div> -->
        </div>
        <!-- <div class="newsContent3Btn d-flex">
          <button type="button" class="btn btn-outline-secondary flex-fill">button按鈕</button>
          <a class="btn btn-outline-secondary" href="#" role="button">button按鈕</a>
          <button type="button" class="btn btn-outline-secondary flex-fill">button按鈕</button>
          <a class="btn btn-outline-secondary" href="#" role="button">button按鈕</a>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      index2: Number,
      mydata: Object,
      num: Number,
    },
    methods: {
      editNowNum() {
        this.$store.dispatch('NewsLetter/setEditNow', 4);
      },
    },
    computed: {
      Content2_2: {
        get() {
          return this.$store.state.NewsLetter.Content2_2;
        }
      },
      globalSt: {
        get() {
          return this.$store.state.NewsLetter.style.globalStyle;
        }
      },
      Content2_2_style: {
        get() {
          return this.$store.state.NewsLetter.style.localStyle.Content2_2_style;
        }
      },
      editNow: {
        get() {
          return this.$store.state.NewsLetter.editNow;
        }
      },
      collStatus: {
        get() {
          return this.$store.state.NewsLetter.collStatus;
        }
      }
    }
  };

</script>

<style>

</style>
