<template>
  <div class="d-flex border border-top-0 hoverEdit">
    <div class="title border-right p-3 position-relative"
      :class="{editNowbg:collStatus.collapse_content3}">
      <div class="d-flex flex-column align-items-center sticky-top">
        <span class="d-flex justify-content-around px-1 pt-2"><span>5.</span><span @click="editNowNum(), collStatus.collapse_content3 =
            !collStatus.collapse_content3">
            <font-awesome-icon v-if="!collStatus.collapse_content3" class="editIcon ml-2"
              :icon="['fas', 'edit']" />
            <font-awesome-icon v-else class="editIcon ml-2" :icon="['fas', 'window-close']" />
          </span></span>
        <div class="d-flex justify-content-center px-1 pt-2">
          <span class="border mx-1">↓</span>
          <span class="border mx-1">↑</span>
        </div>
        <div class="px-1 pt-2">
          <button type="button" class="btn btn-outline-secondary">刪除</button>
        </div>
        <div class="px-1 pt-2">
          <button type="button" class="btn btn-outline-secondary">複製</button>
        </div>
      </div>
    </div>
    <div class="outcontent px-3 d-flex flex-fill justify-content-center"
      :style="{'background-color':globalSt.bg_color}">
      <div class="newsContent p-3 newsLetterColumn3 d-flex flex-column"
        :style="{'background-color':Content3_style.bg_color}">
        <div class="p-3 d-flex justify-content-center">
          <h1 :style="{'color':Content3_style.h1_color}">{{Content3[0].h1text}}</h1>
        </div>
        <div class="newsContent3Img d-flex">
          <div class="newsImg flex-fill d-flex">
            <div class="d-flex flex-fill flex-column justify-content-center">
              <span>（第一組）</span>
              <img alt="img圖片" :src="Content3[0].info[0].img" />
            </div>
          </div>
          <div class="newsImg flex-fill d-flex">
            <div class="d-flex flex-fill flex-column justify-content-center">
              <span>（第二組）</span>
              <img alt="img圖片" :src="Content3[0].info[1].img" />
            </div>
          </div>
          <div class="newsImg flex-fill d-flex">
            <div class="d-flex flex-fill flex-column justify-content-center">
              <span>（第三組）</span>
              <img alt="img圖片" :src="Content3[0].info[2].img" />
            </div>
          </div>
        </div>
        <div class="newsContent3H2 d-flex">
          <div class="newsImg d-flex flex-fill flex-column">
            <div class="d-flex flex-fill flex-column justify-content-center">
              <h2 :style="{'color':Content3_style.title_color}">
                {{Content3[0].info[0].h2text}}</h2>
              <p :style="{'color':Content3_style.text_color}">{{Content3[0].info[0].ptext}}</p>
            </div>
          </div>
          <div class="newsImg d-flex flex-fill">
            <div class="d-flex flex-fill flex-column justify-content-center">
              <h2 :style="{'color':Content3_style.title_color}">{{Content3[0].info[1].h2text}}</h2>
              <p :style="{'color':Content3_style.text_color}">{{Content3[0].info[1].ptext}}</p>
            </div>
          </div>
          <div class="newsImg d-flex flex-fill">
            <div class="d-flex flex-fill flex-column justify-content-center">
              <h2 :style="{'color':Content3_style.title_color}">{{Content3[0].info[2].h2text}}</h2>
              <p :style="{'color':Content3_style.text_color}">{{Content3[0].info[2].ptext}}</p>
            </div>
          </div>
        </div>
        <div class="newsContent3Btn d-flex">
          <!-- <button type="button" class="btn btn-outline-secondary flex-fill">button按鈕</button>

          <button type="button" class="btn btn-outline-secondary flex-fill">button按鈕</button>

          <button type="button" class="btn btn-outline-secondary flex-fill">button按鈕</button> -->
          <div class="d-flex justify-content-center flex-fill"><a name="" id=""
              class="btn btn-outline-secondary" :href="Content3[0].info[0].url"
              role="button">{{Content3[0].info[0].btntext}}</a></div>
          <div class="d-flex justify-content-center flex-fill"><a name="" id=""
              class="btn btn-outline-secondary" :href="Content3[0].info[1].url"
              role="button">{{Content3[0].info[1].btntext}}</a></div>
          <div class="d-flex justify-content-center flex-fill"><a name="" id=""
              class="btn btn-outline-secondary" :href="Content3[0].info[2].url"
              role="button">{{Content3[0].info[2].btntext}}</a></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    methods: {
      editNowNum() {
        this.$store.dispatch('NewsLetter/setEditNow', 5);
      },
    },
    computed: {
      globalSt: {
        get() {
          return this.$store.state.NewsLetter.style.globalStyle;
        }
      },
      Content3_style: {
        get() {
          return this.$store.state.NewsLetter.style.localStyle.Content3_style;
        }
      },
      Content3: {
        get() {
          return this.$store.state.NewsLetter.Content3;
        }
      },
      editNow: {
        get() {
          return this.$store.state.NewsLetter.editNow;
        }
      },
      collStatus: {
        get() {
          return this.$store.state.NewsLetter.collStatus;
        }
      }
    }
  };

</script>

<style>

</style>
