<template>
  <div class="text-left">
    <div class="d-flex align-items-center px-1 pt-2">
      <!-- <span>span 文字：</span>
      <div>
        <b-form-input v-model="newsFooter.info[index].spantext"></b-form-input>
      </div> -->
      <b-input-group prepend="span 文字" class="mb-2 mr-sm-2 mb-sm-0">
        <b-input v-model="newsFooter.info[index].spantext"></b-input>
      </b-input-group>
    </div>
    <div class="d-flex align-items-center px-1 pt-2">
      <!-- <span>URL 超連結：</span>
      <div>
        <b-form-input v-model="newsFooter.info[index].url"></b-form-input>
      </div> -->
      <b-input-group prepend="Url" class="mb-2 mr-sm-2 mb-sm-0">
        <b-input v-model="newsFooter.info[index].url"></b-input>
      </b-input-group>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      index: Number
    },
    computed: {
      globalSt: {
        get() {
          return this.$store.state.NewsLetter.style.globalStyle;
        }
      },
      newsFooter: {
        get() {
          return this.$store.state.NewsLetter.newsFooter;
        }
      }
    }
  };

</script>

<style>

</style>
