<template>
  <div class="d-flex border border-top-0 hoverEdit">
    <div class="title border-right p-3 position-relative"
      :class="{editNowbg:collStatus.collapse_content4}">
      <div class="d-flex flex-column align-items-center sticky-top">
        <span class="d-flex justify-content-around px-1 pt-2"><span>6.</span><span
            @click="editNowNum(), collStatus.collapse_content4 = !collStatus.collapse_content4">
            <font-awesome-icon v-if="!collStatus.collapse_content4" class="editIcon ml-2"
              :icon="['fas', 'edit']" />
            <font-awesome-icon v-else class="editIcon ml-2" :icon="['fas', 'window-close']" />
          </span></span>
        <div class="d-flex justify-content-center px-1 pt-2">
          <span class="border mx-1">↑</span>
          <span class="border mx-1">↓</span>
        </div>
        <div class="px-1 pt-2">
          <button type="button" class="btn btn-outline-secondary">刪除</button>
        </div>
        <div class="px-1 pt-2">
          <button type="button" class="btn btn-outline-secondary">複製</button>
        </div>
      </div>
    </div>
    <div class="outcontent px-3 d-flex flex-column flex-fill justify-content-between"
      :style="{'background-color':globalSt.bg_color}">
      <div class="newsContent p-3 newsLetterList d-flex flex-column">
        <div class="newsContent4 p-3 d-flex justify-content-center">
          <h1>{{Content4[0].h1text}}</h1>
        </div>
        <div class="newsContent4 p-3 d-flex justify-content-center">
          <h2>{{Content4[0].h2text}}</h2>
        </div>
        <div class="newsContent4 p-3 d-flex justify-content-start">
          <ul :style="{'list-style-type': Content4_style.li_style}">
            <li class="pb-2" v-for="(item, index) in Content4[0].litext" :key="index">{{item}}
            </li>
          </ul>
        </div>
        <!-- <div class="newsContent4 p-3 d-flex justify-content-start">
          <ul>
            <li>{{Content4[0].litext[1]}}</li>
          </ul>
        </div>
        <div class="newsContent4 p-3 d-flex justify-content-start">
          <ul>
            <li>{{Content4[0].litext[2]}}</li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    methods: {
      editNowNum() {
        this.$store.dispatch('NewsLetter/setEditNow', 6);
      },
    },
    computed: {
      globalSt: {
        get() {
          return this.$store.state.NewsLetter.style.globalStyle;
        }
      },
      Content4: {
        get() {
          return this.$store.state.NewsLetter.Content4;
        }
      },
      editNow: {
        get() {
          return this.$store.state.NewsLetter.editNow;
        }
      },
      Content4_style: {
        get() {
          return this.$store.state.NewsLetter.style.localStyle.Content4_style;
        }
      },
      collStatus: {
        get() {
          return this.$store.state.NewsLetter.collStatus;
        }
      }
    }
  };

</script>

<style>

</style>
