<template>
  <div class="container">
    <div class="d-flex flex-column text-left border">
      <div class="d-flex flex-fill border-bottom p-2 bg-light">
        <span>到貨作業</span>
      </div>
      <div v-if="excelHis" class="d-flex flex-column border-bottom p-2">
        <span>您最近建立過報表之搜尋紀錄（前5筆）</span>
        <table class="table table-bordered">
          <thead>
            <tr class="bg-light">
              <th></th>
              <th>品項</th>
              <th>出貨方式</th>
              <th>付款狀態</th>
              <th>日期</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><a href="#" @click.prevent="">絕對考上導遊＋領隊有聲書（九版）</a></td>
              <td>郵局寄送</td>
              <td>已付款</td>
              <td>2020-04-06~2020-05-10</td>
              <td><a href="#" @click.prevent="">查詢</a></td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href="#" @click.prevent="">絕對考上導遊＋領隊有聲書（八版）</a></td>
              <td>線上領取</td>
              <td>已付款</td>
              <td>2020-04-06~2020-05-10</td>
              <td><a href="#" @click.prevent="">查詢</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex border-bottom">
        <div class="arrivalTitle border-right p-2 bg-light">快速篩選</div>
        <div class="d-flex flex-column p-2">
          <div class="d-flex align-items-center p-2">
            <span>商品搜尋</span>
            <div class="pl-2">
              <b-form-input></b-form-input>
            </div>
            <div><button type="button" class="btn btn-primary">查詢商品F8</button></div>
          </div>
          <div class="d-flex align-items-center p-2">
            <span>出貨方式</span>
            <div class="pl-2">
              <select class="form-control">
                <option>全部方式</option>
                <option>現場領取</option>
                <option>郵局寄送</option>
                <option>超商取貨</option>
              </select>
            </div>
          </div>
          <div class="d-flex align-items-center p-2">
            <span>依付款日</span>
            <div class="pl-2">
              <select class="form-control">
                <option>三個月前</option>
              </select>
            </div>
            <div>
              <select class="form-control">
                <option>所有付款狀態</option>
                <option>未付款</option>
                <option>完款</option>
                <option>特殊狀態</option>
              </select>
            </div>
          </div>
          <div class="d-flex align-items-center ml-5 pl-4">
            <div class="ml-2">
              <button type="button" class="btn btn-primary">開始搜尋</button>
            </div>
            <small class="pl-4">／／先完款先出貨篩選，特殊狀態需另外篩選</small>
          </div>
        </div>
      </div>
      <div class="d-flex border-bottom">
        <b-nav>
          <b-nav-item :active="tab === 1" @click="tab = 1" class="arrNav"
            :class="{active:tab === 1}">全部</b-nav-item>
          <b-nav-item :active="tab === 2" @click="tab = 2" class="arrNav"
            :class="{active:tab === 2}">已排出貨</b-nav-item>
          <b-nav-item :active="tab === 3" @click="tab = 3" class="arrNav"
            :class="{active:tab === 3}">未排出貨</b-nav-item>
          <b-nav-item :active="tab === 4" @click="tab = 4" class="arrNav"
            :class="{active:tab === 4}">進階篩選</b-nav-item>
          <b-nav-item :active="tab === 5" @click="tab = 5" class="arrNav"
            :class="{active:tab === 5}">相關商品</b-nav-item>
        </b-nav>
        <!-- <b-nav class="nav-tabs">
  <b-nav-item v-bind:active="tab === 1" v-on:click="tab = 1">Link 1</b-nav-item>
  <b-nav-item v-bind:active="tab === 2" v-on:click="tab = 2">Link 2</b-nav-item>
  <b-nav-item v-bind:active="tab === 3" v-on:click="tab = 3">Link 3</b-nav-item>
</b-nav> -->
      </div>
      <div class="d-flex flex-column p-2">
        <div class="d-flex justify-content-between p-2">
          <span>總共 180 筆訂單（搜尋時間：0.1秒，依<u>付款日升序</u>）</span>
          <small>2020/01/09~2020/04/09</small>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="9">
                <div class="d-flex align-items-center">
                  <span>欄位預設項目</span>
                  <u class="ml-3" v-if="!startEdit && ship_type!==''">{{ship_type}}</u>
                  <!-- <u class="ml-3" v-else-if="startEdit && ship_type===''">{{ship_type}}</u> -->
                  <div class="ml-3" v-else-if="startEdit">
                    <select class="form-control" v-model="ship_type">
                      <option>請選擇出貨方式</option>
                      <option>全部方式</option>
                      <option>現場領取</option>
                      <option>郵局寄送</option>
                      <option>超商取貨</option>
                    </select>
                  </div>
                  <span class="ml-3" v-if="!startEdit && ship_date!==''">{{ship_date}}</span>
                  <div v-else-if="startEdit">
                    <b-form-datepicker v-model="ship_date" class="ml-3"></b-form-datepicker>
                  </div>
                  <span class="ml-3" v-if="!startEdit && ship_date2!==''">{{ship_date2}}</span>
                  <div class="ml-3" v-else-if="startEdit">
                    <select v-model="ship_date2" class="custom-select">
                      <option value="">時段</option>
                      <option>全天</option>
                      <option>白天</option>
                      <option>晚上</option>
                    </select>
                  </div>
                  <div class="ml-3" v-if="!startEdit">
                    <button type="button" class="btn btn-primary"
                      @click="startEdit = true">編輯</button>
                  </div>
                  <div v-else class="ml-3">
                    <button type="button" class="btn btn-primary"
                      @click="startEdit = false">完成</button>
                  </div>
                </div>
              </th>
            </tr>
            <tr class="bg-light">
              <th></th>
              <th>商品</th>
              <th>數量</th>
              <th>狀態</th>
              <th>出貨方式</th>
              <th>其他待出貨品</th>
              <th>訂購人</th>
              <th>訂單備註</th>
              <th>訂單明細</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in on_ship_list" :key="index"
              :class="{'bg-success':whereIndex === index}" @click="whereIndex = index">
              <td>
                <div class="d-flex justify-content-between align-items-center">
                  <div>{{index + 1}}</div>
                  <div class="pl-4"><button type="button" class="btn btn-sm btn-outline-secondary"
                      v-b-modal.shipConfirm @click="ship_confirm(item, index)">出貨</button>
                  </div>
                </div>
              </td>
              <td>{{item.ship_title}}</td>
              <td>{{item.ship_count}}</td>
              <td>{{item.ship_status}}</td>
              <td>{{item.ship_moehod}}</td>
              <td></td>
              <td>
                <div class="d-flex flex-column">
                  <span>{{item.ship_purchaser}}</span>
                  <span>{{item.ship_phone}}</span>
                </div>
              </td>
              <td>{{item.ship_remark}}</td>
              <td>
                <div class="d-flex flex-column">
                  <span>{{item.ship_order_date}}</span>
                  <span>{{item.ship_uid}}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td class="bg-light" colspan="2">總訂購量</td>
              <td>80件</td>
              <td colspan="6"></td>
            </tr>
            <tr>
              <td class="bg-light" colspan="2">訂單已排出貨2筆，合計</td>
              <td>2件</td>
              <td class="bg-light">庫存量</td>
              <td colspan="5">
                <div class="d-flex justify-content-between align-items-center">
                  <span>10件（+預進40件）</span>
                  <div>
                    <button type="button" class="btn btn-outline-warning"
                      @click="excelHis = true">建立報表並匯出EXCEL</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal id="shipConfirm" ref="shipConfirm" title="出貨確認" hide-footer size="xl">
      <div v-if="!isconfirm_other && !ship_finish" class="d-flex flex-column">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="bg-light" align="right">出貨設定</td>
              <td>
                <div class="d-flex align-items-center">
                  <u class="ml-3">郵局寄送</u>
                  <span v-if="!startEdit2" class="ml-3">2020/08/08</span>
                  <div v-else-if="startEdit2">
                    <b-form-datepicker class="ml-3"></b-form-datepicker>
                  </div>
                  <span v-if="!startEdit2" class="ml-3">, 全天</span>
                  <div class="ml-3" v-else-if="startEdit2">
                    <select v-model="ship_date2_modal" class="custom-select">
                      <option value="">時段</option>
                      <option>全天</option>
                      <option>白天</option>
                      <option>晚上</option>
                    </select>
                  </div>
                  <div class="ml-3">
                    <button type="button" class="btn btn-primary"
                      @click="startEdit2 = true">另擇日期</button>
                  </div>
                  <div v-if="startEdit2" class="ml-3">
                    <button type="button" class="btn btn-primary"
                      @click="startEdit2 = false">完成</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="bg-light" align="right">品項</td>
              <td><span class="ml-3">{{temp_data.ship_title}}</span></td>
            </tr>
            <tr>
              <td class="bg-light" align="right">
                <div class="d-flex flex-column">
                  <span>收貨資訊</span>
                  <small>（與訂購人不同）</small>
                </div>
              </td>
              <td>
                <!-- <div class="d-flex justify-content-start">
                  <div class="d-flex flex-fill ml-3">
                    <div class="d-flex flex-column mr-5">
                      <span>收件人</span>
                      <span class="mt-3">收件地址</span>
                    </div>
                    <div v-if="!isEdit" class="d-flex flex-column">
                      <span>BBB</span>
                      <span class="mt-3">235新北市中和區</span>
                    </div>
                    <div v-else class="d-flex flex-column flex-fill">
                      <b-form-input></b-form-input>
                      <b-form-input></b-form-input>
                    </div>
                  </div>
                  <div class="d-flex flex-fill ml-5">
                    <div class="d-flex flex-column mr-5">
                      <span>聯絡電話</span>
                      <span class="mt-3">郵局</span>
                    </div>
                    <div v-if="!isEdit" class="d-flex flex-column">
                      <span>0987654321</span>
                      <span class="mt-3">ＯＯＯＯＯＯＯ</span>
                    </div>
                    <div v-else class="d-flex flex-column flex-fill ">
                      <b-form-input></b-form-input>
                      <b-form-input></b-form-input>
                    </div>
                  </div>
                </div> -->
                <div class="d-flex flex-column">
                  <div class="d-flex flex-fill ml-3">
                    <div class="d-flex flex-fill align-items-center">
                      <div class="d-flex mr-5">
                        <span>收件人</span>
                      </div>
                      <div v-if="!isEdit" class="d-flex">
                        <span>BBB</span>
                      </div>
                      <div v-else class="d-flex flex-fill">
                        <b-form-input></b-form-input>
                      </div>
                    </div>
                    <div class="d-flex flex-fill align-items-center">
                      <div class="d-flex mr-5 ml-2">
                        <span>聯絡電話</span>
                      </div>
                      <div v-if="!isEdit" class="d-flex">
                        <span>0911222333</span>
                      </div>
                      <div v-else class="d-flex flex-fill">
                        <b-form-input></b-form-input>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-fill ml-3 mt-3">
                    <div class="d-flex flex-fill align-items-center">
                      <div class="d-flex mr-4 pr-2">
                        <span>收件地址</span>
                      </div>
                      <div v-if="!isEdit" class="d-flex">
                        <span>235新北市中和區｜郵局ＯＯＯＯＯＯＯ</span>
                      </div>
                      <div v-else class="d-flex flex-fill">
                        <b-form-input></b-form-input>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex flex-column align-items-center" v-else-if="ship_finish">
        <span>
          訂單{{temp_data.ship_uid}}已完成出貨
        </span>
        <span>－－－</span>
        <span>本次出貨明細</span>
        <table class="table table-bordered">
          <thead>
            <tr class="bg-light">
              <th colspan="2">出貨狀態</th>
              <th>出貨商品</th>
              <th>數量</th>
              <th>收件人</th>
            </tr>
          </thead>
          <tbody v-if="temp_data.ship_other_pro.length > 0">
            <tr v-for="(item, index) in temp_data.ship_other_pro" :key="index">
              <td>{{item.status}}</td>
              <td>
                {{`${item.date}, ${item.date_Interval}`}}
              </td>
              <td>
                {{item.name}}
              </td>
              <td>{{item.count}}</td>
              <td>{{temp_data.ship_purchaser}}／{{temp_data.ship_address}}</td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td>{{temp_data.ship_status}}</td>
              <td>
                {{`${temp_data.ship_date}, ${temp_data.ship_date_Interval}`}}
              </td>
              <td>
                {{temp_data.ship_title}}
              </td>
              <td>{{temp_data.ship_count}}</td>
              <td>{{temp_data.ship_purchaser}}／{{temp_data.ship_address}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-else>
        <div class="d-flex flex-column">
          <span>本訂單{{temp_data.ship_uid}}存在其他商品，<br>請確認是否一併出貨（若分次出貨，請確認客戶是否完成多筆運費付款）</span>
          <span class="mt-3">目前已付運費：110元</span>
          <table class="table table-bordered">
            <thead>
              <tr class="bg-light">
                <th></th>
                <th>貨品狀態</th>
                <th>出貨商品</th>
                <th>數量</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in temp_data.ship_other_pro" :key="index">
                <td>
                  <b-form-checkbox></b-form-checkbox>
                </td>
                <td>{{item.status}}</td>
                <td>{{item.name}}</td>
                <td>{{item.count}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <template v-if="!isconfirm_other && !ship_finish" v-solt="modal-footer">
        <div class="d-flex justify-content-end align-items-center">
          <div class="mr-3">
            <button type="button" class="btn btn-primary" @click="closeModal()">取消</button>
          </div>
          <div class="mr-3" v-if="!isEdit">
            <button type="button" class="btn btn-primary" @click="isEdit = true">編輯</button>
          </div>
          <div class="mr-3" v-if="isEdit">
            <button type="button" class="btn btn-primary" @click="isEdit = false">編輯完成</button>
          </div>
          <div>
            <button type="button" class="btn btn-primary" @click="confirm_other()">確認完成</button>
          </div>
        </div>
      </template>
      <template v-if="isconfirm_other && !ship_finish" v-solt="modal-footer">
        <div class="d-flex justify-content-end align-items-center">
          <div class="mr-3">
            <button type="button" class="btn btn-primary">取消</button>
          </div>
          <div>
            <button type="button" class="btn btn-primary" @click="ship_finish = true">出貨</button>
          </div>
        </div>
      </template>
      <template v-else-if="ship_finish">
        <div class="d-flex justify-content-center">
          <div>
            <button type="button" class="btn btn-primary" @click="closeModal()">關閉</button>
          </div>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
  import _ from 'lodash';
  export default {
    data() {
      return {
        isEdit: false,
        whereIndex: 0,
        tab: 1,
        startEdit: false,
        startEdit2: false,
        excelHis: false,
        temp_data: {},
        temp_other: [],
        isconfirm_other: false,
        ship_finish: false,
        finallConfirm: false,
        ship_type: '請選擇出貨方式',
        ship_date: '請選擇日期',
        ship_date2: '時段',
        ship_date2_modal: '',
      };
    },
    methods: {
      closeModal() {
        let newPromise1 = new Promise((resolve, reject) => {
          this.$refs['shipConfirm'].hide();
          resolve(true);
        });
        newPromise1.then((element) => {
          console.log(element);
          // this.isconfirm_other = false;
          // this.ship_finish = false;
        });
      },
      ship_confirm(item, index) {
        this.whereIndex = index;
        this.isconfirm_other = false;
        this.ship_finish = false;
        this.temp_data = {};
        console.log(item);
        this.temp_data = _.cloneDeep(item);
      },
      confirm_other() {
        if (this.temp_data.ship_other_pro.length > 0) {
          this.isconfirm_other = true;
        } else {
          // this.$refs['shipConfirm'].hide();
          console.log("1111222333");
          this.ship_finish = true;
        }
      },
      finallCon() {
        this.finallConfirm = true;
      }
    },
    computed: {
      on_ship_list: {
        get() {
          return this.$store.state.ship.on_ship_list;
        },
      },
    },
  };

</script>

<style lang="scss">
  .arrivalTitle {
    writing-mode: vertical-lr;
    width: 40px;
  }

  .arrNav {
    &.active {
      border-bottom: 5px solid blue;
    }
  }

  .shipList {
    background-color: aquamarine;
  }

</style>
