<template>
  <div class="">
    <section>
      <div class="container-lg p-0">
        <b-breadcrumb class="m-0 bg-transparent">
          <b-breadcrumb-item href="#home">
            <b-icon icon="house-fill" scale="1.25" shift-v="1.25" aria-hidden="true"></b-icon>
            商品管理
          </b-breadcrumb-item>
          <b-breadcrumb-item href="#foo" active>上架商品</b-breadcrumb-item>
        </b-breadcrumb>
      </div>
    </section>
    <div class="container-lg pt-1 p-0  border-top">
      <div class="row no-gutters">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <b-card border-variant="light" bg-variant="transparent"
              body-border-variant="transparent" body-bg-variant="transparent" body-class="p-0"
              header-border-variant="white" header-bg-variant="transparent"
              header-class="px-0 pt-2 pb-0" footer-border-variant="white"
              footer-bg-variant="transparent" footer-class="pt-4" class="w-100">
              <template v-slot:header>
                <ul class="nav nav-tabs flex-fill flex-nowrap overflow-x-auto">
                  <li class="nav-item text-nowrap ml-3">
                    <router-link class="nav-link"
                      :class="{active:path === '/InsertProduct/insBaseField'}"
                      to="/InsertProduct/insBaseField">基本資料</router-link>
                  </li>
                  <li class="nav-item text-nowrap">
                    <router-link class="nav-link"
                      :class="{active:path === '/InsertProduct/insCost'}"
                      to="/InsertProduct/insCost">消費相關</router-link>
                  </li>
                  <li class="nav-item text-nowrap">
                    <router-link class="nav-link"
                      :class="{active:path === '/InsertProduct/insSpecification'}"
                      to="/InsertProduct/insSpecification">規格方案</router-link>
                  </li>
                  <li class="nav-item text-nowrap">
                    <router-link class="nav-link"
                      :class="{active:path === '/InsertProduct/insStock'}"
                      to="/InsertProduct/insStock">庫存管理</router-link>
                  </li>
                  <li class="nav-item text-nowrap">
                    <router-link class="nav-link"
                      :class="{active:path === '/InsertProduct/insOther'}"
                      to="/InsertProduct/insOther">文宣／收據</router-link>
                  </li>
                </ul>
              </template>
              <div class="d-flex flex-fill">
                <router-view></router-view>
              </div>
              <template v-slot:footer>
                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-sm btn-outline-secondary">關閉 x</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary ml-3">暫存不上架</button>
                  <button type="button" class="btn btn-sm btn-primary ml-3">儲存 v</button>
                </div>
              </template>
            </b-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    methods: {
      backPage() {
        this.$router.go(-1);
      }
    },
    computed: {
      path() {
        return this.$route.path;
      }
    }
  };

</script>
<style lang="scss">
  .card {
    border-radius: 5px;
  }

</style>
