<template>
  <div :class="type" v-html="html">

  </div>
</template>

<script>
  // import '@/style/newsletter3.scss';
  export default {
    name: 'newletterExport',
    data() {
      return {
        type: '',
      }
    },
    created() {
      // console.log('asdasdasd');
      const getStyle = (name, path = "style") => () => {
        return require(`@/${path}/${name}.scss`);
      };
      // return import(`@/style/${this.$route.params.type}.scss`);
      let bbb = getStyle(this.$route.params.type, 'style');
      bbb.call();

      // console.log(this.$route.params.type);
      this.type = this.$route.params.type;
      // getPage(this.$route.params.type);
    },
    computed: {
      html: {
        get() {
          return this.$store.state.NewsLetter.html;
        }
      },
      switchStyle: {
        get() {
          return this.$store.state.NewsLetter.style.globalStyle.switchStyle;
        }
      }
    },
    beforeCreate() {

    },
    destroyed() {
      console.log('已銷毀');
    },
  }

</script>
<style lang='scss'>
  // @import '@/style/newsletter3.scss';

</style>
