<template>
  <div class="news container p-0">
    <div class="row no-gutters">
      <div class="col-12 d-flex justify-content-center">
        <div class="d-flex flex-fill">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td style="background-color:gray;">內部名稱</td>
                <td>衝刺班宣導DM</td>
                <td style="background-color:gray;">對象</td>
                <td>所有訂閱者（區間）／班務表／訂單（個人）</td>
              </tr>
              <tr>
                <td style="background-color:gray;">EMAIL主旨</td>
                <td>2／27衝刺班開跑</td>
                <td style="background-color:gray;">日期</td>
                <td>
                  <div class="d-flex justify-content-center">
                    <span>2020／3／25</span>
                    <b-form-checkbox class="ml-5" name="newsCheck2" value="accepted"
                      unchecked-value="not_accepted">同時發布公告於網站</b-form-checkbox>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <div class="row no-gutters">
                    <div class="col-12 d-flex justify-content-center">
                      <div class="d-flex flex-fill /*newLetterContent3*/"
                        :class="globalSt.switchStyle" ref="htmlall">
                        <div class="d-flex flex-fill">
                          <div class="d-flex flex-column flex-fill">
                            <div class="text-left" style="height:39px;">
                              <span>區塊版型</span>
                            </div>
                            <div class="d-flex flex-column p-2">
                              <div class="d-flex border hoverEdit">
                                <div class="title d-flex flex-column border-right align-items-center
                                  justify-content-center"
                                  :class="{editNowbg:collStatus.collapse_logo}">
                                  <div class="w-100 p-3 position-relative">
                                    <div
                                      class="d-flex justify-content-center align-items-center sticky-top">
                                      <span>頁首</span>
                                      <span @click="editNowNum(0), collStatus.collapse_logo =
                                        !collStatus.collapse_logo">
                                        <font-awesome-icon v-if="!collStatus.collapse_logo"
                                          class="editIcon ml-2" :icon="['fas', 'edit']" />
                                        <font-awesome-icon v-else class="editIcon ml-2"
                                          :icon="['fas', 'window-close']" />
                                      </span>
                                    </div>
                                  </div>
                                  <!-- <span v-if="editNow===0">（編輯中）</span> -->
                                </div>
                                <div class="outcontent px-3 d-flex flex-fill
                                  justify-content-center"
                                  :style="{'background-color':globalSt.bg_color}">
                                  <div
                                    class="d-flex newsContent newsLetterLogo justify-content-center align-items-center flex-fill"
                                    :style="{'background-image':`url(${Logo.img})`}">
                                    <span>{{Logo.coName}}</span>
                                  </div>
                                </div>
                              </div>
                              <template>
                                <newsHorizontal :Horizontal="Horizontal">
                                </newsHorizontal>
                              </template>
                              <template>
                                <newsContent1 :Content1="Content1"></newsContent1>
                              </template>
                              <template v-for="(item, index) in Content2">
                                <newsContent2 :index="Content2Group" :mydata="item" :num="index">
                                </newsContent2>
                              </template>
                              <template v-for="(item, index) in Content2_2">
                                <newsContent2_2 :index2="Content2_2Group" :mydata="item"
                                  :num="index">
                                </newsContent2_2>
                              </template>
                              <template>
                                <newsContent3></newsContent3>
                              </template>
                              <template>
                                <newsContent4></newsContent4>
                              </template>
                              <div class="d-flex border border-top-0">
                                <div
                                  class="p-3 d-flex flex-column flex-fill justify-content-between">
                                  <div>
                                    <button type="button" class="btn btn-outline-secondary">
                                      新增新區塊
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="d-flex border border-top-0 hoverEdit">
                                <div class="title border-right p-3 position-relative"
                                  :class="{editNowbg:collStatus.collapse_footer}">
                                  <div class="d-flex flex-column align-items-center sticky-top">
                                    <span
                                      class="d-flex justify-content-around px-1 pt-2"><span>7.</span><span
                                        @click="editNowNum(7), collStatus.collapse_footer = !collStatus.collapse_footer">
                                        <font-awesome-icon v-if="!collStatus.collapse_footer"
                                          class="editIcon ml-2" :icon="['fas', 'edit']" />
                                        <font-awesome-icon v-else class="editIcon ml-2"
                                          :icon="['fas', 'window-close']" />
                                      </span></span>
                                    <div
                                      class="d-flex flex-column justify-content-center align-items-center">
                                      <span class="px-1 pt-2">頁尾</span>
                                      <span class="px-1 pt-2">（固定）</span>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="outnewsFooter px-3 d-flex flex-fill justify-content-center">
                                  <div class="newsFooter newsLetterFooter p-3 d-flex flex-column">
                                    <div class="newsFooterRow p-3 d-flex justify-content-around">
                                      <div>
                                        <ul>
                                          <li><a
                                              :href="newsFooter.info[0].url">{{newsFooter.info[0].spantext}}</a>
                                          </li>
                                        </ul>
                                      </div>
                                      <div>
                                        <ul>
                                          <li><a
                                              :href="newsFooter.info[1].url">{{newsFooter.info[1].spantext}}</a>
                                          </li>
                                        </ul>
                                      </div>
                                      <div>
                                        <ul>
                                          <li><a
                                              :href="newsFooter.info[2].url">{{newsFooter.info[2].spantext}}</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="newsFooterRow p-3 d-flex justify-content-center">
                                      <span>&copy;2019{{newsFooter.coName}}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="w-50">
                          <div class="d-flex flex-column flex-fill sticky-top">
                            <b-nav tabs fill>
                              <b-nav-item :active="view==='local'" @click="changeView('local')">
                                區塊外觀
                              </b-nav-item>
                              <b-nav-item :active="view==='localStyle'"
                                @click="changeView('localStyle')">區塊設定</b-nav-item>
                              <b-nav-item :active="view==='globalStyle'"
                                @click="changeView('globalStyle')">全域設定
                              </b-nav-item>
                            </b-nav>
                            <template v-if="view === 'local'">
                              <div class="d-flex flex-column p-3 overflow-auto"
                                style="max-height:710px;">
                                <div class="d-flex w-100 flex-column border align-items-center p-3">
                                  <div class="d-flex w-100 justify-content-between">
                                    <div
                                      class="d-flex flex-fill align-items-center justify-content-start p-2">
                                      <div class="d-flex collapseTitle" @click="editNowNum(0), collStatus.collapse_logo =
                                        !collStatus.collapse_logo">
                                        <div class="border border-dark d-flex
                                        justify-content-center align-items-center p-0 w-100 h-100"
                                          style="min-width:20px; max-height:20px;"
                                          :class="{editNowbg:collStatus.collapse_logo}">
                                          <span>0</span>
                                        </div>
                                        <span class="ml-2">LOGO：</span>
                                        {{collStatus.collapse_logo}}
                                      </div>
                                    </div>
                                  </div>
                                  <b-collapse visible id="collapse_logo"
                                    v-model="collStatus.collapse_logo" accordion="my-accordion"
                                    role="tabpanel">
                                    <div class="d-flex flex-fill flex-column">
                                      <!-- <span class="text-nowrap">圖片URL：</span>
                                  <div>
                                    <b-form-input></b-form-input>
                                  </div> -->
                                      <div class="d-flex justify-content-center align-items-center px-1
                                        pt-2">
                                        <b-input-group prepend="img" class="mb-2 mr-sm-2 mb-sm-0">
                                          <b-input v-model="Logo.img">
                                          </b-input>
                                        </b-input-group>
                                      </div>
                                      <!-- <span class="text-nowrap">公司名：</span>
                                  <div>
                                    <b-form-input></b-form-input>
                                  </div> -->
                                      <div class="d-flex justify-content-center align-items-center px-1
                                        pt-2">
                                        <b-input-group prepend="公司名" class="mb-2 mr-sm-2 mb-sm-0">
                                          <b-input v-model="Logo.coName">
                                          </b-input>
                                        </b-input-group>
                                      </div>
                                    </div>
                                  </b-collapse>
                                </div>
                                <div class="p-3 d-flex flex-column border border-top-0">
                                  <div class="d-flex align-items-center justify-content-between
                                    flex-fill p-2">
                                    <div class="d-flex flex-fill collapseTitle" @click="editNowNum(1), collStatus.collapse_horizontal =
                                      !collStatus.collapse_horizontal">
                                      <div
                                        class="border border-dark d-flex justify-content-center align-items-center p-0 w-100 h-100"
                                        style="max-width:20px; max-height:20px;"
                                        :class="{editNowbg:collStatus.collapse_horizontal}">
                                        <span>1</span>
                                      </div>
                                      <span class="pl-2">版型選擇：</span>
                                    </div>
                                    <div>
                                      <select class="form-control">
                                        <option selected>橫幅區</option>
                                        <option>版型1-單欄</option>
                                        <option>版型2-兩欄</option>
                                        <option>版型2-兩欄-橫向</option>
                                        <option>版型3-三欄</option>
                                        <option>版型4-條列式</option>
                                      </select>
                                    </div>
                                  </div>
                                  <b-collapse v-model="collStatus.collapse_horizontal" visible
                                    id="collapse_horizontal" accordion="my-accordion"
                                    role="tabpanel">
                                    <div class="d-flex flex-column text-left flex-fill">

                                      <!-- <div class="d-flex align-items-center">
                                      <div>
                                        <span>H1 主標題：</span>
                                      </div>
                                      <div>
                                        <b-form-input v-model="Horizontal.h1text"></b-form-input>
                                      </div>
                                    </div> -->
                                      <div class="d-flex align-items-center px-1
                                        pt-2">
                                        <b-input-group prepend="H1 主標題"
                                          class="mb-2 mr-sm-2 mb-sm-0">
                                          <b-input v-model="Horizontal.h1text">
                                          </b-input>
                                        </b-input-group>
                                      </div>
                                      <!-- <div class="d-flex align-items-center">
                                      <div>
                                        <span>H2 主標題：</span>
                                      </div>
                                      <div>
                                        <b-form-input v-model="Horizontal.h2text"></b-form-input>
                                      </div>
                                    </div> -->
                                      <div class="d-flex align-items-center px-1
                                        pt-2">
                                        <b-input-group prepend="H2 主標題"
                                          class="mb-2 mr-sm-2 mb-sm-0">
                                          <b-input v-model="Horizontal.h2text">
                                          </b-input>
                                        </b-input-group>
                                      </div>
                                      <!-- <div>
                                      <a href="#" @click.prevent>顯示 進階設定</a>
                                    </div> -->
                                      <div class="d-flex justify-content-end pt-2">
                                        <b-form-checkbox v-model="showHorizontal"
                                          name="check-button" switch>
                                          顯示進階設定
                                        </b-form-checkbox>
                                      </div>
                                      <template v-if="showHorizontal">
                                        <div class="d-flex align-items-center px-1
                                        pt-2">
                                          <span class="text-nowrap pr-2">背景顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Horizontal_style.bg_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input
                                              v-model="localSt.Horizontal_style.bg_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1
                                        pt-2">
                                          <span class="text-nowrap pr-2">主標顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Horizontal_style.h1_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input
                                              v-model="localSt.Horizontal_style.h1_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1
                                        pt-2">
                                          <span class="text-nowrap pr-2">次標顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Horizontal_style.h2_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input
                                              v-model="localSt.Horizontal_style.h2_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                      </template>
                                    </div>
                                  </b-collapse>
                                </div>
                                <div class="p-3 d-flex flex-column border border-top-0">
                                  <div
                                    class="d-flex align-items-center justify-content-between p-2">
                                    <div class="d-flex flex-fill collapseTitle" @click="editNowNum(2), collStatus.collapse_content1 =
                                      !collStatus.collapse_content1">
                                      <div
                                        class="border border-dark d-flex justify-content-center align-items-center p-0 w-100 h-100"
                                        style="max-width:20px; max-height:20px;"
                                        :class="{editNowbg:collStatus.collapse_content1}">
                                        <span>2</span>
                                      </div>
                                      <span class="pl-2">版型選擇：</span>
                                    </div>
                                    <div>
                                      <select class="form-control">
                                        <option>橫幅區</option>
                                        <option selected>版型1-單欄</option>
                                        <option>版型2-兩欄</option>
                                        <option>版型2-兩欄-橫向</option>
                                        <option>版型3-三欄</option>
                                        <option>版型4-條列式</option>
                                      </select>
                                    </div>
                                  </div>
                                  <b-collapse v-model="collStatus.collapse_content1"
                                    id="collapse_content1" accordion="my-accordion" role="tabpanel">
                                    <div class="d-flex flex-column text-left flex-fill">
                                      <!-- <div
                                        class="d-flex align-items-center justify-content-between">
                                        <span>版型選擇：</span>
                                        <div>
                                          <select class="form-control">
                                            <option>橫幅區</option>
                                            <option selected>版型1-單欄</option>
                                            <option>版型2-兩欄</option>
                                            <option>版型2-兩欄-橫向</option>
                                            <option>版型3-三欄</option>
                                            <option>版型4-條列式</option>
                                          </select>
                                        </div>
                                      </div> -->

                                      <!-- <div class="d-flex align-items-center">
                                      <div>
                                        <span>H1 主標題：</span>
                                      </div>
                                      <div>
                                        <b-form-input v-model="Content1.h1text"></b-form-input>
                                      </div>
                                    </div> -->
                                      <div class="d-flex align-items-center px-1 pt-2">
                                        <b-input-group prepend="H1 主標題"
                                          class="mb-2 mr-sm-2 mb-sm-0">
                                          <b-form-input v-model="Content1.h1text">
                                          </b-form-input>
                                        </b-input-group>
                                      </div>
                                      <!-- <div class="d-flex align-items-center">
                                      <div>
                                        <span>p 內文：</span>
                                      </div>
                                      <div>
                                        <b-form-textarea v-model="Content1.ptext"></b-form-textarea>
                                      </div>
                                    </div> -->
                                      <div class="d-flex align-items-center px-1 pt-2">
                                        <b-input-group prepend="p 內文" class="mb-2 mr-sm-2 mb-sm-0">
                                          <b-form-textarea v-model="Content1.ptext">
                                          </b-form-textarea>
                                        </b-input-group>
                                      </div>
                                      <!-- <div class="d-flex align-items-center">
                                      <div>
                                        <span>Button 按鈕：</span>
                                      </div>
                                      <div>
                                        <b-form-input v-model="Content1.btntext"></b-form-input>
                                      </div>
                                    </div> -->
                                      <div class="d-flex align-items-center px-1 pt-2">
                                        <b-input-group prepend="Button"
                                          class="mb-2 mr-sm-2 mb-sm-0">
                                          <b-input v-model="Content1.btntext"></b-input>
                                        </b-input-group>
                                      </div>
                                      <!-- <div class="d-flex align-items-center">
                                      <div>
                                        <span>URL 超連結：</span>
                                      </div>
                                      <div>
                                        <b-form-input></b-form-input>
                                      </div>
                                    </div> -->
                                      <div class="d-flex align-items-center px-1 pt-2">
                                        <b-input-group prepend="Url" class="mb-2 mr-sm-2 mb-sm-0">
                                          <b-input></b-input>
                                        </b-input-group>
                                      </div>
                                      <div class="d-flex justify-content-end">
                                        <b-form-checkbox v-model="showContent1" name="check-button"
                                          switch>
                                          顯示進階設定
                                        </b-form-checkbox>
                                      </div>
                                      <template v-if="showContent1">
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">背景顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content1_style.bg_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input v-model="localSt.Content1_style.bg_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">內文顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content1_style.text_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input
                                              v-model="localSt.Content1_style.text_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">主標顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content1_style.title_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input
                                              v-model="localSt.Content1_style.title_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                      </template>
                                      <!-- <div>
                                      <a href="#"
                                        @click.prevent="showContent1_change(showContent1)">顯示
                                        進階設定</a>
                                    </div> -->
                                    </div>
                                  </b-collapse>
                                </div>
                                <div v-for="(item, index) in Content2" :key="index"
                                  class="p-3 d-flex flex-column border border-top-0">
                                  <div
                                    class="d-flex align-items-center justify-content-between p-2">
                                    <div class="d-flex flex-fill collapseTitle" @click="editNowNum(3), collStatus.collapse_content2 =
                                      !collStatus.collapse_content2">
                                      <div
                                        class="border border-dark d-flex justify-content-center align-items-center p-0 w-100 h-100"
                                        style="max-width:20px; max-height:20px;"
                                        :class="{editNowbg:collStatus.collapse_content2}">
                                        <span>3</span>
                                      </div>
                                      <span class="pl-2">版型選擇：</span>
                                    </div>
                                    <div>
                                      <select class="form-control">
                                        <option>橫幅區</option>
                                        <option>版型1-單欄</option>
                                        <option selected>版型2-兩欄</option>
                                        <option>版型2-兩欄-橫向</option>
                                        <option>版型3-三欄</option>
                                        <option>版型4-條列式</option>
                                      </select>
                                    </div>
                                  </div>
                                  <b-collapse v-model="collStatus.collapse_content2"
                                    id="collapse_content2" accordion="my-accordion" role="tabpanel">
                                    <div class="d-flex flex-fill flex-column text-left">

                                      <!-- <div class="d-flex justify-content-start align-items-center">
                                      <span>H1 主標題：</span>
                                      <div>
                                        <b-form-input v-model="item.h1text"></b-form-input>
                                      </div>
                                    </div> -->
                                      <div class="d-flex justify-content-start align-items-center px-1
                                        pt-2">
                                        <b-input-group prepend="H1 主標題"
                                          class="mb-2 mr-sm-2 mb-sm-0">
                                          <b-input v-model="item.h1text">
                                          </b-input>
                                        </b-input-group>
                                      </div>
                                      <div class="d-flex flex-column flex-fill  px-1 pt-2">
                                        <b-nav tabs fill>
                                          <b-nav-item v-for="(j, jindex) in item.info" :key="jindex"
                                            @click="Content2Group = jindex"
                                            :active="Content2Group === jindex">
                                            第{{jindex + 1}}組
                                          </b-nav-item>
                                          <!-- <b-nav-item @click="Content2Group = 1"
                                        :active="Content2Group === 1">第二組</b-nav-item> -->
                                        </b-nav>
                                        <div class="d-flex flex-column align-items-center p-2">
                                          <newsContent2Group :index="Content2Group">
                                          </newsContent2Group>
                                          <!-- <newsContent2Group :index="Content2Group" v-else>
                                      </newsContent2Group> -->
                                        </div>
                                      </div>
                                      <div class="d-flex justify-content-end">
                                        <a href="#" @click.prevent="upGroup2()">上一組</a>
                                        <span>／</span>
                                        <a href="#" @click.prevent="dnGroup2()">下一組</a>
                                      </div>
                                      <div class="d-flex justify-content-end pt-2">
                                        <b-form-checkbox v-model="showContent2" name="check-button"
                                          switch>
                                          顯示進階設定
                                        </b-form-checkbox>
                                      </div>
                                      <template v-if="showContent2">
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">背景顏色</span>
                                          <div class="d-flex flex-fill w-100 mx-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content2_style.bg_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 mx-2">
                                            <b-form-input v-model="localSt.Content2_style.bg_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">主標顏色</span>
                                          <div class="d-flex flex-fill w-100 mx-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content2_style.h1_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 mx-2">
                                            <b-form-input v-model="localSt.Content2_style.h1_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">次標顏色</span>
                                          <div class="d-flex flex-fill w-100 mx-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content2_style.title_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 mx-2">
                                            <b-form-input
                                              v-model="localSt.Content2_style.title_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">內文顏色</span>
                                          <div class="d-flex flex-fill w-100 mx-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content2_style.text_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 mx-2">
                                            <b-form-input
                                              v-model="localSt.Content2_style.text_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                      </template>
                                      <!-- <div>
                                      <a href="#"
                                        @click.prevent="showContent2_change(showContent2)">顯示
                                        進階設定</a>
                                    </div> -->
                                    </div>
                                  </b-collapse>
                                </div>
                                <div class="p-3 d-flex flex-column border border-top-0">
                                  <div
                                    class="d-flex align-items-center justify-content-between p-2">
                                    <div class="d-flex flex-fill collapseTitle" @click="editNowNum(4), collStatus.collapse_content2_2 =
                                      !collStatus.collapse_content2_2">
                                      <div
                                        class="border border-dark d-flex justify-content-center align-items-center p-0 w-100 h-100"
                                        style="max-width:20px; max-height:20px;"
                                        :class="{editNowbg:collStatus.collapse_content2_2}">
                                        <span>4</span>
                                      </div>
                                      <span class="pl-2">版型選擇：</span>
                                    </div>
                                    <div>
                                      <select class="form-control">
                                        <option>橫幅區</option>
                                        <option>版型1-單欄</option>
                                        <option>版型2-兩欄</option>
                                        <option selected>版型2-兩欄-橫向</option>
                                        <option>版型3-三欄</option>
                                        <option>版型4-條列式</option>
                                      </select>
                                    </div>
                                  </div>
                                  <b-collapse v-model="collStatus.collapse_content2_2"
                                    id="collapse_content2_2" accordion="my-accordion"
                                    role="tabpanel">
                                    <div class="d-flex flex-fill flex-column text-left">
                                      <!-- <div class="d-flex justify-content-start align-items-center">
                                      <span>H1 主標題：</span>
                                      <div>
                                        <b-form-input v-model="Content2_2[0].h1text"></b-form-input>
                                      </div>
                                    </div> -->
                                      <div class="d-flex justify-content-start align-items-center px-1
                                        pt-2">
                                        <b-input-group prepend="H1 主標題"
                                          class="mb-2 mr-sm-2 mb-sm-0">
                                          <b-input v-model="Content2_2[0].h1text">
                                          </b-input>
                                        </b-input-group>
                                      </div>
                                      <div class="d-flex flex-column flex-fill px-1 pt-2">
                                        <div class="form-group">
                                          <label for="newsSelectGroup">選擇組</label>
                                          <select v-model="Content2_2Group"
                                            class="form-control custom-select"
                                            name="newsSelectGroup">
                                            <option v-for="(item, index) in Content2_2[0].info"
                                              :key="index" :value="index"
                                              :selected="index === Content2_2Group">
                                              第{{index + 1}}組
                                            </option>
                                          </select>
                                        </div>
                                        <b-nav class="row no-gutters" tabs fill>
                                          <b-nav-item class="col-6"
                                            v-for="(item, index) in Content2_2[0].info" :key="index"
                                            @click="Content2_2Group = index"
                                            :active="Content2_2Group === index">
                                            第{{index+1}}組
                                          </b-nav-item>
                                        </b-nav>
                                        <div class="d-flex flex-column align-items-center p-2">
                                          <newsContent2_2Group :index="Content2_2Group"
                                            @newNum="newG">
                                          </newsContent2_2Group>
                                          <!-- <newsContent2_2Group :index="Content2_2Group" v-else>
                                        </newsContent2_2Group> -->
                                        </div>
                                      </div>
                                      <!-- <div>
                                      <button type="button" class="btn btn-primary"
                                        @click="addContent2_2(Content2_2[0].info[Content2_2[0].info.length-1].rowNum)">new{{Content2_2[0].info[Content2_2[0].info.length-1].rowNum}}</button>
                                    </div> -->
                                      <div class="d-flex justify-content-end">
                                        <a href="#" @click.prevent="upGroup2_2()">上一組</a>
                                        <span>／</span>
                                        <a href="#" @click.prevent="dnGroup2_2()">下一組</a>
                                      </div>
                                      <div class="d-flex justify-content-end pt-2">
                                        <b-form-checkbox v-model="showContent2_2"
                                          name="check-button" switch>
                                          顯示進階設定
                                        </b-form-checkbox>
                                      </div>
                                      <template v-if="showContent2_2">
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">背景顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content2_2_style.bg_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input
                                              v-model="localSt.Content2_2_style.bg_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">主標顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content2_2_style.h1_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input
                                              v-model="localSt.Content2_2_style.h1_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">次標顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content2_2_style.title_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input
                                              v-model="localSt.Content2_2_style.h1_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">內文顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content2_2_style.text_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input
                                              v-model="localSt.Content2_2_style.text_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">按鈕顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content2_2_style.btn_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input
                                              v-model="localSt.Content2_2_style.btn_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">按鈕border</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="number" :step="0.5" min="0.5"
                                              v-model="localSt.Content2_2_style.btn_border">
                                            </b-form-input>
                                          </div>
                                        </div>
                                      </template>
                                      <!-- <div>
                                      <a v-if="!showContent2_2" href="#"
                                        @click.prevent="showContent2_2_change(showContent2_2)">顯示
                                        進階設定</a>
                                      <a v-if="showContent2_2" href="#"
                                        @click.prevent="showContent2_2_change(showContent2_2)">隱藏
                                        進階設定</a>
                                    </div> -->
                                    </div>
                                  </b-collapse>
                                </div>
                                <div class="p-3 d-flex flex-column border border-top-0">
                                  <div
                                    class="d-flex align-items-center justify-content-between p-2">
                                    <div class="d-flex flex-fill collapseTitle" @click="editNowNum(5), collStatus.collapse_content3 =
                                      !collStatus.collapse_content3">
                                      <div
                                        class="border border-dark d-flex justify-content-center align-items-center p-0 w-100 h-100"
                                        style="max-width:20px; max-height:20px;"
                                        :class="{editNowbg:collStatus.collapse_content3}">
                                        <span>5</span>
                                      </div>
                                      <span class="pl-2">版型選擇：</span>
                                    </div>
                                    <div>
                                      <select class="form-control">
                                        <option>橫幅區</option>
                                        <option>版型1-單欄</option>
                                        <option>版型2-兩欄</option>
                                        <option>版型2-兩欄-橫向</option>
                                        <option selected>版型3-三欄</option>
                                        <option>版型4-條列式</option>
                                      </select>
                                    </div>
                                  </div>
                                  <b-collapse v-model="collStatus.collapse_content3"
                                    id="collapse_content3" accordion="my-accordion" role="tabpanel">
                                    <div class="d-flex flex-fill flex-column text-left">
                                      <div
                                        class="d-flex justify-content-start align-items-center px-1 pt-2">
                                        <span>H1 主標題：</span>
                                        <div>
                                          <b-form-input></b-form-input>
                                        </div>
                                      </div>
                                      <div class="d-flex flex-column flex-fill px-1 pt-2">
                                        <div>
                                          <b-nav tabs fill>
                                            <b-nav-item @click="Content3Group = 0"
                                              :active="Content3Group===0">第一組
                                            </b-nav-item>
                                            <b-nav-item @click="Content3Group = 1"
                                              :active="Content3Group===1">第二組
                                            </b-nav-item>
                                            <b-nav-item @click="Content3Group = 2"
                                              :active="Content3Group===2">第三組
                                            </b-nav-item>
                                          </b-nav>
                                        </div>
                                        <div class="d-flex flex-column align-items-center p-2">
                                          <newsContent3Group :index="Content3Group">
                                          </newsContent3Group>
                                        </div>
                                      </div>
                                      <div class="d-flex justify-content-end">
                                        <a href="#" @click.prevent="upGroup3()">上一組</a>
                                        <span>／</span>
                                        <a href="#" @click.prevent="dnGroup3()">下一組</a>
                                      </div>
                                      <!-- <div>
                                        <a href="#" @click.prevent>顯示 進階設定</a>
                                      </div> -->
                                      <div class="d-flex justify-content-end pt-2">
                                        <b-form-checkbox v-model="showContent3" name="check-button"
                                          switch>
                                          顯示進階設定
                                        </b-form-checkbox>
                                      </div>
                                      <template v-if="showContent3">
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">背景顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content3_style.bg_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input v-model="localSt.Content3_style.bg_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">主標顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content3_style.h1_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input v-model="localSt.Content3_style.h1_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">次標顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content3_style.title_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input
                                              v-model="localSt.Content3_style.title_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">內文顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content3_style.text_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input
                                              v-model="localSt.Content3_style.text_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">按鈕顏色</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="color"
                                              v-model="localSt.Content3_style.btn_color">
                                            </b-form-input>
                                          </div>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input
                                              v-model="localSt.Content3_style.btn_color">
                                            </b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <span class="text-nowrap pr-2">按鈕border</span>
                                          <div class="d-flex flex-fill w-100 px-2">
                                            <b-form-input type="number" :step="0.5" min="0.5"
                                              v-model="localSt.Content3_style.btn_border">
                                            </b-form-input>
                                          </div>
                                        </div>
                                      </template>
                                    </div>
                                  </b-collapse>
                                </div>
                                <div class="p-3 d-flex flex-column border border-top-0">
                                  <div
                                    class="d-flex align-items-center justify-content-between p-2">
                                    <div class="d-flex flex-fill collapseTitle" @click="editNowNum(6), collStatus.collapse_content4 =
                                      !collStatus.collapse_content4">
                                      <div
                                        class="border border-dark d-flex justify-content-center align-items-center p-0 w-100 h-100"
                                        style="max-width:20px; max-height:20px;"
                                        :class="{editNowbg:collStatus.collapse_content4}">
                                        <span>6</span>
                                      </div>
                                      <span class="pl-2">版型選擇：</span>
                                    </div>
                                    <div>
                                      <select class="form-control">
                                        <option>橫幅區</option>
                                        <option>版型1-單欄</option>
                                        <option>版型2-兩欄</option>
                                        <option>版型2-兩欄-橫向</option>
                                        <option>版型3-三欄</option>
                                        <option selected>版型4-條列式</option>
                                      </select>
                                    </div>
                                  </div>
                                  <b-collapse v-model="collStatus.collapse_content4"
                                    id="collapse_content4" accordion="my-accordion" role="tabpanel">
                                    <div class="d-flex flex-column flex-fill text-left">
                                      <div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <!-- <div>
                                            <span>H1 主標題：</span>
                                          </div>
                                          <div>
                                            <b-form-input v-model="Content4[0].h1text">
                                            </b-form-input>
                                          </div> -->
                                          <b-input-group prepend="H1 主標題"
                                            class="mb-2 mr-sm-2 mb-sm-0">
                                            <b-input v-model="Content4[0].h1text">
                                            </b-input>
                                          </b-input-group>
                                        </div>
                                        <div class="d-flex align-items-center px-1 pt-2">
                                          <!-- <div>
                                            <span>H2 次標題：</span>
                                          </div>
                                          <div>
                                            <b-form-input v-model="Content4[0].h2text">
                                            </b-form-input>
                                          </div> -->
                                          <b-input-group prepend="H2 次標題"
                                            class="mb-2 mr-sm-2 mb-sm-0">
                                            <b-input v-model="Content4[0].h2text">
                                            </b-input>
                                          </b-input-group>
                                        </div>
                                        <div v-for="(item, index) in Content4[0].litext"
                                          :key="index" class="d-flex align-items-center px-1 pt-2">
                                          <!-- <div>
                                            <span>span 第{{index + 1}}條列：</span>
                                          </div>
                                          <div>
                                            <b-form-input v-model="Content4[0].litext[index]">
                                            </b-form-input>
                                          </div> -->
                                          <b-input-group :prepend="`第${index + 1}條列`"
                                            class="mb-2 mr-sm-2 mb-sm-0">
                                            <b-input v-model="Content4[0].litext[index]">
                                            </b-input>
                                          </b-input-group>
                                        </div>
                                        <!-- <div class="d-flex align-items-center">
                                          <div>
                                            <span>span 第二條列：</span>
                                          </div>
                                          <div>
                                            <b-form-input></b-form-input>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                          <div>
                                            <span>span 第三條列：</span>
                                          </div>
                                          <div>
                                            <b-form-input></b-form-input>
                                          </div>
                                        </div> -->
                                      </div>
                                      <!-- <div>
                                        <a href="#" @click.prevent>隱藏 進階設定</a>
                                      </div> -->
                                      <div class="d-flex justify-content-end pt-2">
                                        <b-form-checkbox v-model="showContent4" name="check-button"
                                          switch>
                                          顯示進階設定
                                        </b-form-checkbox>
                                      </div>
                                      <div v-if="showContent4" class="d-flex">
                                        <div>
                                          <span>條列樣式：</span>
                                        </div>
                                        <div
                                          class="d-flex flex-fill justify-content-around px-1 pt-2">
                                          <b-form-radio v-model="localSt.Content4_style.li_style"
                                            name="newsRadio" value="decimal-leading-zero">OL數字
                                          </b-form-radio>
                                          <b-form-radio v-model="localSt.Content4_style.li_style"
                                            name="newsRadio" value="disc">UL符號
                                          </b-form-radio>
                                          <b-form-radio v-model="localSt.Content4_style.li_style"
                                            name="newsRadio" value="none">無
                                          </b-form-radio>
                                        </div>
                                      </div>
                                      <div class="d-flex justify-content-center px-1 pt-2">
                                        <span style="color:gray;">阿拉伯、大／小羅馬、大／小字母</span>
                                      </div>
                                    </div>
                                  </b-collapse>
                                </div>
                                <div class="p-3 d-flex flex-column border border-top-0">
                                  <div class="d-flex justify-content-between p-2">
                                    <div
                                      class="d-flex justify-content-start align-items-center w-100">
                                      <div class="d-flex flex-fill collapseTitle" @click="editNowNum(7), collStatus.collapse_footer =
                                        !collStatus.collapse_footer">
                                        <div
                                          class="border border-dark d-flex justify-content-center align-items-center p-0 w-100 h-100"
                                          style="max-width:20px; max-height:20px;"
                                          :class="{editNowbg:collStatus.collapse_footer}">
                                          <span>7</span>
                                        </div>
                                        <span class="pl-2">頁尾：</span>
                                      </div>
                                    </div>
                                  </div>
                                  <b-collapse v-model="collStatus.collapse_footer"
                                    id="collapse_footer" accordion="my-accordion" role="tabpanel">
                                    <div class="d-flex flex-fill flex-column text-left">
                                      <div class="d-flex flex-column flex-fill  px-1 pt-2">
                                        <div>
                                          <b-nav tabs fill>
                                            <b-nav-item @click="footerGroup = 0" :active="
                                              footerGroup===0">第一組
                                            </b-nav-item>
                                            <b-nav-item @click="footerGroup = 1" :active="
                                              footerGroup===1">第二組</b-nav-item>
                                            <b-nav-item @click="footerGroup = 2" :active="
                                              footerGroup===2">第三組</b-nav-item>
                                          </b-nav>
                                        </div>
                                        <div class="d-flex flex-column align-items-center p-2">
                                          <newsFooterGroup :index="footerGroup"></newsFooterGroup>
                                        </div>
                                      </div>
                                      <div class="d-flex justify-content-end px-1 pt-2">
                                        <a href="#" @click.prevent="upFooterGroup()">上一組</a>
                                        <span>／</span>
                                        <a href="#" @click.prevent="dnFooterGroup()">下一組</a>
                                      </div>
                                      <div
                                        class="d-flex align-items-center justify-content-start px-1 pt-2">
                                        <span class="text-nowrap">公司名：</span>
                                        <div>
                                          <b-form-input v-model="newsFooter.coName"></b-form-input>
                                        </div>
                                      </div>
                                    </div>
                                  </b-collapse>
                                </div>
                              </div>
                            </template>
                            <component v-if="view !== 'local'" :is="view"></component>
                            <button @click="exportHtml()" type="button"
                              class="btn btn-primary">匯出</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import newsletter from '@/js/newsletter';

  export default newsletter;

</script>
<style lang="scss">
</style>
