<template>
  <div class="container">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-start flex-fill">
        <b-nav tabs>
          <b-nav-item :active="switchTabs === 0" @click="switchTabs = 0" to="/printShip/shipedList">
            已排出貨區（11）</b-nav-item>
          <b-nav-item :active="switchTabs === 1" @click="switchTabs = 1" to="">出貨暫存區（2）</b-nav-item>
          <b-nav-item :active="switchTabs === 2" @click="switchTabs = 2"
            to="/printShip/waitConfirm">待核銷（2）</b-nav-item>
          <b-nav-item :active="switchTabs === 3" @click="switchTabs = 3" to="/printShip/finish">
            已完成出貨（15）
          </b-nav-item>
        </b-nav>
      </div>
      <router-view @emitTabs="parentMethod"></router-view>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        switchTabs: 0
      }
    },
    methods: {
      parentMethod(val) {
        console.log(val);
        this.switchTabs = val;
      },
    }
  };

</script>

<style lang="scss"></style>
