<template>
  <div>
    <b-nav id="proHeader" align="center">
      <div class="d-flex align-items-center">
        <b-nav-item to="/productManage/proOverview" class="mynavbtn">商品總覽
        </b-nav-item>
        <b-nav-item to="/productManage/proEdit/proBaseField"
          class="mynavbtn">批次編輯商品</b-nav-item>
        <b-nav-item to="/productManage/proUploadImg" class="mynavbtn">
          批次傳圖</b-nav-item>
        <b-nav-item to="/productManage/proClassify" class="mynavbtn">
          批次歸類</b-nav-item>
        <b-nav-item to="/productManage/proSortClass" class="mynavbtn">
          商品分類</b-nav-item>
        <!-- <b-nav-item v-if="isOverview">
          <div class="row no-gutters">
            <div class="col-12">
              <select v-model="sortnum" class="form-control" @change="changeSort(sortnum)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="6">6</option>
              </select>
            </div>
          </div>
        </b-nav-item>
        <b-nav-item v-if="isOverview">
          <b-form-input v-model="setWidth" placeholder="輸入您要的寬度"></b-form-input>
        </b-nav-item> -->
      </div>
    </b-nav>
    <router-view></router-view>
  </div>
</template>

<script>
import productManagement from '@/js/productManagement';

export default productManagement;
</script>

<style lang="scss">
</style>
