<template>
  <div class="container">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-start flex-fill">
        <b-nav tabs>
          <b-nav-item to="/shipManage/shipBase" :active="tabs === 0" @click="tabs = 0">出貨管理
          </b-nav-item>
          <b-nav-item to="/shipManage/shipTrack" :active="tabs === 1" @click="tabs = 1">貨品追蹤
          </b-nav-item>
        </b-nav>
      </div>
      <router-view @tabsNum="emitTabs"></router-view>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        tabs: 0,
      }
    },
    methods: {
      emitTabs(num) {
        this.tabs = num;
      }
    }
  };

</script>

<style lang="scss">

</style>
