.newLetterContent3 {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
    background-color: "#F2F3EF";
    border-collapse: collapse;
    mso-line-height-rule: exactly;

    body {
        margin: 0 !important;
        padding: 0 !important;
        -webkit-text-size-adjust: 100% !important;
        -ms-text-size-adjust: 100% !important;
        -webkit-font-smoothing: antialiased !important;
    }

    img {
        border: 0 !important;
        outline: none !important;
    }

    p {
        margin: 0px !important;
        padding: 0px !important;
    }

    table {
        border-collapse: collapse;
        mso-table-lspace: 0px;
        mso-table-rspace: 0px;
    }

    td,
    a,
    span {
        border-collapse: collapse;
        mso-line-height-rule: exactly;
    }

    .ExternalClass * {
        line-height: 100%;
    }

    a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }

    a img {
        display: block !important;
    }

    .appleLinks a {
        color: #666666;
        text-decoration: none;
    }

    .appleLinksBlack a {
        color: #000001;
        text-decoration: none;
    }

    @media only screen and (max-width: 640px) {
        td[class="paraHeadline"],
        .paraHeadline {
            font-size: 20px !important;
            line-height: 27px !important;
            padding: 0px 50px !important;
        }

        td[class="paraHeadline_15"],
        .paraHeadline_15 {
            font-size: 20px !important;
            line-height: 27px !important;
            padding: 0px 15px !important;
        }

        td[class="paraHeadline_25"],
        .paraHeadline_25,
        .paraHeadline_25_2 {
            font-size: 20px !important;
            line-height: 27px !important;
            padding: 0px 25px !important;
        }

        table[class="main_table"],
        .main_table {
            width: 414px !important;
        }

        img[class="em_logo"],
        .em_logo {
            width: 126px !important;
            height: auto !important;
        }

        td[class="em_hide"],
        br[class="em_hide"],
        span[class="em_hide"],
        div[class="em_hide"],
        .em_hide {
            display: none !important;
        }

        table[class="main_table_100"],
        .main_table_100 {
            width: 100% !important;
        }

        td[class="mobpad"],
        .mobpad {
            padding: 25px !important;
        }

        td[class="box1"],
        .box1 {
            font-size: 25px !important;
            line-height: 36px !important;
            padding: 0 40px;
        }

        td[class="box5"],
        .box5 {
            font-size: 16px !important;
            line-height: 38px !important;
        }

        td[class="box2"],
        .box2 {
            font-size: 20px !important;
            line-height: 27px !important;
        }

        td[class="box3"],
        .box3 {
            font-size: 15px !important;
            line-height: 33px !important;
        }

        td[class="box4"],
        .box4 {
            font-size: 15px !important;
            padding-bottom: 7px !important;
        }

        span[class="wrap"],
        .wrap {
            white-space: nowrap;
        }

        .CK_CTA_DAY_2_L1,
        .CK_CTA_DAY_2_L2 {
            width: 175px !important;
            line-height: 40px !important;
            font-size: 15px !important;
        }

        .CK_Social_CTA_1,
        .CK_Social_CTA_2 {
            width: 108px !important;
            line-height: 40px !important;
            font-size: 15px !important;
            margin-top: 7px;
        }

        td[class="mobpadCX"],
        .mobpadCX {
            padding: 15px !important;
            font-size: 15px !important;
            line-height: 17px !important;
        }

        img[class="em_img"],
        .em_img {
            width: 100% !important;
            height: auto !important;
        }

        img[class="em_img_52"],
        .ico-pinterest,
        .ico-youtube,
        .ico-instagram,
        .ico-twitter,
        .ico-face,
        .em_img_52 {
            width: 52px !important;
            height: 52px !important;
        }

        div[class="show"],
        .show {
            display: block !important;
            margin: 0 !important;
            padding: 0 !important;
            overflow: visible !important;
            width: auto !important;
            max-height: inherit !important;
        }

        td[class="em_center"],
        .em_center {
            text-align: center !important;
        }

        td[class="em_text_mob_2"],
        .em_text_mob_2 {
            font-size: 17px !important;
            line-height: 23px !important;
            padding: 0 30px !important;
        }

        td[class="mobpad2"],
        .mobpad2 {
            padding: 0px 35px !important;
        }

        td[class="mobpad3"],
        .mobpad3 {
            padding: 0px 35px !important;
            font-size: 18px !important;
            line-height: 27px !important;
        }

        td[class="mobpad32"],
        .mobpad32 {
            padding: 0px 32px !important;
        }

        td[class="em_15px"],
        .em_15px {
            font-size: 15px !important;
            line-height: 19px !important;
            padding: 12px 0px 5px !important;
        }

        td[class="em_10px_left"],
        .em_10px_left {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }

        td[class="em_left_text"],
        .em_left_text {
            text-align: left !important;
            padding-left: 10px !important;
        }

        span[class="em_menu"],
        .em_menu {
            display: block !important;
            width: 100% !important;
        }

        td[class="em_2rem_height"],
        .em_2rem_height {
            height: 32px !important;
        }

        td[class="em_height_60"],
        .em_height_60 {
            height: 60px !important;
        }

        td[class="em_height_52"],
        .em_height_52 {
            height: 54px !important;
        }

        td[class="em_height_32"],
        .em_height_32 {
            height: 32px !important;
        }

        td[class="em_height_22"],
        .em_height_22 {
            height: 22px !important;
        }

        td[class="em_height_38"],
        .em_height_38 {
            height: 38px !important;
        }

        td[class="welcome_text_normal"],
        .welcome_text_normal,
        .welcome_text_bold,
        .welcome_text_italic {
            font-size: 20px !important;
            line-height: 32px !important;
        }

        .CK_Download_CTA_1,
        .CK_Download_CTA_2 {
            width: 188px !important;
            line-height: 40px !important;
            font-size: 15px !important;
        }

        .CK_Recipe_CTA_1,
        .CK_Recipe_CTA_2 {
            width: 100px !important;
            line-height: 40px !important;
            font-size: 15px !important;
        }

        .Body_Recipe {
            width: 368px !important;
            height: 297px !important;
        }

        .CK_Social_Video {
            width: 100% !important;
            height: auto !important;
        }

        td[class="mobpad22"],
        .mobpad22 {
            padding: 0 22px !important;
        }

        .red_C_Logo {
            padding: 3px !important;
            width: 36px !important;
            height: auto !important;
        }

        .video_text_1 {
            font-size: 15px !important;
        }

        .video_text_2 {
            font-size: 14px !important;
        }

        .em_card {
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
        }
    }

    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        #staticBanner {
            display: none !important;
        }
    }

    @media only screen and (max-width: 480px) {
        td[class="mobpad"],
        .mobpad {
            padding: 20px !important;
        }
    }

    @media only screen and (min-width: 480px) and (max-width: 640px) {
        td[class="mobpad"],
        .mobpad {
            padding: 25px !important;
        }
    }

    .video_text_1 {
        font-size: 15px !important;
    }

    .video_text_11 {
        font-size: 15px !important;
    }

    .video_text_11 {
        font-size: 15px !important;
    }

    .newsLetterLogo {
        background-color: #f2f3ef;
    }

    .newsLetterHeader {
        border-collapse: collapse;
        color: #333333;
        background-color: #f2f3ef;
        font-family: Georgia, serif, Arial, Helvetica, sans-serif;
        font-size: 22.5px;
        font-weight: normal;
        line-height: 32px;
        mso-line-height-rule: exactly;
        text-align: center;
    }

    .newsLetterColumn1 {
        background-color: #f2f3ef;
        p,
        h1 {
            border-collapse: collapse;
            color: #4a4a4a;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 22px;
            font-weight: normal;
            line-height: 34px;
            mso-line-height-rule: exactly;
            text-align: center;
        }
        a {
            -webkit-text-size-adjust: none;
            background-color: #ee3d26;
            border: 1px solid #ee3d26;
            border-collapse: collapse;
            border-radius: 4px;
            color: #ffffff;
            display: inline-block;
            font-family: sans-serif;
            font-size: 13px;
            font-weight: bold;
            // line-height: 38px;
            mso-hide: all;
            mso-line-height-rule: exactly;
            text-align: center;
            text-decoration: none;
            width: 98px;
        }
        div {
            align-self: center;
        }
    }

    .newsLetterColumn2_1 {
        background-color: #f2f3ef;
        border-collapse: collapse;
        mso-line-height-rule: exactly;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        -webkit-border-horizontal-spacing: 0px;
        -webkit-border-vertical-spacing: 0px;
        width: 100%;
        .Column1 {
            div {
                padding-bottom: 15px;
                &:last-child {
                    padding-bottom: 0px;
                }
            }
        }
        p {
            border-collapse: collapse;
            mso-table-lspace: 0px;
            mso-table-rspace: 0px;
            border-collapse: collapse;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 19px;
            line-height: 27px;
            mso-line-height-rule: exactly;
        }
        h2 {
            border-collapse: collapse;
            mso-table-lspace: 0px;
            mso-table-rspace: 0px;
            border-collapse: collapse;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 19px;
            line-height: 27px;
            mso-line-height-rule: exactly;
        }
        div {
            a {
                -webkit-text-size-adjust: none;
                background-color: #ee3d26;
                border: 1px solid #ee3d26;
                border-collapse: collapse;
                border-radius: 4px;
                color: #ffffff;
                display: inline-block;
                font-family: sans-serif;
                font-size: 13px;
                font-weight: bold;
                // line-height: 38px;
                mso-hide: all;
                mso-line-height-rule: exactly;
                text-align: center;
                text-decoration: none;
                width: 98px;
            }
        }
    }
    .newsLetterColumn2_2 {
        background-color: #f2f3ef;
        .column1 {
            padding-left: 20px;
            padding-right: 20px;
        }
        h2 {
            border-collapse: collapse;
            color: #333333;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 22.5px;
            font-weight: normal;
            line-height: 32px;
            mso-line-height-rule: exactly;
            text-align: center;
        }
        p {
            border-collapse: collapse;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 19px;
            line-height: 27px;
        }
        a {
            -webkit-text-size-adjust: none;
            background-color: #ee3d26;
            border: 1px solid #ee3d26;
            border-collapse: collapse;
            border-radius: 4px;
            color: #ffffff;
            display: inline-block;
            font-family: sans-serif;
            font-size: 13px;
            font-weight: bold;
            // line-height: 38px;
            mso-hide: all;
            mso-line-height-rule: exactly;
            text-align: center;
            text-decoration: none;
            width: 98px;
            align-self: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    .newsLetterColumn3 {
        background-color: #f2f3ef;
        h1 {
            border-collapse: collapse;
            color: #4a4a4a;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 22px;
            font-weight: normal;
            line-height: 34px;
            mso-line-height-rule: exactly;
            text-align: center;
        }
        h2 {
            border-collapse: collapse;
            color: #333333;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 22.5px;
            font-weight: normal;
            line-height: 32px;
            mso-line-height-rule: exactly;
            text-align: center;
        }
        p {
            border-collapse: collapse;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 19px;
            line-height: 27px;
        }
        a {
            -webkit-text-size-adjust: none;
            background-color: #ee3d26;
            border: 1px solid #ee3d26;
            border-collapse: collapse;
            border-radius: 4px;
            color: #ffffff;
            display: inline-block;
            font-family: sans-serif;
            font-size: 13px;
            font-weight: bold;
            // line-height: 38px;
            mso-hide: all;
            mso-line-height-rule: exactly;
            text-align: center;
            text-decoration: none;
            width: 98px;
            align-self: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .newsLetterList {
        background-color: #f2f3ef;
        h1 {
            border-collapse: collapse;
            color: #4a4a4a;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 22px;
            font-weight: normal;
            line-height: 34px;
            mso-line-height-rule: exactly;
            text-align: center;
        }
        h2 {
            border-collapse: collapse;
            color: #333333;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 22.5px;
            font-weight: normal;
            line-height: 32px;
            mso-line-height-rule: exactly;
            text-align: center;
        }
        li {
            border-collapse: collapse;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 19px;
            line-height: 27px;
        }
    }
    .newsLetterFooter {
        background-color: #e6e7e3;
        .newsFooterRow {
            li {
                border-collapse: collapse;
                color: #666666;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
                line-height: 16px;
            }
            span {
                border-collapse: collapse;
                color: #999999;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 11px;
                line-height: 15px;
                mso-line-height-rule: exactly;
            }
        }
    }

    // .hoverEdit {
    //     &:hover {
    //         .editIcon {
    //             opacity: 1;
    //             // display: inline-block;
    //             cursor: pointer;
    //         }
    //     }
    // }
}
