.newsletter3 {
    .newsLetterLogo {
        background-color: #f2f3ef;
    }

    .newsLetterHeader {
        border-collapse: collapse;
        color: #333333;
        background-color: #f2f3ef;
        font-family: Georgia, serif, Arial, Helvetica, sans-serif;
        font-size: 22.5px;
        font-weight: normal;
        line-height: 32px;
        mso-line-height-rule: exactly;
        text-align: center;
    }

    .newsLetterColumn1 {
        background-color: #f2f3ef;
        p,
        h1 {
            border-collapse: collapse;
            color: #4a4a4a;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 22px;
            font-weight: normal;
            line-height: 34px;
            mso-line-height-rule: exactly;
            text-align: center;
        }
        a {
            -webkit-text-size-adjust: none;
            background-color: #ee3d26;
            border: 1px solid #ee3d26;
            border-collapse: collapse;
            border-radius: 4px;
            color: #ffffff;
            display: inline-block;
            font-family: sans-serif;
            font-size: 13px;
            font-weight: bold;
            // line-height: 38px;
            mso-hide: all;
            mso-line-height-rule: exactly;
            text-align: center;
            text-decoration: none;
            width: 98px;
        }
        div {
            align-self: center;
        }
    }

    .newsLetterColumn2_1 {
        background-color: #f2f3ef;
        border-collapse: collapse;
        mso-line-height-rule: exactly;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        -webkit-border-horizontal-spacing: 0px;
        -webkit-border-vertical-spacing: 0px;
        width: 100%;
        .Column1 {
            div {
                padding-bottom: 15px;
                &:last-child {
                    padding-bottom: 0px;
                }
            }
        }
        p {
            border-collapse: collapse;
            mso-table-lspace: 0px;
            mso-table-rspace: 0px;
            border-collapse: collapse;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 19px;
            line-height: 27px;
            mso-line-height-rule: exactly;
        }
        h2 {
            border-collapse: collapse;
            mso-table-lspace: 0px;
            mso-table-rspace: 0px;
            border-collapse: collapse;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 19px;
            line-height: 27px;
            mso-line-height-rule: exactly;
        }
        div {
            a {
                -webkit-text-size-adjust: none;
                background-color: #ee3d26;
                border: 1px solid #ee3d26;
                border-collapse: collapse;
                border-radius: 4px;
                color: #ffffff;
                display: inline-block;
                font-family: sans-serif;
                font-size: 13px;
                font-weight: bold;
                // line-height: 38px;
                mso-hide: all;
                mso-line-height-rule: exactly;
                text-align: center;
                text-decoration: none;
                width: 98px;
            }
        }
    }
    .newsLetterColumn2_2 {
        background-color: #f2f3ef;
        .column1 {
            padding-left: 20px;
            padding-right: 20px;
        }
        h2 {
            border-collapse: collapse;
            color: #333333;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 22.5px;
            font-weight: normal;
            line-height: 32px;
            mso-line-height-rule: exactly;
            text-align: center;
        }
        p {
            border-collapse: collapse;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 19px;
            line-height: 27px;
        }
        a {
            -webkit-text-size-adjust: none;
            background-color: #ee3d26;
            border: 1px solid #ee3d26;
            border-collapse: collapse;
            border-radius: 4px;
            color: #ffffff;
            display: inline-block;
            font-family: sans-serif;
            font-size: 13px;
            font-weight: bold;
            // line-height: 38px;
            mso-hide: all;
            mso-line-height-rule: exactly;
            text-align: center;
            text-decoration: none;
            width: 98px;
            align-self: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    .newsLetterColumn3 {
        background-color: #f2f3ef;
        h1 {
            border-collapse: collapse;
            color: #4a4a4a;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 22px;
            font-weight: normal;
            line-height: 34px;
            mso-line-height-rule: exactly;
            text-align: center;
        }
        h2 {
            border-collapse: collapse;
            color: #333333;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 22.5px;
            font-weight: normal;
            line-height: 32px;
            mso-line-height-rule: exactly;
            text-align: center;
        }
        p {
            border-collapse: collapse;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 19px;
            line-height: 27px;
        }
        a {
            -webkit-text-size-adjust: none;
            background-color: #ee3d26;
            border: 1px solid #ee3d26;
            border-collapse: collapse;
            border-radius: 4px;
            color: #ffffff;
            display: inline-block;
            font-family: sans-serif;
            font-size: 13px;
            font-weight: bold;
            // line-height: 38px;
            mso-hide: all;
            mso-line-height-rule: exactly;
            text-align: center;
            text-decoration: none;
            width: 98px;
            align-self: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .newsLetterList {
        background-color: #f2f3ef;
        h1 {
            border-collapse: collapse;
            color: #4a4a4a;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 22px;
            font-weight: normal;
            line-height: 34px;
            mso-line-height-rule: exactly;
            text-align: center;
        }
        h2 {
            border-collapse: collapse;
            color: #333333;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 22.5px;
            font-weight: normal;
            line-height: 32px;
            mso-line-height-rule: exactly;
            text-align: center;
        }
        li {
            border-collapse: collapse;
            font-family: Georgia, serif, Arial, Helvetica, sans-serif;
            font-size: 19px;
            line-height: 27px;
        }
    }
    .newsLetterFooter {
        background-color: #e6e7e3;
        .newsFooterRow {
            li {
                border-collapse: collapse;
                color: #666666;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
                line-height: 16px;
            }
            span {
                border-collapse: collapse;
                color: #999999;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 11px;
                line-height: 15px;
                mso-line-height-rule: exactly;
            }
        }
    }

    // .hoverEdit {
    //     &:hover {
    //         .editIcon {
    //             opacity: 1;
    //             // display: inline-block;
    //             cursor: pointer;
    //         }
    //     }
    // }
}
