.newsletter2 {
    .newsLetterLogo {
    }

    .newsLetterHeader {
        padding: 0px;
        background-color: #aaa;
        background: url(https://erp.magee.tw/data/COM17051000010/WImage/Header.jpg);
        background-repeat: no-repeat;
        background-position: 100% 50%;
        background-size: cover;

        div {
            padding: 40px 10px 40px;
            margin: 0px;
            text-align: right;
            letter-spacing: 2px;
            background: rgba(0, 0, 0, 0.6);

            h1 {
                text-align: center;
                margin-top: 0rem;
                margin-bottom: 0.75rem;
                line-height: 1.2;
                text-shadow: 0px 0px 5px black;
                font-size: 2rem;
                color: #ff0000;
            }

            h2 {
                text-align: center;
                margin: 0px;
                color: #ffffff;
                font-size: 1rem;
            }
        }
    }

    .newsLetterColumn1 {
        text-align: left;
        display: inline-block;
        max-width: 100%;
        vertical-align: middle;
        font-family: "Microsoft JhengHei";
        padding: 12px 12px 4px 12px;

        h1 {
            line-height: 1.5;
            text-align: center;
            margin-bottom: 0;
            color: #ab7c14;
        }

        p {
            text-align: left;
            line-height: 1.5;
        }
    }

    .newsLetterColumn2-1 {
        .img1 {
        }

        .Column1 {
            width: 90%;
            font-family: "Microsoft JhengHei";
            word-break: break-word;
            color: #4d4d4d;
            padding: 8px;
            text-align: center;
            border: 1px solid #aaaaaa;

            h2 {
                margin: 0px 0px 0.75rem;
                text-align: center;
                font-size: 18px;
            }

            p {
                text-align: left;
                line-height: 1.5;
                padding-left: 30px;
            }

            a {
                margin: 5px;
                display: inline-block;
                line-height: 1.5;
                min-width: 80px;
                padding: 8px 5px;
                background-color: #ab1414;
                color: #ffffff;
                border-radius: 5px;
                text-align: center;
                text-decoration: none;
            }
        }

        .img2 {
        }

        .Column2 {
            width: 90%;
            font-family: "Microsoft JhengHei";
            word-break: break-word;
            color: #4d4d4d;
            padding: 8px;
            text-align: center;
            border: 1px solid #aaaaaa;

            h2 {
                margin: 0px 0px 0.75rem;
                text-align: center;
                font-size: 18px;
            }

            p {
                text-align: left;
                line-height: 1.5;
                padding-left: 30px;
            }

            a {
                margin: 5px;
                display: inline-block;
                line-height: 1.5;
                min-width: 80px;
                padding: 8px 5px;
                background-color: #ab7c14;
                color: #ffffff;
                border-radius: 5px;
                text-align: center;
                text-decoration: none;
            }
        }
    }

    .newsLetterColumn2_2 {
        .column1,
        .column2 {
            text-align: left;
            display: inline-block;
            // max-width: 300px;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: top;
            padding: 12px;
            font-family: "Microsoft JhengHei";

            h2 {
                text-align: left;
                margin: 0 0 8px;
                padding-top: 8px;
                font-size: 18px;
                color: #ab1414;
            }

            p {
                text-align: left;
                line-height: 1.5;
            }

            hr {
                margin: 4px 0;
                border: 0;
                border-bottom: 1px solid #333;
            }

            a {
                margin: 5px;
                display: inline-block;
                min-width: 80px;
                padding: 8px 5px;
                color: #ab7c14;
                border: 1px solid #ab7c14;
                border-radius: 5px;
                text-decoration: none;
                font-family: "Microsoft JhengHei";
            }
        }
    }

    .newsLetterColumn3 {
    }

    .newsLetterList {
    }
}
