@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

body,
html {
    font-size: 15px;
    font-family: "微軟正黑體";
}

.custom-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.overflow-y-auto {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto !important;
    overflow-x: hidden !important;

    &::-webkit-scrollbar {
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #999;
    }

    &::-webkit-scrollbar-track {
    }

    &::-webkit-scrollbar-track-piece {
        border-bottom: 1px solid #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
}

.overflow-x-auto {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto !important;
    overflow-y: hidden !important;

    &::-webkit-scrollbar {
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #999;
    }

    &::-webkit-scrollbar-track {
    }

    &::-webkit-scrollbar-track-piece {
        border-bottom: 1px solid #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
}

.tableTitle {
    min-width: 125px;
    width: 125px;
}

.table-middle {
    &.table td,
    &.table th {
        vertical-align: middle;
    }
}

.custom-table {
    tbody > tr > th {
        // background-color: #eee;
        // border-bottom:1px solid #fff;
        width: 110px;
        text-align: right;
        white-space: nowrap;
        font-weight: normal;
    }

    tbody > tr > td {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    @include media-breakpoint-down(sm) {
        tbody > tr > th,
        tbody > tr > td {
            display: block;
            width: 100%;
            text-align: left;
        }

        tbody > tr > td {
            padding-top: 0.1rem;
            padding-bottom: 0.75rem;
        }
    }
}

.Other {
    width: 900px;

    ul {
        li {
            list-style: square;
        }
    }
}

.Stock {
    width: 900px;

    input {
        width: 100px;
    }

    ul {
        li {
            list-style: square;
        }
    }
}

.costCon {
    ul {
        li {
            list-style: square;
        }
    }
}

.proEditTable > div {
    border: 1px solid #dddddd;
    height: 70px;
}

.proSortClassTB {
    .c1 {
        width: 130px;
        min-width: 130px;
        overflow: auto;
    }

    .c2 {
        min-width: 920px;
        overflow: auto;
    }

    .c3 {
        min-width: 230px;
        overflow: auto;
    }
}

.news {
    .title {
        min-width: 100px;

        // span {
        //     margin-bottom: 10px;
        // }

        // div {
        //     margin-bottom: 10px;
        // }
    }
    // 外框
    .newsContent {
        // border: 1px solid;
        width: 100%;
        // flex: 1 1 auto!important;
        max-width: 900px;
        background-color: white;
        word-wrap: break-word;
    }

    .newsFooter {
        // border: 1px solid;
        width: 100%;
        // flex: 1 1 auto!important;
        max-width: 900px;
        background-color: white;
        word-wrap: break-word;
    }

    .outnewsFooter {
        background-color: rgb(151, 214, 99);
    }

    .newsFooterRow {
        border-bottom: 1px solid;

        &:last-child {
            border-bottom: 0px;
        }
    }

    .outcontent {
        // background-color: rgb(252, 186, 64);
    }

    .newsImg {
        // width: 350px;
        flex: 1 1 auto !important;
        // width: 100%;
        // border: 1px solid;
        // border-left: 0px;
        // border-bottom: 0px;
    }

    .newsContent2H2 {
        // border: 1px solid;
        // border-left: 0px;
        // border-right: 0px;
        // border-bottom: 0px;
        text-align: right;
    }

    .newsContent2Img {
        min-height: 200px;
        border: 1px solid #c8c8c8;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }

    .newsContent3Img {
        min-height: 200px;

        .newsImg:last-child {
            border-right: 0px;
        }
    }

    .newsContent3H2 {
        min-height: 200px;

        .newsImg:last-child {
            border-right: 0px;
        }
    }

    .newsContent3Btn {
        .newsImg:last-child {
            border-right: 0px;
        }
    }

    .newsContent4 {
        // border-bottom: 1px solid;

        &:last-child {
            border-bottom: 0px;
        }
    }

    // .d-flex.align-items-center {
    //     padding: 10px 10px 10px 10px;
    //     justify-content: space-between;
    // }

    // .fixedTopTest {
    //     position: relative;
    //     position: fixed;
    //     top: 0%;
    //     transform: translateY(-0%);
    // }
    .collapseTitle {
        cursor: pointer;
    }
    .editNowbg {
        background-color: rgba(0, 225, 255, 0.3);
    }
    .input-group-text {
        width: 100px;
    }
    .editIcon {
        // opacity: 0;
        // display: none;
        cursor: pointer;
    }
}
