<template>
  <div>
    <div class="row no-gutters">
      <div class="col-12 text-center footerFB">
        <h1>FB</h1>
      </div>
    </div>
    <div class="row no-gutters py-3">
      <div class="col-12">
        <small>領導第一品牌</small>
      </div>
      <div class="col-12">
        <div class="fTitle">馬跡領隊導遊訓練中心</div>
      </div>
      <div class="col-12">
        <small class="titleEng">MAGEE TRAINING CENTER</small>
      </div>
    </div>
  </div>
</template>
