<template>
  <div class="">
    <b-navbar id="header" align="center" type="light" variant="white" fixed="top"
      class="position-sticky">
      <b-navbar-brand>
        <img :src="FilePath+logindata.CompanyImage" alt="LOGO" style="max-width:130px" />
      </b-navbar-brand>
      <b-navbar-nav class="overflow-x-auto text-nowrap ml-auto" v-if='logindata.check'>
        <b-nav-item to="/order" class="mynavbtn">我的訂單</b-nav-item>
        <b-nav-item to="/productManage/proOverview" class="mynavbtn">商品管理</b-nav-item>
        <b-nav-item to="/shoppingCart" class="mynavbtn">購物車管理</b-nav-item>
        <b-nav-item to="/memberinformation" class="mynavbtn">會員資料</b-nav-item>
        <b-nav-item to="/changepassword" class="mynavbtn">修改密碼</b-nav-item>
        <b-nav-item to="/courseleave" class="mynavbtn">課程請假</b-nav-item>
        <b-nav-item to="/onlineService" class="mynavbtn">線上客服</b-nav-item>
        <b-nav-item to="/newsletter" class="mynavbtn">電子報</b-nav-item>
        <b-nav-item to="/printShip/shipedList" class="mynavbtn">列印出貨</b-nav-item>
        <b-nav-item to="/logout" class="mynavbtn">登出</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="overflow-x-auto text-nowrap ml-auto" v-if='!logindata.check'>
        <b-nav-item href='http://www.magee.tw'>回至前台</b-nav-item>
      </b-navbar-nav>
    </b-navbar>

  </div>
</template>
<script>
  import ctrl from "./js/header.js";
  export default ctrl;

</script>
