<template>
  <div class="d-flex flex-column border border-top-0 p-3 text-left">
    <span>※請勾選品項出貨</span>
    <table class="table table-bordered">
      <thead>
        <tr class="bg-light">
          <th>
            <b-form-checkbox></b-form-checkbox>
          </th>
          <th>貨品狀態</th>
          <th>出貨商品</th>
          <th>數量</th>
          <th colspan="2">出貨方式／預計出貨日</th>
          <th>收件人</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in order_ship_list" :key="index"
          :class="{isselectedShip:item.pro_isship}">
          <td>
            <b-form-checkbox :value="index" v-model="selected_ship" :disabled="item.pro_isship">
            </b-form-checkbox>
          </td>
          <td>{{tra_status(item)}}</td>
          <td>{{item.pro_name}}</td>
          <td>{{item.pro_count}}</td>
          <td>
            <div class="d-flex justify-content-between">
              <span>{{item.pro_ship_method}}</span>
              <span>{{item.pro_ship_method2}}</span>
            </div>
          </td>
          <td>{{item.pro_ship_date}}</td>
          <td>{{item.pro_receiver}}</td>
        </tr>
        <tr>
          <td colspan="3">合計</td>
          <td colspan="4">8件（6件未排出）</td>
        </tr>
        <tr>
          <td rowspan="2" colspan="2" class="bg-light">本次出貨設定</td>
          <td colspan="5">
            <div class="d-flex align-items-center">
              <div>
                <select v-model="ship_type" class="form-control">
                  <option value="">出貨方式</option>
                  <option value="on_site">現場領取</option>
                  <option value="post">郵局寄送</option>
                  <option value="on_ship">貨到付款</option>
                  <option value="cvs">超商領取</option>
                </select>
              </div>
              <div class="ml-3">
                <select v-model="ship_rule" class="form-control">
                  <option value="">出貨條件</option>
                  <option value="on_site">現領</option>
                  <option value="ship_now">直接出貨</option>
                  <option value="after_pay">付款後出</option>
                </select>
              </div>
              <div class="ml-3">
                <!-- <select class="form-control">
                  <option>預定日期</option>
                  <option>2020-04-08</option>
                </select> -->
                <b-form-datepicker v-model="ship_date">
                </b-form-datepicker>
              </div>
              <div class="ml-3">
                <select v-model="ship_date2" class="form-control">
                  <option value="">時段</option>
                  <option value="all">全天</option>
                  <option value="moring">白天</option>
                  <option value="night">晚上</option>
                </select>
              </div>
              <div class="ml-3">
                <a v-if="!address" href="#" @click.prevent="changeAddress()">不變更地址</a>
                <a v-else href="#" @click.prevent="changeAddress()">變更地址</a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td v-if="address" colspan="5">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <span class="mr-3">收件人</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                </div>
                <div class="d-flex align-items-center ml-5">
                  <span class="mr-3">聯絡電話</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center mt-3">
                <div class="d-flex align-items-center">
                  <span class="mr-3">收件地址</span>
                  <div>
                    <select class="form-control">
                      <option>235新北至中和區</option>
                    </select>
                  </div>
                </div>
                <div class="d-flex align-items-center ml-5">
                  <div class="ml-5 pl-4">
                    <b-form-input></b-form-input>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="7" class="bg-light">
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <div>
                  <button type="button" class="btn btn-outline-secondary">清除</button>
                </div>
                <div class="ml-3">
                  <button type="button" class="btn btn-outline-secondary">僅儲存不排出貨</button>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <span>已勾選2項目（共4件貨品）</span>
                <div>
                  <button type="button" class="btn btn-outline-secondary"
                    @click="toShip()">出貨</button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" @click="test_cancel()">出貨取消</button>
    <b-modal id="ship_modal" ref="ship_modal" title="預購／缺貨商品出貨確認" size="xl">
      <div class="d-flex flex-column">
        <span>
          您已勾選到預購／缺貨商品，即將安排出貨日2020-08-08，目前庫存仍不足<br>請確定是否安排出貨？
        </span>
        <table class="table table-bordered">
          <thead>
            <tr class="bg-light">
              <th>貨品狀態</th>
              <th>本次出貨商品</th>
              <th>出貨數量</th>
              <th>庫存量</th>
              <th>預計進貨日</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in temp_order_ship_list" :key="index">
              <td>{{item.pro_status}}</td>
              <td>{{item.pro_name}}</td>
              <td>{{item.pro_count}}</td>
              <td>{{item.pro_stock}}</td>
              <td>{{item.pro_input_date}}</td>
            </tr>
          </tbody>
        </table>
        <span>已付運費：110元（若需分次運送，請確認客戶是否完成多筆運費付款）</span>
      </div>
      <template v-slot:modal-footer>
        <div class="d-flex">
          <div>
            <b-button variant="outline-danger" @click="modal_hide()">取消</b-button>
          </div>
          <div>
            <b-button variant="outline-warning" @click="modal_to_ship()">出貨</b-button>
          </div>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        temp_order_ship_list: [],
        selected_id: [],
        address: false,
        ship_type: '',
        ship_rule: '',
        ship_date: '',
        ship_date2: '',
      };
    },
    methods: {
      test_cancel() {
        this.$store.commit('ship/cancel_ship');
      },
      tra_status(status) {
        if (status.pro_status === 'ship_cancel') {
          return '出貨單取消';
        } else if (status.pro_isship === true) {
          return '已安排出貨';
        } else if (status.pro_status === 'pre_order') {
          return '預購商品';
        } else if (status.pro_status === 'enough_inventory') {
          return '庫存尚足';
        }
      },
      modal_to_ship() {
        for (let i = 0; i < this.selected_ship.length; i += 1) {
          this.$store.commit("ship/changeIsship", this.selected_ship[i]);
        }
        this.$refs["ship_modal"].hide();
      },
      modal_hide() {
        this.$refs["ship_modal"].hide();
      },
      status(index) {},
      changeAddress() {
        if (this.address) {
          this.address = false;
        } else {
          this.address = true;
        }
      },
      // showMsgBoxOne(index) {
      //   console.log(index);
      //   this.boxOne = '';
      //   this.$bvModal.msgBoxOk('Action completed')
      //     .then((value) => {
      //       this.boxOne = value;
      //     });
      // },
      toShip() {
        // for (let i = 0; i < this.selected_ship.length; i += 1) {
        //   if (this.order_ship_list[this.selected_ship[i]].pro_status === 'pre_order') {
        //     // this.showMsgBoxOne(i);
        //     console.log(this.order_ship_list[this.selected_ship[i]].pro_status);
        //     break;
        //   } else {
        //     this.$store.commit('ship/changeIsship', this.selected_ship[i]);
        //   }
        // }
        if (this.ship_type !== '' && this.ship_rule !== '' && this.ship_date !== '' && this
          .ship_date2 !== '') {
          this.temp_order_ship_list = [];
          let selectStatus = this.selected_ship.map(item => {
            return this.order_ship_list[item].pro_status;
          });
          // console.log(selectStatus.indexOf('pre_order'));
          if (selectStatus.indexOf("pre_order") !== -1) {
            for (let i = 0; i < this.selected_ship.length; i += 1) {
              if (
                this.order_ship_list[this.selected_ship[i]].pro_status === "pre_order") {
                this.temp_order_ship_list.push(this.order_ship_list[this.selected_ship[i]]);
                console.log(this.temp_order_ship_list);
              }
            }
            this.$refs["ship_modal"].show();
          } else {
            for (let i = 0; i < this.selected_ship.length; i += 1) {
              if (
                this.order_ship_list[this.selected_ship[i]].pro_status !== "pre_order") { //
                console.log(this.selected_ship[i]);
                this.$store.commit("ship/changeIsship",
                  this.selected_ship[i]);
              }
            }
          }
        } else {
          alert('出貨設定不得為空');
        }



        // this.selected_ship.forEach((element) => {
        //   if (this.order_ship_list[element].pro_status === 'pre_order') {
        //     this.showMsgBoxOne(element);
        //   } else {
        //     this.$store.commit('ship/changeIsship', element);
        //   }
        // });
      }
    },
    created() {
      this.$emit('tabsNum', 0);
    },
    computed: {
      order_ship_list: {
        get() {
          return this.$store.state.ship.order_ship_list;
        }
      },
      selected_ship: {
        get() {
          return this.$store.state.ship.selected_ship;
        },
        set(data) {
          this.$store.commit("ship/changeSelected", data);
        }
      },
      order_ship_list_pre: {
        get() {
          return this.$store.state.ship.order_ship_list_pre;
        }
      }
    }
  };

</script>

<style lang="scss">
  .isselectedShip {
    background-color: red;
  }

</style>
