<template>
  <div class="row no-gutters">
    <div class="d-flex col-12 mt-5 justify-content-center align-items-center">
      <div class="d-flex flex-column border flex-fill">
        <div class="d-flex justify-content-center align-items-center p-2 bg-light">
          <span>消費限制<br>(單次購物需滿足此條件才能結帳)</span>
        </div>
        <div class="d-flex flex-column border-top p-2">
          <div class="d-flex justify-content-center align-items-center">
            <span>
              最低消費金額
            </span>
            <div>
              <b-input></b-input>
            </div>
            <span>元</span>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-2">
            <span>
              最低消費件數
            </span>
            <div>
              <b-input></b-input>
            </div>
            <span>件</span>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-2">
            <span>
              最多消費件數
            </span>
            <div>
              <b-input></b-input>
            </div>
            <span>件</span>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex col-12 justify-content-center">
      <button type="button" class="btn btn-primary">確定</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'cart_lowestLimit',
  }

</script>

<style>

</style>
