<template>
  <div class="d-flex flex-column">
    <div class="d-flex flex-fill justify-content-start">
      <ul class="text-left">
        <li>消費者結帳時，除了購物金額外，您可以於此設定額外的費用。</li>
      </ul>
    </div>
    <div class="d-flex flex-column border">
      <div class="d-flex justify-content-center align-items-center p-2 bg-light">
        <span>額外費用 設定</span>
      </div>
      <div class="d-flex">
        <div
          class="CartExtraTitle d-flex justify-content-center align-items-center p-2 bg-light border-top border-right">
          <span>額外費用名稱</span>
        </div>
        <div class="d-flex flex-fill align-items-center border-top p-2">
          <div>
            <b-input></b-input>
          </div>
          <div>
            <small>(例如：包裝費、手續費...等)</small>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div
          class="CartExtraTitle d-flex justify-content-center align-items-center p-2 bg-light border-top border-right">
          <span>額外費用<br>計算方式</span>
        </div>
        <div class="d-flex flex-fill flex-column border-top p-2">
          <div class="d-flex align-items-center">
            <b-form-radio name="CartExtraRadios" value="A">固定金額 =
            </b-form-radio>
            <div>
              <b-input></b-input>
            </div>
            <span>元</span>
          </div>
          <div class="row no-gutters">
            <div class="col-3">

            </div>
            <div class="col-9 d-flex justify-content-start">
              <small>例如：輸入 100 元，表示結帳時須另加 100元，如包裝費</small>
            </div>
          </div>
          <div class="d-flex align-items-center mt-2">
            <b-form-radio name="CartExtraRadios" value="A">
              <div>比例金額</div>
            </b-form-radio>
            <span>= 商品金額 *</span>
            <div>
              <b-input></b-input>
            </div>
            <span>%</span>
          </div>
          <div class="row no-gutters">
            <div class="col-3 d-flex justify-content-start">
              <small class="ml-4">
                (不含運費)
              </small>
            </div>
            <div class="col-9 d-flex justify-content-start">
              <small>例如：輸入 100 元，表示結帳時須另加 100元，如包裝費</small>
            </div>
          </div>
          <div class="d-flex align-items-center mt-2">
            <b-form-radio name="CartExtraRadios" value="A">
              <div>比例金額</div>
            </b-form-radio>
            <span>= ( 商品金額 + 運費 ) * </span>
            <div>
              <b-input></b-input>
            </div>
            <span>%</span>
          </div>
          <div class="row no-gutters">
            <div class="col-3 d-flex justify-content-start">
              <small class="ml-4">
                (含運費)
              </small>
            </div>
            <div class="col-9 d-flex justify-content-start">
              <small>例如：輸入 100 元，表示結帳時須另加 100元，如包裝費</small>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div
          class="CartExtraTitle d-flex justify-content-center align-items-center p-2 bg-light border-top border-right">
          <span>消費者是否<br>可以選擇此額外費用</span>
        </div>
        <div class="d-flex flex-column border-top p-2 flex-fill">
          <div class="d-flex justify-content-start align-content-center">
            <div>
              <b-form-radio name="CartExtraRadios2" value="A">不可選擇</b-form-radio>
            </div>
            <div>
              <small class="ml-2">當消費者結帳時，一定會加入此額外的費用</small>
            </div>
          </div>
          <div class="d-flex justify-content-start align-content-center mt-2">
            <div>
              <b-form-radio name="CartExtraRadios2" value="A">可以選擇</b-form-radio>
            </div>
            <div class="ml-2 d-flex flex-column text-left">
              <small>當消費者結帳時，可以選擇是否需加入此額外的費用</small>
              <small>例如，消費者可以勾選是否需要包裝，需要包裝則結帳時多加 100 元
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary">儲存</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'cart_extraCost'
  }

</script>

<style lang="scss">
  .CartExtraTitle {
    width: 180px;
  }

</style>
