<template>
  <div class="row no-gutters">
    <div class="d-flex col-12 justify-content-start align-items-center">
      <ul class="text-left">
        <li>消費者結帳時於購物車內需填入個人基本資料</li>
        <li>除了下列基本的欄位外，您可以新增一個自定的欄位，例如：希望的送貨時間...等</li>
      </ul>
    </div>
    <div class="d-flex col-12 justify-content-center align-items-center">
      <table class="table table-bordered">
        <thead>
          <tr class="bg-light">
            <th>欄位名稱</th>
            <th>型態</th>
            <th>設定</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in orderField" :key="index">
            <td class="bg-light">{{item.title}}</td>
            <td v-if="item.type==='Address'">
              <div class="d-flex flex-column text-left">
                <div class="d-flex flex-column" v-for="(j, jindex) in item.type_list" :key="jindex">
                  <b-form-radio name="CartOrderRadios" value="A">{{j.radioBtn}}
                  </b-form-radio>
                  <small>※{{j.text}}</small>
                </div>
              </div>
            </td>
            <td v-else>{{item.type}}</td>
            <td v-if="item.config.type==='text'">
              {{item.config.mustFill}}
            </td>
            <td v-else-if="item.config.type==='checkbox'">
              <b-form-checkbox>{{item.config.mustFill}}</b-form-checkbox>
            </td>
            <td v-else-if="item.config.type==='both'">
              <div class="d-flex flex-column">
                <span>{{item.config.mustFill}}</span>
                <b-form-checkbox>{{item.config.checttext}}</b-form-checkbox>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <a href="" @click.prevent>建立一個新欄位</a>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <button type="button" class="btn btn-primary">儲存</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'cart_orderField',
    computed: {
      orderField: {
        get() {
          return this.$store.state.shoppingCart.orderField;
        }
      }
    }
  }

</script>

<style>

</style>
