<template>
  <div class="d-flex flex-column flex-fill text-left align-items-center">
    <template v-if="!editCartSpe">
      <div class="text-left">
        <ul>
          <li>
            <small>
              通常您僅需要設定基本運費便可，但若某些特殊商品的運費是要獨立計算的，例：一台冰箱運費500元，則您可獨立為每個商品設定特殊運費
            </small>
          </li>
        </ul>
      </div>
      <div>
        <button type="button" class="btn btn-primary" @click="editCartSpe = true">編輯</button>
      </div>
      <div class="d-flex w-100 mt-2">
        <table class="table table-bordered">
          <thead align="center">
            <tr class="bg-light">
              <th>商品代碼</th>
              <th>商品名稱</th>
              <th>北部<br>運費</th>
              <th>中部<br>運費</th>
              <th>南部<br>運費</th>
              <th>東部<br>運費</th>
              <th>外島<br>運費</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="7">（目前無特殊運費的商品）</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex flex-column border">
        <div class="d-flex flex-fill justify-content-center align-items-center bg-light p-3">
          <span>特殊運費計算方式</span>
        </div>
        <div class="d-flex flex-column border-top p-3">
          <div>
            <b-form-radio name="CartSpeRadios" value="A">以最大特殊運費為準<small>（忽略次要的特殊運費、數量
                。適用於：出車一趟固定費用）</small></b-form-radio>
          </div>
          <div class="ml-4 text-success">
            <small>※ 例如一：<br>購買2台冰箱(每台特殊運費500元)和3張大床(每床特殊運費800元)<br>---> 則最後只以 800 元作為特殊運費</small>
          </div>
          <div class="ml-4 text-success">
            <small>※ 例如二：<br>購買10件基本運費的商品和5件低溫宅配商品(每件150元)<br>---> 則最後只以低溫宅配運費150元作為特殊運費</small>
          </div>
          <div class="mt-2">
            <b-form-radio name="CartSpeRadios" value="A">累加所有的特殊運費 = A商品特殊運費 * 數量 + B商品特殊運費 * 數量 +
              C商品特殊運費 * 數量...</b-form-radio>
          </div>
          <div class="ml-4 text-success">
            <small>※ 例如一：<br>購買2台冰箱(每台特殊運費500元)和3張大床(每床特殊運費800元)<br>---> 則特殊運費合計 500*2 + 800*3 =
              3400 元</small>
          </div>
        </div>
        <div
          class="d-flex flex-fill justify-content-center align-items-center bg-light border-top p-3">
          <span>總運費計算方式</span>
        </div>
        <div class="d-flex flex-column border-top p-3">
          <div>
            <b-form-radio name="CartSpeRadios2" value="A">總運費 = 基本運費 和 特殊運費 二者取較大的</b-form-radio>
          </div>
          <div class="mt-2">
            <b-form-radio name="CartSpeRadios2" value="A">總運費 = 基本運費 和 特殊運費 二者取較小的</b-form-radio>
          </div>
          <div class="mt-2">
            <b-form-radio name="CartSpeRadios2" value="A">總運費 = 基本運費 + 特殊運費</b-form-radio>
          </div>
          <div class="ml-4 text-success">
            <small>※ 若購買的商品全部都是特殊運費商品時，將忽略基本運費</small>
          </div>
          <div class="ml-4 text-success">
            <small>※ 消費者若選擇使用超商取貨，則系統將不理會您於本頁設定的特殊運費，一律僅會使用超商的基本運費</small>
          </div>
        </div>
        <div
          class="d-flex flex-fill justify-content-center align-items-center bg-light border-top p-3">
          <span>免運範圍</span>
        </div>
        <div class="d-flex flex-column border-top p-3">
          <div>
            <span>訂單內若含有<u>特殊運費商品</u>與<u>基本運費商品</u>時，當訂單滿足免運條件時：</span>
          </div>
          <div class="mt-2">
            <b-form-radio name="CartSpeRadios3" value="A">整張訂單免運</b-form-radio>
          </div>
          <div class="mt-2">
            <b-form-radio name="CartSpeRadios3" value="A">僅免基本運費 (特殊運費仍要計算)</b-form-radio>
          </div>
        </div>
      </div>
      <div class="mx-1 mt-2">
        <button type="button" class="btn btn-primary">存檔</button>
      </div>
    </template>
    <template v-else>
      <div>
        <button type="button" class="btn btn-primary" @click="editCartSpe = false">回上頁</button>
      </div>
      <div class="d-flex flex-column w-75">
        <div class="d-flex justify-content-start">
          <div>
            <select class="form-control custom-select" name="" id="">
              <option selected>分類一</option>
              <option value="">分類二</option>
              <option value="">分類三</option>
            </select>
          </div>
        </div>
        <div
          class="d-flex flex-fill border rounded justify-content-between align-items-center bg-light mt-2 p-3">
          <div>
            <select class="form-control custom-select" name="" id="">
              <option selected>商品代碼</option>
              <option value="">商品名稱</option>
              <option value="">後台備註</option>
            </select>
          </div>
          <div>
            <b-input></b-input>
          </div>
          <div>
            <b-form-radio name="CartSpeRadios4" value="A">所有分類</b-form-radio>
            <b-form-radio name="CartSpeRadios4" value="A">僅於此分類內</b-form-radio>
          </div>
          <div>
            <button type="button" class="btn btn-primary">查詢</button>
          </div>
        </div>
      </div>
      <span>無資料</span>
    </template>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        editCartSpe: false,
      }
    },
  }

</script>

<style>

</style>
