<template>
  <div class="d-flex flex-column flex-fill">
    <template v-if="!settingShip">
      <div class="text-left">
        <ul>
          <li>點選欲啟用的貨運方式［設定］進入後勾選啟用</li>
          <li>或是自行<a href="" @click.prevent>新增一個貨運方式</a>
          </li>
        </ul>
      </div>
      <div>
        <table class="table table-bordered">
          <thead>
            <tr class="bg-light">
              <th></th>
              <th>貨運方式</th>
              <th>貨運說明<br>（會顯示於購物車中給消費者看）</th>
              <th>環境參數</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in shipMethod_list" :key="index">
              <td>{{item.status}}</td>
              <td>
                <div class="d-flex flex-column">
                  <div class="d-flex justify-content-start">
                    {{item.name}}
                  </div>
                  <div class="d-flex justify-content-center">
                    <img :src="item.img">
                  </div>
                  <span>運費{{item.cost}}元</span>
                  <div class="d-flex justify-content-end">
                    <a href="" @click.prevent="settingShip = true, toSetting(item)">設定</a>
                  </div>
                </div>
              </td>
              <td>
                <ul class="text-left">
                  <li v-for="(j, jindex) in item.info" :key="jindex">
                    {{j}}
                  </li>
                </ul>
              </td>
              <td>
                <div class="d-flex flex-column" v-if="item.env.status">
                  <a href="" @click.prevent="" v-b-modal.CartShipModal>設定收款銀行</a>
                  <span class="px-1 pt-2">我的收款銀行：<br>{{item.env.setting.info}}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-left">
        <ul>
          <li>
            <div class="d-flex">
              <span>於單一商品頁面：</span>
              <b-form-radio name="CartShipBaseRadios" value="A">顯示啟用的貨運方式</b-form-radio>
              <b-form-radio class="ml-2" name="CartShipBaseRadios" value="B">隱藏啟用的貨運方式
              </b-form-radio>
            </div>
          </li>
        </ul>
      </div>
      <div class="border rounded flex-column text-left p-3 bg-light">
        <span class="px-1">總體免運設定：適用於所有貨運方式，若僅想要某個貨運方式有獨立設定，請點入該貨運方式個別設定</span>
        <span class="d-flex align-items-center px-1 pt-2">當購物［金額］超過<div>
            <b-input type="number"></b-input>
          </div>元時，免運費</span>
        <span class="d-flex align-items-center px-1 pt-2">當購物［件數］超過<div>
            <b-input type="number"></b-input>
          </div>元時，免運費</span>
        <span>不適用免運地區：</span>
        <div class="d-flex mt-2">
          <b-checkbox class="ml-2">北部</b-checkbox>
          <b-checkbox class="ml-2">中部</b-checkbox>
          <b-checkbox class="ml-2">南部</b-checkbox>
          <b-checkbox class="ml-2">東部</b-checkbox>
          <b-checkbox class="ml-2">外島</b-checkbox>
          <b-checkbox class="ml-2">非臺灣地區</b-checkbox>
        </div>
        <div class="mt-2 mx-1">
          <ul>
            <li><small>北部：臺北市 基隆市 新北市 桃園縣 桃園市 新竹市 新竹縣</small></li>
            <li><small>中部：苗栗縣 台中市 南投縣 彰化縣</small></li>
            <li><small>南部：雲林縣 嘉義市 嘉義縣 台南市 高雄市 屏東縣</small></li>
            <li><small>東部：宜蘭縣 花蓮縣 台東縣 。外島：澎湖縣 金門縣 連江縣</small></li>
          </ul>
        </div>
      </div>
      <div class="border rounded flex-column text-left p-3 mt-2 bg-light">
        <span>啟用全館免運<small>（啟用後將忽略所有的運費，適用於短期活動）</small></span>
        <b-form-radio name="CartShipBaseRadios2" value="A">不啟用</b-form-radio>
        <b-form-radio name="CartShipBaseRadios2" value="A">全館免運</b-form-radio>
        <b-form-radio name="CartShipBaseRadios2" value="A">全館免運（僅會員）</b-form-radio>
      </div>
      <div class="mx-1 mt-2">
        <button type="button" class="btn btn-primary" @click="settingShip = false">確定</button>
      </div>
    </template>
    <template v-if="settingShip">
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary"
          @click.prevent="settingShip = false">回上頁</button>
      </div>
      <div class="d-flex flex-column mt-2">
        <div class="d-flex border">
          <div
            class="cartBaseTitle d-flex justify-content-center align-items-center border-right bg-light">
            貨運方式
          </div>
          <div class="d-flex flex-column flex-fill align-items-start p-3">
            <span>{{tempData.name}}</span>
            <div>
              <img :src="tempData.img">
            </div>
          </div>
        </div>
        <div class="d-flex border border-top-0">
          <div
            class="cartBaseTitle d-flex justify-content-center align-items-center border-right bg-light">
            啟用
          </div>
          <div class="d-flex flex-column flex-fill align-items-start p-3">
            <div>
              <b-checkbox v-model="tempData.status">啟用</b-checkbox>
            </div>
            <div class="d-flex flex-column w-100 border rounded bg-light p-2 text-left">
              <span>※下列項目需先設定好才能勾選啟用：</span>
              <ul>
                <li>未勾選同意條款，請回首頁點左上方［系統總管］［7-11取貨不付款］</li>
                <li>未設定手機，請回首頁點左上方［系統總管］［手機簡訊發送］</li>
                <li>未設定收款銀行，請回上一頁設定</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="d-flex border border-top-0">
          <div
            class="cartBaseTitle d-flex justify-content-center align-items-center border-right bg-light">
            貨運說明
          </div>
          <div class="d-flex flex-column flex-fill align-items-start p-3">
            <div class="w-50">
              <b-textarea></b-textarea>
            </div>
          </div>
        </div>
        <div class="d-flex border border-top-0">
          <div
            class="cartBaseTitle d-flex justify-content-center align-items-center border-right bg-light">
            全省固定運費
          </div>
          <div class="d-flex flex-fill justify-content-start align-items-center p-3">
            <div class="d-flex align-items-center">
              <div>
                <b-input type="number"></b-input>
              </div>
              <samp>元</samp>
            </div>
            <ul class="text-left m-0">
              <li>超商全省統一運費為60元</li>
              <li>若輸入則表示消費者負擔，若不填表示店家自行吸收運費
              </li>
            </ul>
          </div>
        </div>
        <div class="d-flex border border-top-0">
          <div
            class="cartBaseTitle d-flex justify-content-center align-items-center border-right bg-light">
            免運設定
          </div>
          <div class="d-flex flex-column flex-fill align-items-start p-3">
            <div class="d-flex flex-column border rounded bg-light p-2">
              <div class="d-flex align-items-center mx-1">
                <span>當購物［金額］超過</span>
                <div>
                  <b-input></b-input>
                </div>
                <span>元時，免運費</span>
              </div>
              <div class="d-flex align-items-center mx-1 mt-2">
                <span>當購物［件數］超過</span>
                <div>
                  <b-input></b-input>
                </div>
                <span>元時，免運費</span>
              </div>
            </div>
            <div class="mx-1 mt-2">
              <ul>
                <li><small>獨立輸入本貨運方式的免運，此設定優先於［總體免運設定］（上一頁的網頁最下方）</small></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="d-flex border border-top-0">
          <div
            class="cartBaseTitle d-flex justify-content-center align-items-center border-right bg-light">
            免運排除
          </div>
          <div class="d-flex flex-fill justify-content-start align-items-center p-3">
            <div>
              <b-checkbox>本貨運方式不適用滿多少免運費</b-checkbox>
            </div>
          </div>
        </div>
        <div class="d-flex border border-top-0">
          <div
            class="cartBaseTitle d-flex justify-content-center align-items-center border-right bg-light">
            代收貨款<br>
            手續費
          </div>
          <div class="d-flex flex-column flex-fill align-items-start p-3">
            <span>7-11取貨付款，每筆交易會收取30元代收手續費，此手續費由誰負擔 ?</span>
            <div>
              <b-form-radio name="CartShipBaseRadios3" value="A">店家吸收
              </b-form-radio>
            </div>
            <div class="d-flex align-items-center">
              <b-form-radio name="CartShipBaseRadios3" value="A">消費者負擔，30元加到購物車內
              </b-form-radio>
              <span>當超過</span>
              <div>
                <b-input type="number"></b-input>
              </div>
              <span>
                元時，店家吸收
              </span>
              <small>（選填）</small>
            </div>
          </div>
        </div>
        <div class="d-flex border border-top-0">
          <div
            class="cartBaseTitle d-flex justify-content-center align-items-center border-right bg-light">
            寄件人
          </div>
          <div class="d-flex flex-column flex-fill align-items-start p-3">
            <div class="d-flex align-items-center">
              <span>真實姓名</span>
              <div>
                <b-input></b-input>
              </div>
              <span>＊</span>
            </div>
            <div class="text-left">
              <ul>
                <li><small>此為寄件單上的寄件人，務必填寫正確</small></li>
                <li><small>當店家到超商領回退貨時，必須出示寄件人的個人證件給店員看方能領回退貨 (若填寫寫公司名稱或其他是無法領回退貨的)</small></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="d-flex border border-top-0">
          <div
            class="cartBaseTitle d-flex justify-content-center align-items-center border-right bg-light">
            購物金額上限
          </div>
          <div class="d-flex flex-fill justify-content-start align-items-center p-3">
            <div class="d-flex align-items-center">
              <div>
                <b-input type="number"></b-input>
              </div>
              <samp>元</samp>
            </div>
            <ul class="text-left m-0">
              <li>消費者單次購物若超過此金額，無法使用本貨運方式</li>
              <li>通常用於當超商遺失貨品時，損失不至於過大<br>
                (超商賠償金額為一千元)
              </li>
              <li>超商代收金額不可大於兩萬</li>
            </ul>
          </div>
        </div>
        <div class="d-flex border border-top-0">
          <div
            class="cartBaseTitle d-flex justify-content-center align-items-center border-right bg-light">
            購物金額下限
          </div>
          <div class="d-flex flex-fill justify-content-start align-items-center p-3">
            <div class="d-flex align-items-center">
              <div>
                <b-input type="number"></b-input>
              </div>
              <samp>元</samp>
            </div>
            <ul class="text-left m-0">
              <li>消費者單次購物若超過此金額，無法使用本貨運方式</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-2">
        <div><button type="button" class="btn btn-primary" @click="settingShip = false">回上頁</button>
        </div>
        <div class="ml-2"><button type="button" class="btn btn-primary"
            @click="settingShip = false">確定</button>
        </div>
      </div>
    </template>
    <b-modal id="CartShipModal" title="設定我的收款帳號" ok-title="確認" cancel-title="取消" size="lg">
      <div class="row no-gutters">
        <div class="d-flex col-12 justify-content-start text-left">
          <ul>
            <li>若您要啟用 7-11列印繳費、全家列印繳費、7-11取貨付款<br>
              您必須設定收款銀行帳戶，我們方能將款項匯款給您</li>
          </ul>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="bg-light text-center" colspan="4">您目前已設定的收款銀行(郵局)帳號</td>
              </tr>
              <tr>
                <td class="bg-light">總行代號</td>
                <td>(未設定)</td>
                <td class="bg-light">分行代號</td>
                <td>(未設定)</td>
              </tr>
              <tr>
                <td class="bg-light">銀行名稱</td>
                <td>(未設定)</td>
                <td class="bg-light">銀行帳號</td>
                <td>(未設定)</td>
              </tr>
              <tr>
                <td class="bg-light">戶名</td>
                <td colspan="3">(未設定)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        settingShip: false,
        tempData: {}
      }
    },
    methods: {
      toSetting(item) {
        this.tempData = {};
        this.tempData = item;
      }
    },
    computed: {
      shipMethod_list: {
        get() {
          return this.$store.state.shoppingCart.shipMethod_list;
        }
      }
    }
  }

</script>

<style lang="scss">
  .cartBaseTitle {
    width: 120px;
  }

</style>
