<template>
  <div class="discount d-flex flex-column flex-fill">
    <span class="align-self-start">【管理區】</span>
    <table class="table table-bordered">
      <tbody v-for="(item, index) in buyfullDisData" :key="index">
        <tr>
          <td class="discountTitle">{{ item.dis_name }}</td>
          <td>
            <div class="d-flex">
              <span>{{ item.dis_intro }}</span>
              <span>
                <small>{{ dis_isshow(item.dis_isshow) }}</small>
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="discountTitle">
            <div class="d-flex flex-column">
              <div>
                <button type="button" class="btn btn-outline-secondary">選擇商品</button>
              </div>
              <span>共2筆</span>
              <span>（結束販賣中）</span>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column align-items-start">
              <div class="d-flex">
                <span>本區買滿件／額度折扣：</span>
                <span class="border bg-success text-white">
                  {{
                  `滿${item.dis_num[0].full_num}件折${item.dis_num[0].discount}元`
                  }}
                </span>
                <span v-if="item.dis_mix.indexOf('can_mix') !== -1" class="border">可混件</span>
              </div>
              <div>
                <ul class="text-left">
                  <li>{{dis_mix(item.dis_mix)}}</li>
                  <li>
                    {{
                `販售期限：${item.dis_date_start[0]} ${item.dis_date_start[1]}～${item.dis_date_end[0]} ${item.dis_date_end[1]} 結束販售`
                    }}
                  </li>
                  <li>再購物車頁面：{{dis_cart_show(item.dis_show_other, item.dis_show_extra)}}</li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button type="button" class="btn btn-primary" @click="toNewDiscount()">新增</button>
    </div>
  </div>
</template>

<script>
  import _ from 'lodash';

  export default {
    methods: {
      toNewDiscount() {
        this.$router.push('/shoppingCart/newDiscount');
      },
      dis_cart_show(other, extra) {
        if (other && extra) {
          return '顯示本區其他商品／顯示於加購區買賣';
        }
        if (!other && extra) {
          return '顯示於加購區買賣';
        }
        if (other && !extra) {
          return '顯示本區其他商品';
        }
        return '不顯示';
      },
      dis_mix(data) {
        console.log(_.some(data, 'can_total'));
        if (_.some(data, 'can_total')) {
          return '本區買滿打折後，允許總價再折扣';
        }
        return '本區買滿打折後，不允許總價再折扣';
      },
      dis_isshow(data) {
        if (data) {
          return '（顯示文宣）';
        }
        return '（不顯示）';
      },
    },
    computed: {
      buyfullDisData: {
        get() {
          return this.$store.state.discount.buyfullDisData;
        },
      },
    },
  };

</script>

<style></style>
