<template>
  <div class="row no-gutters">
    <div class="d-flex col-12 justify-content-start p-3">
      <div class="text-left">
        <ul>
          <li class="px-1 pt-2">左側有許多購物車環境的相關的設定<br>建議您盡可能將每個項目入設定一下，愈完整的購物環境可以讓消費者獲得更愉快的購物經驗</li>
          <li class="px-1 pt-2">若您想暫時關閉整個網站的購物，請勾選</li>
        </ul>
        <div class="border w-50 p-4 d-flex flex-column bg-light border rounded">
          <div class="align-self-cente">
            <b-form-radio class="pt-2" v-model="openShop" name="ifOpenShopRadio" :value="true">
              開放購物</b-form-radio>
            <b-form-radio class="pt-2" v-model="openShop" name="ifOpenShopRadio" :value="false">
              全站關閉購物（隱藏所有的訂購按鈕）
            </b-form-radio>
          </div>
          <div class="align-self-center px-1 pt-2">
            <button type="button" class="btn btn-primary" @click="confirm()">確定</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ifOpenShop',
    data() {
      return {
        openShop: true,
      }
    },
    methods: {
      confirm() {
        alert('完成！');
      }
    }
  }

</script>

<style>

</style>
