<template>
  <div class="discount d-flex flex-fill flex-column">
    <span class="align-self-start">【新增】新的折扣區</span>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="discountTitle">折扣名稱</td>
          <td>
            <b-form-input v-model="dis_temp_data.dis_name"></b-form-input>
          </td>
          <td class="discountTitle">
            活動文宣
          </td>
          <td>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <b-form-input v-model="dis_temp_data.dis_intro"></b-form-input>
              </div>
              <div>
                <b-form-checkbox name="fullDiscountCheck" v-model="dis_temp_data.dis_isshow"
                  :value="true" :unchecked-value="false">
                  顯示
                </b-form-checkbox>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="discountTitle">販售期間</td>
          <td colspan="3">
            <div class="d-flex flex-column text-left ">
              <div class="d-flex align-items-center">
                <span>期限起：</span>
                <div>
                  <b-form-datepicker v-model="dis_temp_data.dis_date_start[0]"></b-form-datepicker>
                </div>
                <div>
                  <b-timepicker v-model="dis_temp_data.dis_date_start[1]" :hour12="false" />
                </div>
                <span>開始販售</span>
              </div>
              <div class="d-flex align-items-center">
                <span>期限迄：</span>
                <div>
                  <b-form-datepicker v-model="dis_temp_data.dis_date_end[0]"></b-form-datepicker>
                </div>
                <div>
                  <b-timepicker v-model="dis_temp_data.dis_date_end[1]" :hour12="false" />
                </div>
                <span>結束販售</span>
              </div>
              <span class="ml-3"><small>起迄日期會顯示於網頁上，不填時為永遠開放訂購</small></span>
              <div>
                <div class="d-flex align-items-center">
                  <b-form-radio name="fullDiscountRadio" v-model="dis_temp_data.dis_date_type"
                    value="in_date">販售期限內才可以訂購
                  </b-form-radio>
                  <small>（期限以外的時間，關閉銷售鈕）</small>
                </div>
                <div class="d-flex align-items-center">
                  <b-form-radio name="fullDiscountRadio" v-model="dis_temp_data.dis_date_type"
                    value="out_date">販售期限以外的時間也可以訂購，但無折扣
                  </b-form-radio>
                  <small>（以目前售價購買）</small>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="discountTitle" rowspan="2">折扣權限</td>
          <td colspan="3">
            <div class="d-flex flex-column text-left">
              <small>我該如何選擇？（假設本區已設定買滿5件折價＄500元、加購"其他區加購品"折價＄10元）</small>
              <small>（例：客人買滿已達標並購買加購品）</small>
              <div class="d-flex align-items-center">
                <b-form-radio v-model="dis_temp_data.dis_authority_type" name="fullDiscountRadio2"
                  value="showFull">僅使用買滿折扣
                </b-form-radio>
                <small>（只能折抵＄500元，無視加購折價）</small>
              </div>
              <div class="d-flex align-items-center">
                <b-form-radio v-model="dis_temp_data.dis_authority_type" name="fullDiscountRadio2"
                  value="showAdd">僅使用加購折價
                </b-form-radio>
                <small>（只能折抵＄10元，無視加購折價）</small>
              </div>
              <div class="d-flex align-items-center">
                <b-form-radio v-model="dis_temp_data.dis_authority_type" name="fullDiscountRadio2"
                  value="showBoth">
                  買滿及加購折扣功能並存，
                </b-form-radio>
                <div>
                  <select class="form-control" id="fullDiscountSelect"
                    :disabled="dis_temp_data.dis_authority_type !== 'showBoth'"
                    v-model="dis_temp_data.dis_authority_type2">
                    <option value="cumulate">可累計</option>
                    <option value="dis_priority">折扣抵優先</option>
                  </select>
                </div>
                <small>（買滿折＄500＋＄600＝共折價＄600元）</small>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="d-flex flex-column text-left">
              <div class="d-flex align-items-center">
                <b-form-checkbox name="fullDiscountCheck2" value="disable_total"
                  v-model="dis_temp_data.dis_authority_disable">
                  關閉 總價再折扣
                </b-form-checkbox>
                <small>（不允許結帳時再對總金額任何折扣，如：總價再折扣或會員等級折扣）</small>
              </div>
              <div class="d-flex align-items-center">
                <b-form-checkbox name="fullDiscountCheck2" value="disable_any"
                  v-model="dis_temp_data.dis_authority_disable">
                  關閉 所有任何折扣
                </b-form-checkbox>
                <small>（以目前售價販賣，關閉範圍包含加購折扣、買滿折扣、會員等級...）</small>
              </div>
            </div>
          </td>
        </tr>
        <tr :class="{discountTitle:dis_temp_data.dis_authority_type === 'showAdd'}">
          <td class="discountTitle" rowspan="2">買滿折扣</td>
          <td colspan="3">
            <div class="d-flex flex-column text-left">
              <div class="d-flex align-items-center">
                <span>買滿</span>
                <div>
                  <b-form-input :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    v-model="dis_temp_data.dis_num[0].full_num"></b-form-input>
                </div>
                <div>
                  <select :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    class="form-control" v-model="dis_temp_data.dis_num[0].type">
                    <option value="piece">件</option>
                    <option value="dollar">元</option>
                  </select>
                </div>
                <span>，每件</span>
                <div>
                  <select :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    v-model="dis_temp_data.dis_type" class="form-control">
                    <option value="discount_price">折價</option>
                    <option value="discount">折扣</option>
                  </select>
                </div>
                <div v-if="dis_temp_data.dis_type === 'discount_price'"
                  class="d-flex align-items-center">
                  <b-form-input :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    v-model="dis_temp_data.dis_num[0].discount"></b-form-input>
                  <span>元</span>
                </div>
                <div v-else-if="dis_temp_data.dis_type === 'discount'"
                  class="d-flex align-items-center">
                  <b-form-select :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    :options="discountRange" v-model="dis_temp_data.dis_num[0].discount">
                  </b-form-select>
                  <span>折</span>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <span>買滿</span>
                <div>
                  <b-form-input :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    v-model="dis_temp_data.dis_num[1].full_num"></b-form-input>
                </div>
                <div>
                  <select :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    class="form-control" v-model="dis_temp_data.dis_num[1].type">
                    <option value="piece">件</option>
                    <option value="dollar">元</option>
                  </select>
                </div>
                <span>，每件</span>
                <div>
                  <select :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    v-model="dis_temp_data.dis_type" class="form-control">
                    <option value="discount_price">折價</option>
                    <option value="discount">折扣</option>
                  </select>
                </div>
                <div v-if="dis_temp_data.dis_type === 'discount_price'"
                  class="d-flex align-items-center">
                  <b-form-input :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    v-model="dis_temp_data.dis_num[1].discount"></b-form-input>
                  <span>元</span>
                </div>
                <div v-else-if="dis_temp_data.dis_type === 'discount'"
                  class="d-flex align-items-center">
                  <b-form-select :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    :options="discountRange" v-model="dis_temp_data.dis_num[0].discount">
                  </b-form-select>
                  <span>折</span>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <span>買滿</span>
                <div>
                  <b-form-input :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    v-model="dis_temp_data.dis_num[2].full_num"></b-form-input>
                </div>
                <div>
                  <select :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    class="form-control" v-model="dis_temp_data.dis_num[2].type">
                    <option value="piece">件</option>
                    <option value="dollar">元</option>
                  </select>
                </div>
                <span>，每件</span>
                <div>
                  <select :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    v-model="dis_temp_data.dis_type" class="form-control">
                    <option value="discount_price">折價</option>
                    <option value="discount">折扣</option>
                  </select>
                </div>
                <div v-if="dis_temp_data.dis_type === 'discount_price'"
                  class="d-flex align-items-center">
                  <b-form-input :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    v-model="dis_temp_data.dis_num[2].discount"></b-form-input>
                  <span>元</span>
                </div>
                <div v-else-if="dis_temp_data.dis_type === 'discount'"
                  class="d-flex align-items-center">
                  <b-form-select :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    :options="discountRange" v-model="dis_temp_data.dis_num[2].discount">
                  </b-form-select>
                  <span>折</span>
                </div>
              </div>
              <small>（滿件（元）數量由小到大填寫）</small>
              <div>
                <b-form-checkbox :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                  value="can_mix" v-model="dis_temp_data.dis_mix">
                  <span class="border">可混件</span>同折扣區內的<strong>不同商品可累計滿件</strong>
                </b-form-checkbox>
              </div>
              <div class="d-flex flex-column">
                <small>例如：此區滿3件打折，A商品買2件，B商品買1件</small>
                <small>
                  <ol>
                    <li>勾選：可混件，2件＋1件＝3件 即達打折標準</li>
                    <li>不勾選：僅單一品項（A商品）件數達3件才打折</li>
                  </ol>
                </small>
                <small>※A和B商品需位同一標區內方可累計混件</small>
              </div>
              <div>
                <b-form-checkbox :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                  value="can_total" v-model="dis_temp_data.dis_mix">
                  當符合上數滿件打完折後，允許<u>總價再折扣</u>（例如：會員等級折扣）
                </b-form-checkbox>
              </div>
              <small>不勾選：總價不再打折，訂單細目顯示［不適用總價再折扣］</small>
            </div>
          </td>
        </tr>
        <tr :class="{discountTitle:dis_temp_data.dis_authority_type === 'showAdd'}">
          <td colspan="3">
            <div class="d-flex flex-column text-left">
              <div class="d-flex align-items-center">
                <b-form-checkbox :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                  v-model="dis_temp_data.dis_code[0]" :value="true" :unchecked-value="false">
                  使用買滿優惠代號：
                </b-form-checkbox>
                <div>
                  <b-form-input :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                    v-model="dis_temp_data.dis_code[1]"></b-form-input>
                </div>
                <small>（最多10碼，不分大小寫）</small>
              </div>
              <small>
                <ul>
                  <li>消費者若輸入買滿優惠代碼，方使用上述買滿折扣，可與其他折扣並存</li>
                </ul>
              </small>
            </div>
          </td>
        </tr>
        <tr :class="{discountTitle:dis_temp_data.dis_authority_type === 'showAdd'}">
          <td class="discountTitle">顯示</td>
          <td colspan="3">
            <div class="d-flex align-items-center">
              <b-form-checkbox :disabled="dis_temp_data.dis_authority_type === 'showAdd'"
                v-model="dis_temp_data.dis_show_other" :value="true" :unchecked-value="false">
                於購物車第一步驟下方顯示本區其他商品
              </b-form-checkbox>
            </div>
          </td>
        </tr>
        <tr>
          <td class="discountTitle">加購設定</td>
          <td :class="{discountTitle:dis_temp_data.dis_authority_type === 'showFull'}" colspan="3">
            <div class="d-flex flex-column text-left">
              <small class="d-flex align-items-center">
                <span>本區尚未建立任何加購區設定</span>
                <button type="button" class="btn btn-primary btn-sm" @click="toExtraSetting()"
                  :disabled="dis_temp_data.dis_authority_type === 'showFull'">
                  前往加購區設定
                </button>
              </small>
              <table class="table">
                <thead>
                  <tr>
                    <th>檢視</th>
                    <th>加購區對象</th>
                    <th>折價／折扣</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in dis_temp_data.dis_extra_setting.extra_data"
                    :key="index">
                    <td>{{ item.index }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ `${lang.dis_list[item.method]}${item.discount}` }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr :class="{discountTitle:dis_temp_data.dis_authority_type === 'showFull'}">
          <td class="discountTitle">顯示</td>
          <td colspan="3">
            <div class="d-flex align-items-center">
              <b-form-checkbox :disabled="dis_temp_data.dis_authority_type === 'showFull'"
                v-model="dis_temp_data.dis_show_extra" :value="true" :unchecked-value="false">
                於購物車第一步驟下方顯示加購區購買
              </b-form-checkbox>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex flex-fill justify-content-center">
      <div>
        <button type="button" class="btn btn-outline-secondary" @click="toFulldis()">返回</button>
      </div>
      <div>
        <button type="button" class="btn btn-outline-secondary">儲存</button>
      </div>
    </div>

    <!-- <b-modal id="modal_newDiscount" hide-header centered size="lg">
      <div class="d-flex flex-fill">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="2">折扣區名稱</th>
              <th>加購區對象</th>
              <th>折價／扣</th>
              <th>金額</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="2"><button v-b-modal.modal_newDiscount2 type="button"
                  class="btn btn-outline-secondary">管理</button>
              </td>
              <td rowspan="2">紅標區</td>
              <td>黃標區</td>
              <td>折價</td>
              <td>＄500元</td>
            </tr>
            <tr>
              <td>藍標區 <span class="border">加購品</span></td>
              <td>折價</td>
              <td>＄2600元</td>
            </tr>
            <tr>
              <td rowspan="2"><button v-b-modal.modal_newDiscount2 type="button"
                  class="btn btn-outline-secondary">管理</button>
              </td>
              <td rowspan="2">黃標區</td>
              <td>紅標區</td>
              <td>折價</td>
              <td>＄500元</td>
            </tr>
            <tr>
              <td>藍標區 <span class="border">加購品</span></td>
              <td>折扣</td>
              <td>9折</td>
            </tr>
            <tr>
              <td><button v-b-modal.modal_newDiscount2 type="button"
                  class="btn btn-outline-secondary">管理</button></td>
              <td>藍標區 <span class="border">加購品</span></td>
              <td>黃標區</td>
              <td>折扣</td>
              <td>9折</td>
            </tr>
            <tr>
              <td><button v-b-modal.modal_newDiscount2 type="button"
                  class="btn btn-outline-secondary">管理</button></td>
              <td>棕標區</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </b-modal> -->
  </div>
</template>

<script>
  import newDiscount from '@/js/shoppingCart/newDiscount';

  export default newDiscount;

</script>

<style lang="scss"></style>
