<template>
  <div class="d-flex flex-column text-left">
    <div>
      <ul>
        <li>點選欲啟用的付款方式［設定］進入後勾選啟用</li>
        <li>或是自行 新增一個付款方式</li>
        <li>［貨到付款］請勿於本頁設定，請於左側［貨運方式］處設定，您可將某貨運方式設定為貨到付款，並可設定貨到付款時要加收的金額</li>
      </ul>
    </div>
    <div>
      <table class="table table-bordered">
        <thead align="center">
          <tr>
            <th></th>
            <th>付款方式</th>
            <th>付款說明<br>（會顯示於購物車中給消費者看）</th>
            <th>環境參數</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in payMethod_list" :key="index">
            <td class="text-nowrap">{{item.status}}</td>
            <td>
              <div class="d-flex flex-column">
                <div class="d-flex justify-content-start">
                  {{item.method}}
                </div>
                <div class="d-flex justify-content-center">
                  <img :src="item.img">
                </div>
                <div class="d-flex justify-content-end">
                  <a href="" @click.prevent>設定</a>
                </div>
              </div>
            </td>
            <td v-if="item.info.type==='less'">
              <div class="d-flex flex-column">
                <span v-for="(j, jindex) in item.info.list" :key="jindex">※{{j}}</span>
              </div>
            </td>
            <td v-else-if="item.info.type==='table'">
              <div class="d-flex flex-column">
                <div class="d-flex justify-content-center align-items-center bg-success">
                  <span class="text-white">
                    {{item.info.title}}
                  </span>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-start border p-2">
                  <ol>
                    <li v-for="(j, jindex) in item.info.list" :key="jindex">
                      {{j}}
                    </li>
                  </ol>
                  <a href="" @click.prevent>{{item.info.link.title}}</a>
                </div>
              </div>
            </td>
            <td v-else-if="item.info.type==='li'">
              <ul>
                <li v-for="(j, jindex) in item.info.list" :key="jindex">
                  {{j}}
                </li>
              </ul>
            </td>
            <td v-else-if="item.info.type===null">

            </td>
            <td>
              <a href="" @click.prevent v-b-modal.CartPayModal>{{item.env.method }}</a><br>
              <span v-if="item.env.method!==''">尚未設定</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <ul>
        <li>欲使用一般銀行線上刷卡請參考 [系統總管] / 選購 [其他銀行線上刷卡]</li>
        <li>
          <div class="d-flex">
            <span>於單一商品頁面：</span>
            <div class="d-flex">
              <b-form-radio name="cart_payRadio" value=" A">顯示啟用的付款方式</b-form-radio>
              <b-form-radio name="cart_payRadio" value=" A">隱藏啟用的付款方式</b-form-radio>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-center">
      <div>
        <button type="button" class="btn btn-primary">確定</button>
      </div>
    </div>
    <b-modal id="CartPayModal" title="設定我的收款帳號" ok-title="確認" cancel-title="取消" size="lg">
      <div class="row no-gutters">
        <div class="d-flex col-12 justify-content-start text-left">
          <ul>
            <li>若您要啟用 7-11列印繳費、全家列印繳費、7-11取貨付款<br>
              您必須設定收款銀行帳戶，我們方能將款項匯款給您</li>
          </ul>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="bg-light text-center" colspan="4">您目前已設定的收款銀行(郵局)帳號</td>
              </tr>
              <tr>
                <td class="bg-light">總行代號</td>
                <td>(未設定)</td>
                <td class="bg-light">分行代號</td>
                <td>(未設定)</td>
              </tr>
              <tr>
                <td class="bg-light">銀行名稱</td>
                <td>(未設定)</td>
                <td class="bg-light">銀行帳號</td>
                <td>(未設定)</td>
              </tr>
              <tr>
                <td class="bg-light">戶名</td>
                <td colspan="3">(未設定)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
  export default {
    name: 'payMethod',
    computed: {
      payMethod_list: {
        get() {
          return this.$store.state.shoppingCart.payMethod_list;
        }
      }
    },
  }

</script>

<style>

</style>
