<template>
  <div>
    <div class="d-flex flex-column border m-3 ">
      <div class="d-flex justify-content-center align-items-center p-1 bg-light">
        <span>是否需開發票給消費者?</span>
      </div>
      <div class="d-flex">
        <div class="receiptTitle d-flex justify-content-center align-items-center border-top border-right
        p-2 bg-light">
          <b-form-radio name="receiptradios" value="A">不使用發票</b-form-radio>
        </div>
        <div class="border-top d-flex flex-fill justify-content-start align-items-center p-2">
          <span>購物車內不會顯示輸入發票的欄位</span>
        </div>
      </div>
      <div class="d-flex">
        <div class="receiptTitle d-flex justify-content-center align-items-center border-top border-right
        p-2 bg-light">
          <b-form-radio name="receiptradios" value="A">使用發票</b-form-radio>
        </div>
        <div class="d-flex flex-column flex-fill">
          <div class="d-flex justify-content-start p-2 border-top bg-light">
            <span>設定發票格式</span>
          </div>
          <div class="d-flex flex-column p-3 border-top">
            <div class="d-flex justify-content-start">
              <b-form-checkbox>二聯式發票</b-form-checkbox>
            </div>
            <div class="d-flex justify-content-start align-items-center p-2 ml-4 rounded bg-light">
              <b-form-checkbox>不顯示統編欄位</b-form-checkbox>
              <b-form-checkbox class="ml-2">不顯示抬頭欄位</b-form-checkbox>
            </div>
            <div class="d-flex justify-content-start mt-2">
              <b-form-checkbox>三聯式發票</b-form-checkbox>
            </div>
            <div class="d-flex justify-content-start align-items-center p-2 ml-4 rounded bg-light">
              <span>統編、抬頭為必要欄位</span>
            </div>
            <div class="d-flex justify-content-start mt-2">
              <b-form-checkbox>電子式發票</b-form-checkbox>
            </div>
            <div class="d-flex justify-content-start align-items-center p-2 ml-4 rounded bg-light">
              <b-form-checkbox>不顯示統編欄位</b-form-checkbox>
              <b-form-checkbox class="ml-2">不顯示抬頭欄位</b-form-checkbox>
            </div>
            <div
              class="d-flex justify-content-start align-items-center p-2 ml-4 mt-2 rounded bg-light">
              <b-form-checkbox>不顯示 [Email給我] </b-form-checkbox>
              <b-form-checkbox class="ml-2">不顯示 [列印紙本寄給我]</b-form-checkbox>
              <b-form-checkbox class="ml-2">不顯示 [載具條碼]</b-form-checkbox>
              <b-form-checkbox class="ml-2">不顯示 [愛心碼]</b-form-checkbox>
            </div>
            <div class="d-flex justify-content-start mt-2">
              <b-form-checkbox>捐給慈善單位</b-form-checkbox>
            </div>
            <div>
              <hr>
            </div>
            <div class="d-flex justify-content-start mt-2">
              <b-form-checkbox>發票收件人和地址強制與收貨人相同</b-form-checkbox>
            </div>
          </div>
          <div class="d-flex justify-content-start p-2 border-top bg-light">
            <span>發票稅5%由誰負擔? (營業稅)</span>
          </div>
          <div class="d-flex flex-column p-3 border-top">
            <div class="d-flex justify-content-start">
              <b-form-radio name="receiptradios2" value="A">店家負擔</b-form-radio>
            </div>
            <div class="d-flex justify-content-start">
              <b-form-radio name="receiptradios2" value="A">消費者負擔<small>( 於購物車中，系統會根據訂單金額算出
                  5%，加到結帳金額中
                  )</small></b-form-radio>
            </div>
            <div class="d-flex justify-content-start align-items-center p-2 ml-4 rounded bg-light">
              <b-form-checkbox class="ml-2"><small>消費者可選擇不要開立發票 ( 當消費者選不開發票時，不外加5% )</small>
              </b-form-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div
          class="receiptTitle d-flex justify-content-center align-items-center p-2 border-top border-right bg-light">
          <span>發票說明</span>
        </div>
        <div class="d-flex flex-column flex-fill border-top p-2">
          <div class="d-flex">
            <div class="w-50">
              <b-textarea></b-textarea>
            </div>
          </div>
          <div class="text-left">
            <ul>
              <li>例如：『本店免開統一發票』</li>
              <li>此文字將顯示於購物車中 (300字內)</li>
              <li>
                <div class="d-flex">
                  <span>店家是否需要開立發票</span>
                  <a href="" @click.prevent><small>請參考這邊</small></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary">確認</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'receiptSetting'
  }

</script>

<style lang="scss">
  .receiptTitle {
    width: 150px;
  }

</style>
