<template>
  <div class="row no-gutters">
    <div class="d-flex col-12 justify-content-start">
      <b-nav tabs>
        <b-nav-item @click="switchCon = 'cart_ShipBase'" :active="switchCon==='cart_ShipBase'">
          基本運費設定</b-nav-item>
        <b-nav-item @click="switchCon = 'cart_ShipSpecial'"
          :active="switchCon==='cart_ShipSpecial'">
          特殊商品運費</b-nav-item>
      </b-nav>
    </div>
    <div class="d-flex col-12 justify-content-center border border-top-0 p-3">
      <component :is="switchCon"></component>
    </div>

  </div>
</template>

<script>
  import cart_ShipBase from '@/views/shoppingCart/cart_ShipBase.vue';
  import cart_ShipSpecial from '@/views/shoppingCart/cart_ShipSpecial.vue';
  export default {
    name: 'shipMethod',
    components: {
      cart_ShipBase,
      cart_ShipSpecial,
    },
    data() {
      return {
        switchCon: 'cart_ShipBase',
      }
    },
  }

</script>

<style>

</style>
