<template>
  <div class="row no-gutters">
    <template v-if="switchStatus === 'main'">
      <div class="d-flex col-12 justify-content-start text-left">
        <div>
          <ul>
            <li class="px-1 pt-2">於購物車『步驟一』時， 下方會出現下列購物說明文字。</li>
            <li class="px-1 pt-2">
              <div class="border rounded bg-light px-3">
                填寫範例：<br>
                <small>
                  感謝您購買本站的商品，購物完畢後系統會Email一封訂單明細到您的信箱<br>
                  您可以點選郵件內的［訂單後續連絡］進行後續聯絡與確認<br>
                  我們會使用電話與您再次確認，於 7 個工作天內將您所訂購的貨品送達，謝謝您！
                </small>
              </div>
            </li>
            <li class="px-1 pt-2">於購物說明下方出現同意選項，消費者必須打勾才能繼續購物<br>
              <div class="d-flex">
                <b-form-radio @change="show()" class="pt-2" name="shopIntroRadio" :value="true">
                  出現</b-form-radio>
                <b-form-radio @change="show()" class="pt-2 ml-2" name="shopIntroRadio"
                  :value="false">
                  不出現
                </b-form-radio>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex col-12 justify-content-center align-items-center">
        <div class="ml-auto">
          <button type="button" class="btn btn-primary"
            @click="switchStatus = 'edit'">編輯購物說明</button>
        </div>
        <span class="ml-auto">
          <a href="" @click.prevent="switchStatus = 'insertScript'">插入script碼</a>
        </span>
      </div>
      <div class="col-12 d-flex mx-1 mt-2">
        <div class="d-flex flex-column flex-fill border rounded">
          <div class="flex-fill border-bottom bg-light p-1">
            <span>購物說明</span>
          </div>
          <div class="flex-fill p-3">
            <span>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
              XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
              XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            </span>
          </div>
        </div>
      </div>
    </template>
    <template v-else-if="switchStatus === 'edit'">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center pt-2">
        <span>輸入《購物說明》</span>
        <div class="w-100 flex-fill pt-2">
          <ckeditor :editor="editor" v-model="editorData" :config="editorConfig">
          </ckeditor>
        </div>
        <div class="d-flex flex-fill">
          <div class="mx-1 mt-2">
            <button type="button" class="btn btn-primary" @click="switchStatus = 'main'">取消</button>
          </div>
          <div class="mx-1 mt-2">
            <button type="button" class="btn btn-primary"
              @click="switchStatus = 'main', saveFile()">確定存檔</button>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="d-flex flex-column col-12 justify-content-center">
        <span>崁入到《購物說明》頁面中</span>
        <div class="text-left mt-2">
          <ul>
            <li>技術人員使用，放置在網頁 ＜HEAD＞區塊內的文字，通常為SCRIPT程式碼</li>
            <li>輸入範例：<br>
              <pre style="font-family:Courier New">
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;alert('Hello');
&lt;/script&gt;</pre>
            </li>
          </ul>
        </div>
        <div class="d-flex">
          <b-textarea rows="30"></b-textarea>
        </div>
        <div class="d-flex justify-content-center">
          <div class="mx-1 mt-2">
            <button type="button" class="btn btn-primary" @click="switchStatus = 'main'">取消</button>
          </div>
          <div class="mx-1 mt-2">
            <button type="button" class="btn btn-primary"
              @click="switchStatus = 'main', scriptSave()">確定存檔</button>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
  import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
  import '@ckeditor/ckeditor5-build-classic/build/translations/zh';
  export default {
    name: 'shopIntro',
    data() {
      return {
        switchStatus: 'main',
        iconNum: [''],
        backstagePs: '',
        editor: ClassicEditor,
        editorData: '<p></p>',
        editorConfig: {
          language: 'zh',
        },
      }
    },
    methods: {
      show() {
        alert('設定完成');
      },
      saveFile() {
        alert('存檔完成');
      },
      scriptSave() {
        alert('存檔完成');
      }
    }
  }

</script>

<style lang="scss">

</style>
