<template>
  <div class="row no-gutters">
    <template v-if="switchStatus === 'main'">
      <div class="d-flex col-12 justify-content-start text-left">
        <div>
          <ul>
            <li class="px-1 pt-2">當消費者購物結帳完畢時，顯示的文字。</li>
            <li class="px-1 pt-2">
              <b-checkbox @change="hideText()">隱藏此段文字</b-checkbox><br>
              <div class="border rounded bg-light px-3">
                <small>
                  您將會收到一封訂單完成通知Email<br>
                  若有任何疑問，您可於訂單通知信中或登入會員後台，點選［訂單後續連絡］<br>
                  例如：通知已經完成了匯款、詢問本訂單出貨狀況...等
                </small>
              </div>
            </li>
            <li class="px-1 pt-2">感謝語輸入範例：<br>
              <small class="ml-2">
                感謝您訂購本公司的產品，如果您的送貨地址有更改，請務必來電通知。</small><br>
              <small class="ml-2">若您於7天內沒收到貨品請與本公司聯絡。再次感謝您！</small>

            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex col-12 justify-content-center align-items-center">
        <span class="ml-auto">
          <a href="" @click.prevent="switchStatus = 'insertScript'">插入script碼</a>
        </span>
      </div>
      <div class="col-12 d-flex mx-1 mt-2">
        <div class="d-flex flex-column flex-fill border rounded">
          <div class="flex-fill border-bottom bg-light p-1">
            <span>購物完畢感謝語<button type="button" class="btn btn-primary btn-sm ml-2"
                @click="switchStatus = 'edit'">編輯</button></span>
          </div>
          <div class="flex-fill p-3">
            <span>(無資料)</span>
          </div>
        </div>
      </div>
    </template>
    <template v-else-if="switchStatus === 'edit'">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center pt-2">
        <span>輸入《購物完畢感謝語》</span>
        <div class="w-100 flex-fill pt-2">
          <ckeditor :editor="editor" v-model="editorData" :config="editorConfig">
          </ckeditor>
        </div>
        <div class="d-flex flex-fill">
          <div class="mx-1 mt-2">
            <button type="button" class="btn btn-primary" @click="switchStatus = 'main'">取消</button>
          </div>
          <div class="mx-1 mt-2">
            <button type="button" class="btn btn-primary"
              @click="switchStatus = 'main', saveFile()">確定存檔</button>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="d-flex flex-column col-12 justify-content-center">
        <span>崁入到《購物完畢感謝語》頁面中</span>
        <div class="text-left mt-2">
          <ul>
            <li>技術人員使用，放置在網頁 ＜HEAD＞區塊內的文字，通常為SCRIPT程式碼</li>
            <li>輸入範例：<br>
              <pre style="font-family:Courier New">
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;alert('Hello');
&lt;/script&gt;</pre>
            </li>
          </ul>
        </div>
        <div class="d-flex">
          <b-textarea rows="30"></b-textarea>
        </div>
        <div class="d-flex justify-content-center">
          <div class="mx-1 mt-2">
            <button type="button" class="btn btn-primary" @click="switchStatus = 'main'">取消</button>
          </div>
          <div class="mx-1 mt-2">
            <button type="button" class="btn btn-primary"
              @click="switchStatus = 'main', scriptSave()">確定存檔</button>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
  import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
  import '@ckeditor/ckeditor5-build-classic/build/translations/zh';
  export default {
    name: 'thanksText',
    data() {
      return {
        switchStatus: 'main',
        iconNum: [''],
        backstagePs: '',
        editor: ClassicEditor,
        editorData: '<p></p>',
        editorConfig: {
          language: 'zh',
        },
      }
    },
    methods: {
      hideText() {
        alert('設定完成');
      },
      saveFile() {
        alert('存檔完成');
      },
      scriptSave() {
        alert('存檔完成');
      }
    }
  }

</script>

<style>

</style>
