<template>
  <div class="discount d-flex flex-column flex-fill">
    <small>（購物車結帳時總計1000元，以總計1000元再打會員／滿額打折）</small>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="discountTitle" rowspan="2">全館折扣</td>
          <td>
            <div class="d-flex flex-column text-left">
              <div class="d-flex align-items-center">
                <span>打［</span>
                <!-- <div>
                  <b-form-checkbox value="accepted" unchecked-value="not_accepted">不啟用
                  </b-form-checkbox>
                </div>
                <span>／</span> -->
                <div>
                  <!-- <b-form-select :options="discountRange"></b-form-select> -->
                  <select class="form-control">
                    <option value="disable">（不啟用）</option>
                    <option v-for="(item, index) in discountRange" :key="index" :value="item.value"
                      style="color: red;">{{item.text}}</option>
                  </select>
                </div>
                <span>］折</span>
              </div>
              <small>
                <ul>
                  <li>於結帳時所有消費者均套用此折扣計算</li>
                  <li>
                    <span style="color:red;">當啟用全館折扣後，所有折扣設定將被忽略</span>
                    <br />
                    <span>包含：單品買滿折扣、折扣區買滿折扣、加購區折扣、會員等級打折、結帳滿額打折...等將被忽略</span>
                  </li>
                  <li>適用於臨時性短期活動，例如：開幕期間大特價</li>
                </ul>
              </small>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex flex-column text-left">
              <div class="d-flex align-items-center">
                <b-form-checkbox value="accepted" unchecked-value="not_accepted">使用全館優惠代號：
                </b-form-checkbox>
                <div>
                  <b-form-input></b-form-input>
                </div>
                <small>（最多10碼，不分大小寫）</small>
              </div>
              <small>
                <ul>
                  <li>
                    消費者若輸入全館優惠碼，方使用全館折扣，反之則仍會進型特殊會員等級折扣、結帳滿額打折
                  </li>
                </ul>
              </small>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <tbody>
        <tr class="discountTitle">
          <th>特殊會員等級折扣</th>
          <th>
            <div class="d-flex align-items-center"><span>購物結帳滿額</span>
              <div>
                <select v-model="buyfulltype" class="form-control">
                  <option :value="0">打折</option>
                  <option :value="1">折價（元）</option>
                </select>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <td>
            <div class="d-flex flex-column">
              <div class="d-flex flex-column text-left">
                <div>
                  <table class="table">
                    <thead>
                      <tr class="discountTitle">
                        <th>排序</th>
                        <th>會員等級</th>
                        <th>折扣</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, index) in memberLV" :key="index">
                        <td>{{ item.num }}</td>
                        <td>{{ item.level}}</td>
                        <td v-if="item.disType === 0">{{item.dis}}折</td>
                        <td v-else>折{{item.dis}}元</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <small>請於［會員］設定等級，並設定每個等級有不同折扣</small>
              </div>
              <div>
                <button type="button" class="btn btn-primary" v-b-modal.totalDisModal2>
                  前往 會員等級 編輯
                </button>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column flex-fill text-left">
              <template v-if="buyfulltype === 0">
                <div class="d-flex align-items-center">
                  <span>購物滿</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>元，打</span>
                  <div>
                    <b-form-select :options="discountRange"></b-form-select>
                  </div>
                  <span>折</span>
                </div>
                <div class="d-flex align-items-center">
                  <span>購物滿</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>元，打</span>
                  <div>
                    <b-form-select :options="discountRange"></b-form-select>
                  </div>
                  <span>折</span>
                </div>
                <div class="d-flex align-items-center">
                  <span>購物滿</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>元，打</span>
                  <div>
                    <b-form-select :options="discountRange"></b-form-select>
                  </div>
                  <span>折</span>
                </div>
                <div class="d-flex align-items-center">
                  <span>購物滿</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>元，打</span>
                  <div>
                    <b-form-select :options="discountRange"></b-form-select>
                  </div>
                  <span>折</span>
                </div>
                <div class="d-flex align-items-center">
                  <span>購物滿</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>元，打</span>
                  <div>
                    <b-form-select :options="discountRange"></b-form-select>
                  </div>
                  <span>折</span>
                </div>
              </template>
              <template v-else>
                <div class="d-flex align-items-center">
                  <span>購物滿</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>件，折</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>元</span>
                </div>
                <div class="d-flex align-items-center">
                  <span>購物滿</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>件，折</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>元</span>
                </div>
                <div class="d-flex align-items-center">
                  <span>購物滿</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>件，折</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>元</span>
                </div>
                <div class="d-flex align-items-center">
                  <span>購物滿</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>件，折</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>元</span>
                </div>
                <div class="d-flex align-items-center">
                  <span>購物滿</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>件，折</span>
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <span>元</span>
                </div>
              </template>
              <small>
                <ul>
                  <li>金額（件數）請由低到高依序填寫</li>
                  <li>此折扣指單次消費，並非累計消費</li>
                  <li>上述將會顯示於購物車步驟一內供消費者看</li>
                  <li style="color:black;">
                    <div class="d-flex">
                      <span>滿額優惠說明：</span>
                      <div class="flex-fill">
                        <b-form-textarea></b-form-textarea>
                      </div>
                    </div>
                  </li>
                </ul>
              </small>
            </div>
          </td>
        </tr>
        <tr class="discountTitle">
          <td align="left" colspan="2">
            <strong>特殊會員等級折扣</strong> 與 <strong>購物滿多少打幾折</strong> 是否要重複計算？
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="d-flex flex-column text-left">
              <div>
                <b-form-radio name="totalDisRadio" value="A">折扣低的優先（不重複計算）</b-form-radio>
              </div>
              <small class="pl-4">
                <span class="border">例一</span> 白金會員打8折、購物滿1000元打9折：金額以8折計算
              </small>
              <small class="pl-4">
                <span class="border">例二</span> 白金會員打8折、購物滿1000元打7折：金額以7折計算
              </small>
              <div>
                <b-form-radio name="totalDisRadio" value="A">折扣重複計算</b-form-radio>
              </div>
              <small class="pl-4">
                <span class="border">例三</span>
                白金會員打8折、購物滿1000元打9折：金額以8折＊9折＝7.2折計算
              </small>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead>
        <tr class="discountTitle" align="left">
          <th>優惠代號管理</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="d-flex flex-column text-left">
              <span>額度管理</span>
              <table class="table">
                <thead>
                  <tr class="discountTitle">
                    <th>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" v-b-modal.totalDisModal
                        @click="newAdd()">
                        新增
                      </button>
                    </th>
                    <th>折扣碼</th>
                    <th>折價方式</th>
                    <th>可用額度</th>
                    <th>啟用</th>
                    <th>期間</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in CouponCode" :key="index">
                    <td>
                      <button type="button" class="btn btn-primary" v-b-modal.totalDisModal
                        @click="edit(item)">
                        編輯
                      </button>
                    </td>
                    <td>{{ item.code }}</td>
                    <td>{{ `金額超過＄${item.type[0]}打${item.type[1]}折` }}</td>
                    <td>{{ `${item.quota[0]}／已使用${item.quota[1]}` }}</td>
                    <td>{{ is_enable(item.enable) }}</td>
                    <td>{{ `${item.time_start}～${item.time_end}` }}</td>
                  </tr>
                  <!-- <tr>
                    <td>
                      <button type="button" class="btn btn-primary" v-b-modal.totalDisModal>
                        編輯
                      </button>
                    </td>
                    <td>BK200</td>
                    <td>金額超過＄400折200元</td>
                    <td>50／已使用0</td>
                    <td>是</td>
                    <td>2020／03／01～永遠</td>
                  </tr> -->
                </tbody>
              </table>
              <span>【檢視】全館優惠貸碼－無額度管理</span>
              <table class="table">
                <thead>
                  <tr class="discountTitle">
                    <th>功能</th>
                    <th>範圍</th>
                    <th>折扣碼</th>
                    <th>折價</th>
                    <th>條件</th>
                  </tr>
                </thead>
                <tbody v-for="(item, index) in dis_code_list" :key="index">
                  <tr>
                    <td>
                      <router-link to="/shoppingCart/fullDiscount">{{item.dis_from}}</router-link>
                    </td>
                    <td>
                      <router-link to="/shoppingCart/newDiscount">{{item.title}}</router-link>
                    </td>
                    <td>{{item.dis_code}}</td>
                    <td>{{`折＄${item.off}元`}}</td>
                    <td>
                      {{`買滿${item.condition[0]}件`}}
                      <small
                        v-if="item.condition.length - 1 !== 0 ">{{`...還有其他${item.condition.length - 1}種`}}</small>
                    </td>
                  </tr>
                </tbody>
              </table>
              <small>
                <ul>
                  <li>消費者在輸入時，僅只能輸入一組優惠代號，不得同時多組使用</li>
                  <li>若有設定最低消費金額時，未超過消費金額提示錯誤</li>
                  <li>【檢視】僅在此頁面僅供檢視，如需更改詳細設定，請至功能=>個別設定</li>
                </ul>
              </small>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex flex-fill justify-content-center">
      <div>
        <button type="button" class="btn btn-outline-secondary">儲存</button>
      </div>
    </div>

    <!-- Modal -->
    <b-modal size="lg" id="totalDisModal" hide-header @ok="newAddRow">
      <div class="row no-gutters justify-content-center align-items-center">
        <div class="col-12 d-flex">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td style="background-color: rgb(197, 197, 197);">折扣碼</td>
                <td>
                  <b-form-input v-model="temp.code"></b-form-input>
                </td>
              </tr>
              <tr>
                <td style="background-color: rgb(197, 197, 197);">折價方式</td>
                <td>
                  <div class="d-flex flex-column align-items-start">
                    <div class="d-flex align-items-center">
                      <span>金額超過</span>
                      <div>
                        <b-form-input v-model="temp.type[0]"></b-form-input>
                      </div>
                      <span>元，打</span>
                      <div>
                        <b-form-select v-model="temp.type[1]" :options="discountRange">
                        </b-form-select>
                      </div>
                      <span>折</span>
                    </div>
                    <small>
                      <ul>
                        <li>無限制消費最低金額則填入0元</li>
                      </ul>
                    </small>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="background-color: rgb(197, 197, 197);">可用額度</td>
                <td>
                  <b-form-input v-model="temp.quota[0]"></b-form-input>
                </td>
              </tr>
              <tr>
                <td style="background-color: rgb(197, 197, 197);">啟用</td>
                <td>
                  <b-form-checkbox v-model="temp.enable" :checked="true" :unchecked-value="false">
                  </b-form-checkbox>
                </td>
              </tr>
              <tr>
                <td style="background-color: rgb(197, 197, 197);">期間</td>
                <td>
                  <div class="d-flex align-items-center">
                    <b-form-datepicker v-model="temp.time_start" label-no-date-selected="請選擇起始日"
                      size="sm" class="mb-2">
                    </b-form-datepicker>
                    <span>～</span>
                    <b-form-datepicker v-model="temp.time_end" label-no-date-selected="請選擇結束日"
                      size="sm" class="mb-2">
                    </b-form-datepicker>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="background-color: rgb(197, 197, 197);">備註</td>
                <td>
                  <b-form-textarea v-model="temp.remarks"></b-form-textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </b-modal>

    <b-modal id="totalDisModal2" hide-header size="xl">
      <div class="d-flex flex-fill justify-content-center">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td style="background-color: rgb(197, 197, 197);">會員等級名稱</td>
              <td>
                <div class="d-flex flex-column">
                  <div>
                    <b-form-input></b-form-input>
                  </div>
                  <small>
                    <ul>
                      <li>例如：鑽石會員</li>
                    </ul>
                  </small>
                </div>
              </td>
            </tr>
            <tr>
              <td style="background-color: rgb(197, 197, 197);">總價再折扣</td>
              <td>
                <div class="d-flex flex-column">
                  <div class="d-flex">
                    <b-form-radio name="mem_titalDisRadio" value="A">折扣</b-form-radio>
                    <b-form-radio name="mem_titalDisRadio" value="A">折價</b-form-radio>
                  </div>
                  <div class="d-flex align-items-center">
                    <span>此會員等級，結帳總金額再打</span>
                    <div>
                      <b-form-input type="number" :step="0.01"></b-form-input>
                    </div>
                    <span>折</span>
                    <small>（例如：9）</small>
                  </div>
                  <small>
                    <ul>
                      <li>數字，可小數以下兩位，不輸入表示無折扣</li>
                      <li>
                        若某些商品不想打折，可於該商品編輯頁面折扣排除 勾選［不適用總價再折扣］
                      </li>
                    </ul>
                  </small>
                  <div class="d-flex flex-column border">
                    <div>
                      <b-form-radio name="totalDis-radios" value="A">
                        此折扣是用一般會員
                        <small>［預設］</small>
                      </b-form-radio>
                    </div>
                    <div class="d-flex">
                      <b-form-radio name="totalDis-radios" value="A">不適用一般價，訂單細目顯示</b-form-radio>
                      <span class="bg-warning text-danger">不適用總價再折扣</span>
                    </div>
                    <div class="d-flex">
                      <b-form-radio name="totalDis-radios" value="A">不適用會員價，訂單細目顯示</b-form-radio>
                      <span class="bg-warning text-danger">不適用總價再折扣</span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="background-color: rgb(197, 197, 197);">折扣排除</td>
              <td>
                <div class="d-flex flex-column">
                  <div>
                    <b-form-checkbox value="accepted" unchecked-value="not_accepted">不適用單品折扣
                    </b-form-checkbox>
                  </div>
                  <small>
                    <ul>
                      <li>若某商品沒有單品折扣或折扣區時，本會員等級不適用單品折扣</li>
                    </ul>
                  </small>
                  <div>
                    <b-form-checkbox value="accepted" unchecked-value="not_accepted">不適用買滿多少打幾折
                    </b-form-checkbox>
                  </div>
                  <small>
                    <ul>
                      <li>
                        若您於
                        <strong>購物車設定</strong>處有設定
                        <u>買滿多少打幾折</u>時，本會員等級不適用
                        <u>買滿多少打幾折</u>
                      </li>
                    </ul>
                  </small>
                </div>
              </td>
            </tr>
            <tr>
              <td style="background-color: rgb(197, 197, 197);">免運設定</td>
              <td>
                <div class="d-flex flex-column">
                  <div class="d-flex align-items-center">
                    <span>當購物［金額］超過</span>
                    <div>
                      <b-form-input></b-form-input>
                    </div>
                    <span>元時，免運費</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <span>當購物［金額］超過</span>
                    <div>
                      <b-form-input></b-form-input>
                    </div>
                    <span>元時，免運費</span>
                  </div>
                  <small>
                    <ul>
                      <li>此設定優先購物車設定處的［免運設定］</li>
                    </ul>
                  </small>
                </div>
              </td>
            </tr>
            <tr>
              <td style="background-color: rgb(197, 197, 197);">計價方式</td>
              <td>
                <div class="d-flex flex-column">
                  <div class="d-flex">
                    <b-form-radio name="totalDis-radios" value="A">
                      使用會員價計價［預設］
                    </b-form-radio>
                    <span>，</span>
                    <b-form-checkbox value="accepted" unchecked-value="not_accepted">且不允許看到一般價
                    </b-form-checkbox>
                  </div>
                  <small>
                    <ul>
                      <li>
                        此會員等級登入購物，使商品會員價來計價（若該商品沒有設定會員價則使用一般價來算）
                      </li>
                    </ul>
                  </small>
                  <div class="d-flex">
                    <b-form-radio name="totalDis-radios" value="B">
                      使用一般價計價
                    </b-form-radio>
                    <span>，</span>
                    <b-form-checkbox value="accepted" unchecked-value="not_accepted">且不允許看到會員價
                    </b-form-checkbox>
                  </div>
                  <small>
                    <ul>
                      <li>此會員等級登入購物，使用一般價來計價</li>
                      <li>通常較少使用此方式</li>
                    </ul>
                  </small>
                </div>
              </td>
            </tr>
            <tr>
              <td style="background-color: rgb(197, 197, 197);">升等金額</td>
              <td>
                <div class="d-flex flex-column">
                  <div class="d-flex align-items-center">
                    <div>
                      <b-form-input></b-form-input>
                    </div>
                    <span>元（選填）</span>
                  </div>
                  <small>
                    <ul>
                      <li>
                        當會員歷年累計購物金額達到此金額時，於會員列表會出限提是建議您該升級等此會員的等級
                      </li>
                      <li>本功能僅是提示，不會自動升級該會員，您需手動做</li>
                    </ul>
                  </small>
                </div>
              </td>
            </tr>
            <tr>
              <td style="background-color: rgb(197, 197, 197);">消費限制</td>
              <td>
                <div class="d-flex flex-column">
                  <div class="d-flex align-items-center">
                    <span>最低消費金額</span>
                    <div>
                      <b-form-input></b-form-input>
                    </div>
                    元
                  </div>
                  <div class="d-flex align-items-center">
                    <span>最低消費件數</span>
                    <div>
                      <b-form-input></b-form-input>
                    </div>
                    件
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </b-modal>
  </div>
</template>

<script>
  import totalDiscount from '@/js/shoppingCart/totalDiscount';

  export default totalDiscount;

</script>

<style></style>
