<template>
  <div class="w-100">
    <div class="bg-white custom-shadow border-bottom px-2 px-md-5 py-3 mb-4">
      <table
        class="table table-borderless table-middle table-sm w-100 custom-table my-0 mx-auto"
        style="max-width:991px"
      >
        <tbody align="left">
          <tr>
            <td
              scope="row"
              class="p-0 m-0 position-relative pro-img"
              rowspan="5"
              style="vertical-align:top"
            >
              <div class="p-1 border">
                <div
                  class="border border-dark mt-1 bg-secondary d-flex mx-auto position-relative"
                  style="z-index:1;height:100px;width:100px"
                >
                  <span class="text-white align-self-center mx-auto">160 x 160</span>
                  <div
                    class="w-100 py-1 text-center position-absolute text-white-50"
                    style="top:0;left:10px;z-index:2;font-size:12px"
                  >
                    <img src alt="商品縮圖" style="min-width:100px" />
                  </div>
                </div>
                <div class="text-center my-1" style="z-index:3;">
                  <button type="button" class="btn btn-sm btn-primary mr-1">上傳</button>
                  <button type="button" class="btn btn-sm btn-primary ml-1">相簿</button>
                </div>
              </div>
            </td>
            <th>上架分類</th>
            <td>
              <div class="d-flex align-items-center">
                <b-form-select size v-model="selected" :options="options"></b-form-select>
                <b-form-select size v-model="selected" :options="options"></b-form-select>
              </div>
            </td>
            <th>內部分類</th>
            <td>
              <b-form-select size v-model="selected" :options="options"></b-form-select>
            </td>
          </tr>
          <tr>
            <th>商品代號</th>
            <td>
              <b-form-input size></b-form-input>
            </td>
            <th>版次</th>
            <td>
              <b-form-input size></b-form-input>
            </td>
          </tr>
          <tr>
            <th>商品名稱</th>
            <td colspan="3">
              <b-form-input size></b-form-input>
            </td>
          </tr>
          <tr>
            <th>
              基本價格
              <small class="d-inline-block d-md-block pl-2 pl-md-0">
                <a href="#">設定會員價</a>
              </small>
            </th>
            <td colspan="3" valign="middle">
              <div class="d-flex flex-fill justify-content-around">
                <div class="d-flex flex-md-row flex-column w-100 align-items-center">
                  <b-input-group
                    size
                    class="flex-fill mb-0"
                    :class="{ 'pr-md-1': key + 1 < 3 }"
                    v-for="(i, key) in ['售價 $', '定價 $', '成本 $']"
                  >
                    <template v-slot:prepend>
                      <b-input-group-text>{{ "(" + (key + 1) + ") " + i }}</b-input-group-text>
                    </template>
                    <b-form-input type="number" class="text-right"></b-form-input>
                  </b-input-group>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th>銷售狀態</th>
            <td colspan="3">
              <div class>
                <b-form-group class="m-0">
                  <b-form-checkbox-group name="sellstatus">
                    <b-form-checkbox class="mr-5" value="baseSaleCheck">銷售鈕開啟</b-form-checkbox>
                    <b-form-checkbox class="mr-5" value="baseHotCheck">熱門商品</b-form-checkbox>
                    <b-form-checkbox value="baseTask">下架（已排程4/1）</b-form-checkbox>
                  </b-form-checkbox-group>
                </b-form-group>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="bg-white custom-shadow border-bottom px-2 px-md-5 py-3">
      <table
        class="table table-borderless table-middle table-sm w-100 custom-table my-0 mx-auto"
        style="max-width:991px"
      >
        <tbody align="left">
          <tr>
            <th style="vertical-align:top">簡介</th>
            <td>
              <b-form-textarea size></b-form-textarea>
            </td>
          </tr>
          <tr>
            <th>前台順序</th>
            <td>
              <b-form-group line class="m-0">
                <b-form-radio-group v-model="ordernumber">
                  <b-form-radio class="mr-5" value="first">放第1筆</b-form-radio>
                  <b-form-radio class="mr-5" value="last">放最後</b-form-radio>
                  <b-form-radio value="custom" class="align-items-center">
                    <div class="d-flex flex-fill align-items-center">
                      自訂：
                      <div>第</div>
                      <div class="col-4">
                        <b-form-input
                          type="number"
                          class="form-control py-0 pr-0"
                          style="height:100%"
                          size
                          :disabled="!(ordernumber == 'custom')"
                        ></b-form-input>
                      </div>
                      <div>筆</div>
                    </div>
                  </b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import "@ckeditor/ckeditor5-build-classic/build/translations/zh";

export default {
  data() {
    return {
      editor: ClassicEditor,
      editorData: "<p></p>",
      editorConfig: {
        language: "zh"
      },
      options: [
        { value: null, text: "請選擇分類" },
        { value: "a", text: "現場課程" },
        { value: "b", text: "線上課程" },
        { value: "c", text: "書籍商品" }
      ],
      selected: null,
      ordernumber: null
    };
  }
};
</script>

<style lang="scss">
.ck-editor__editable {
  //min-height: 500px !important;
}

.labelBase {
  min-width: 100px;
}
.custom-lable {
  max-width: 5.5em;
}
</style>
