<template>
  <div class="w-100">
    <section class="bg-white d-flex flex-column custom-shadow border-bottom px-2 pr-md-5 mb-4">
      <div class="w-100 d-flex flex-fill">
        <div class="textTitle d-flex border-right pr-2 px-md-5">
          <span>折扣優惠</span>
        </div>
        <div class="flex-fill text-left overflow-x-auto">
          <div class="w-100 p-3">
            <span>【期間管理】</span>
            <div class="">
              <table class="table table-bordered table-middle table-sm my-0 mx-auto text-nowrap">
                <thead>
                  <tr class="table-primary">
                    <th colspan="2">
                      <button type="button" v-b-modal.modal-1
                        class="btn btn-sm btn-primary px-1 py-0">新增</button>
                    </th>
                    <th scope="col">啟用</th>
                    <th scope="col">截止日</th>
                    <th scope="col" width="200">優惠售價</th>
                    <th scope="col">排序</th>
                    <th scope="col">文宣</th>
                    <th scope="col" width="200">備註</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">1</td>
                    <td>
                      <button type="button" v-b-modal.modal-1
                        class="btn btn-sm btn-primary px-1 py-0">管理</button>
                    </td>
                    <td>Y</td>
                    <td>2020/03/20</td>
                    <td>＄6900（折價100元）</td>
                    <td>2</td>
                    <td>優惠第一波</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="text-center">2</td>
                    <td>
                      <button type="button" v-b-modal.modal-1
                        class="btn btn-sm btn-primary px-1 py-0">管理</button>
                    </td>
                    <td>N</td>
                    <td>2020/03/10</td>
                    <td>＄6500（指定）</td>
                    <td>1</td>
                    <td>限時</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value id="costDiscount" />
                <label class="form-check-label" for="costDiscount">是否顯示折扣多少</label>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center p-3">
            <span>【買滿折扣】</span>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value id="costBuyFull" />
              <label class="form-check-label" for="costBuyFull">買滿</label>
            </div>
            <div style="width:60px;">
              <b-input></b-input>
            </div>
            <span>件再</span>
            <div>
              <select class="custom-select">
                <option selected>折扣</option>
              </select>
            </div>
            <div style="width:60px;">
              <b-input></b-input>
            </div>
            <span>（折／元）</span>
          </div>
          <div class="d-flex p-3">
            <div>【再折扣】</div>
            <div class="d-flex flex-column pl-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value id="costLimitBuy" />
                <label class="form-check-label" for="costLimitBuy">限制會員購買</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value id="costNotDis" />
                <label class="form-check-label" for="costNotDis">
                  不適用任何折扣
                  <sup>?</sup>
                </label>
              </div>
            </div>
            <div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value id="costAgainDis" />
                <label class="form-check-label" for="costAgainDis">
                  允許買滿件數後，
                  <u>總價再折扣</u>
                  <sup>?</sup>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="d-flex flex-fill border border-top-0 border-bottom-0">
      <div class="textTitle d-flex border-right">加購設定</div>
      <div class="d-flex flex-fill">
        <div class="d-flex flex-column flex-fill justify-content-around p-3">
          <div class="d-flex justify-content-start align-items-center">
            <span>本商品加購分類為</span>
            <div class>
              <select class="custom-select" name id>
                <option selected>藍標</option>
              </select>
            </div>
            <span>區</span>
          </div>
          <div class="d-flex flex-column align-items-start">
            <div>
              <div>
                <b-form-checkbox id="cosBuyExtra">視為加購品：必須與其他加購區一起購買</b-form-checkbox>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div>
                <b-form-checkbox id="cosBuyExtra2">也可以單獨購買，需另加 </b-form-checkbox>
              </div>
              <div>
                <b-form-input></b-form-input>
              </div>
              <span>元</span>
            </div>
          </div>
        </div>
        <div class="d-flex flex-fill">
          <table class="table table-bordered m-0">
            <thead align="left">
              <tr>
                <th>本商品 ＋ 其他區商品</th>
                <th>加購金額</th>
              </tr>
            </thead>
            <tbody align="left">
              <tr>
                <td>藍標 ＋ 黃標</td>
                <td>＄2000</td>
              </tr>
              <tr>
                <td>藍標 ＋ 綠標</td>
                <td>＄1500</td>
              </tr>
              <tr>
                <td>藍標 ＋ 紅標</td>
                <td>＄1000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="d-flex flex-fill border">
      <div class="textTitle d-flex">運費設定</div>
      <div class="d-flex flex-fill flex-column text-left">
        <div class="d-flex flex-column p-3 border border-top-0">
          <div style="width:700px">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>
                    <div class="d-flex">
                      <div>
                        <b-form-checkbox id="cosAll">全選</b-form-checkbox>
                      </div>
                      <span class="pl-2">運送方式</span>
                    </div>
                  </th>
                  <th>
                    <div class="d-flex">
                      <div>
                        <b-form-checkbox id="cosAll2">全選</b-form-checkbox>
                      </div>
                      <span class="pl-2">付款方式</span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex flex-column">
                      <div>
                        <div>
                          <b-form-checkbox id="cosTransport">現場領取</b-form-checkbox>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <b-form-checkbox id="cosTransport2">郵局宅配</b-form-checkbox>
                        </div>
                        <div>
                          <b-input-group prepend="＄" class="mb-2 mr-sm-2 mb-sm-0">
                            <b-input></b-input>
                          </b-input-group>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <b-form-checkbox id="cosTransport3">超商取貨</b-form-checkbox>
                        </div>
                        <div>
                          <b-input-group prepend="＄" class="mb-2 mr-sm-2 mb-sm-0">
                            <b-input></b-input>
                          </b-input-group>
                        </div>
                      </div>
                      <div>
                        <div>
                          <b-form-checkbox id="cosTransport4">指定貨運</b-form-checkbox>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex flex-column">
                      <div>
                        <div>
                          <b-form-checkbox id="cosPayMethod">現金</b-form-checkbox>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <b-form-checkbox id="cosPayMethod2">轉帳／匯款</b-form-checkbox>
                        </div>
                        <div class="d-flex align-items-center">
                          <span>（另收</span>
                          <b-input-group prepend="＄" class="mb-2 mr-sm-2 mb-sm-0"
                            style="width:90px">
                            <b-input></b-input>
                          </b-input-group>
                          <span>）</span>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <b-form-checkbox id="cosPayMethod3">貨到付款</b-form-checkbox>
                        </div>
                        <div class="d-flex align-items-center">
                          <span>（另收</span>
                          <b-input-group prepend="＄" class="mb-2 mr-sm-2 mb-sm-0"
                            style="width:90px">
                            <b-input></b-input>
                          </b-input-group>
                          <span>）</span>
                        </div>
                      </div>
                      <div>
                        <div>
                          <b-form-checkbox id="cosPayMethod4">信用卡</b-form-checkbox>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center">
              <div>
                <b-form-checkbox id="costShipSetting">買</b-form-checkbox>
              </div>
              <div style="width:50px">
                <b-input></b-input>
              </div>
              <span>件以上，運費為兩倍</span>
            </div>
            <div class="d-flex align-items-center ml-4">
              <div>
                <b-form-checkbox id="costShipSetting2">買滿</b-form-checkbox>
              </div>
              <div style="width:50px">
                <b-input></b-input>
              </div>
              <span>件，免運費</span>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column align-items-start border p-3 border-top-0 border-bottom-0">
          <span>【自訂設定】</span>
          <div class="d-flex align-items-center">
            <div>
              <b-form-checkbox id="costShipSetting3">指定</b-form-checkbox>
            </div>
            <div style="width:50px">
              <b-input></b-input>
            </div>
            <span>／</span>
            <div style="width:50px">
              <b-input></b-input>
            </div>
            <span>日期以前，只使用</span>
            <div style="width:60px">
              <b-input placeholder="現場"></b-input>
            </div>
            <span>取貨，顯示自訂名稱</span>
            <div>
              <b-input placeholder="開課當日領取"></b-input>
            </div>
          </div>
          <div>
            <div>
              <b-form-checkbox id="costShipSetting4">不適用網站設定之免運費（購物車滿額／出貨方式／會員等級／指定會員）
              </b-form-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-fill border">
      <div class="textTitle d-flex">消費者提醒</div>
      <div class="d-flex flex-fill flex-column text-left">
        <div class="d-flex flex-column border p-3 border-top-0 border-bottom-0">
          <div>
            <b-input placeholder="請在此輸入文字"></b-input>
          </div>
          <div>
            <ul>
              <li>結帳前須知，例如：『本商品不接受退換貨』</li>
              <li>購物車畫面中會顯示之提示文字</li>
              <li>結帳後同時寫入EMAIL確認訂單信、列印收據等</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="modal-1" centered hide-header size="xl">
      <template v-slot:modal-footer="{ ok, cancel }">
        <!-- Emulate built in modal footer ok and cancel button actions -->
        <b-button variant="outline-secondary" @click="cancel()">不儲存關閉</b-button>
        <b-button variant="outline-secondary" @click="ok()">儲存</b-button>
      </template>
      <div class="row no-gutters">
        <div class="col-12 d-flex flex-column">
          <div class="d-flex">
            <span>基本價格：7000</span>
            <span class="pl-5">目前優惠售價：6900</span>
          </div>
          <div>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>優惠期間</td>
                  <td>2020／3／20～2020／5／30</td>
                  <td>期間碼</td>
                  <td>J1</td>
                </tr>
                <tr>
                  <td>優惠文宣</td>
                  <td>優惠第二波</td>
                  <td>品名前綴</td>
                  <td>預購</td>
                </tr>
                <tr>
                  <td>折扣方式</td>
                  <td colspan="3">
                    <div class="d-flex">
                      <div class="d-flex align-items-center">
                        <b-form-radio name="costModalRadio" value="A">折價</b-form-radio>
                        <div>
                          <b-input-group prepend="－NT＄" class="mb-2 mr-sm-2 mb-sm-0"
                            style="width:180px">
                            <b-input></b-input>
                          </b-input-group>
                        </div>
                        <span>元</span>
                      </div>
                      <div class="d-flex align-items-center pl-4">
                        <b-form-radio name="costModalRadio" value="A">折扣</b-form-radio>
                        <div style="width:60px">
                          <b-input></b-input>
                        </div>
                        <span>折</span>
                      </div>
                      <div class="d-flex align-items-center pl-4">
                        <b-form-radio name="costModalRadio" value="A">指定</b-form-radio>
                        <div>
                          <b-input-group prepend="NT＄" class="mb-2 mr-sm-2 mb-sm-0"
                            style="width:180px">
                            <b-input></b-input>
                          </b-input-group>
                        </div>
                        <span>元</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>備註</td>
                  <td>
                    <b-input></b-input>
                  </td>
                  <td>排序</td>
                  <td>
                    <b-input></b-input>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
  <!-- <div class="costCon d-flex flex-fill justify-content-center">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row h-100 border">
        <div class="d-flex border-right align-items-center tableTitle">是否顯示價格</div>
        <div class="d-flex flex-column text-left flex-fill">
          <b-form-radio v-model="selected" name="some-radios" value="A">A. 會員和非會員均可看到一般價與會員價
          </b-form-radio>
          <div class="d-flex flex-row">
            <b-form-radio v-model="selected" name="some-radios" value="B">B. 會員方可看到會員價
            </b-form-radio>
            <small>( 非會員只可以看到一般價 )</small>
          </div>
          <div class="d-flex flex-row">
            <b-form-radio v-model="selected" name="some-radios" value="C">C. 會員方可看到一般價與會員價
            </b-form-radio>
            <small>( 非會員兩個都看不到 )</small>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row h-100 border">
        <div class="d-flex border-right align-items-center tableTitle">會員方可購買</div>
        <div class="d-flex flex-column text-left">
          <div>
            <b-form-checkbox name="costMemberCheck" v-model="memberCheck" :value="true"
              :unchecked-value="false">會員方可購買</b-form-checkbox>
          </div>
          <div class="d-flex flex-row">
            <div>會員未登入時：</div>
            <div class="d-flex flex-column">
              <b-form-radio name="memberBuyRadio" value>
                顯示
                <strong>訂購鈕</strong>，點了會提示須登入會員方可買
              </b-form-radio>
              <b-form-radio name="memberBuyRadio" value>
                隱藏
                <strong>訂購鈕</strong>
              </b-form-radio>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row border h-100">
        <div class="d-flex border-right align-items-center tableTitle">商品折扣</div>
        <div class="d-flex flex-column text-left flex-fill">
          <div class="d-flex">
            <div>單品折扣： 或</div>
            <a href @click.prevent>選擇折扣區</a>
            <div>(擇一)</div>
          </div>
          <div class="d-flex flex-row bg-success" style="width:600px">
            <div>買滿</div>
            <div class="d-flex flex-column">
              <b-form-input size="sm"></b-form-input>
              <b-form-input size="sm"></b-form-input>
              <b-form-input size="sm"></b-form-input>
            </div>
            <div>件，每件</div>
            <div>
              <div class="input-group input-group-sm mb-3">
                <select class="custom-select">
                  <option selected>Choose...</option>
                </select>
              </div>
            </div>
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center">
                <select class="custom-select">
                  <option selected>Choose...</option>
                </select>
                <div>折</div>
              </div>
              <div class="d-flex align-items-center">
                <select class="custom-select">
                  <option selected>Choose...</option>
                </select>
                <div>折</div>
              </div>
              <div class="d-flex align-items-center">
                <select class="custom-select">
                  <option selected>Choose...</option>
                </select>
                <div>折</div>
              </div>
            </div>
          </div>
          <div>
            <ul>
              <li>滿件數量由小到大填寫</li>
            </ul>
          </div>
          <div>
            <b-form-checkbox name="onsale" :value="true" :unchecked-value="false">當符合上述滿件打完折後，
              允許總價再折扣<small>(例如：會員等級折扣)</small>
            </b-form-checkbox>
          </div>
          <div>
            <ul>
              <li>若已滿足上述商品折扣條件時：</li>
              <li style="list-style-type:none;">不勾選：總價不再打折，訂單細目顯示 不適用總價再折扣</li>
              <li style="list-style-type:none;">勾選：總價再打折</li>
              <li>未滿足上述商品折扣條件時：總價會再打折</li>
              <li>什麼是 總價再折扣：即訂單最後總計金額再打折 (例如：會員等級折扣)</li>
              <li style="list-style-type:none;">請參考 [購物車設定 / 總價再折扣]</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row border h-100">
        <div class="d-flex border-right align-items-center tableTitle">折扣排除</div>
        <div class="d-flex flex-column text-left">
          <b-form-radio name="onsaleRadio" :value="true" v-model="testRadio" @click="aaa()">
            不適用 總價再折扣 <small> (例如：會員等級折扣)</small>
          </b-form-radio>
          <ul>
            <li>本商品一律不允許總價再折扣</li>
            <li>訂單細目顯示 不適用總價再折扣</li>
          </ul>
          <b-form-radio name="onsaleRadio" :value="false" v-model="testRadio" @click="aaa()">
            不適用任何折扣
          </b-form-radio>
          <ul>
            <li>商品折扣 與 總價再折扣 兩者都不允許</li>
            <li>訂單細目顯示 不適用任何折扣</li>
          </ul>
        </div>
      </div>
      <div class="d-flex flex-row border h-100">
        <div class="d-flex border-right align-items-center tableTitle">加購品</div>
        <div class="d-flex flex-column text-left align-items-center">
          <b-form-checkbox name="memBuyOther" :value="true" :unchecked-value="false">加購品
            需與買其他非折扣商品一起購買</b-form-checkbox>
          <div class="d-flex flex-fill align-items-center">
            <b-form-checkbox name="memBuyOtherSingle" :value="true" :unchecked-value="false">
              也可單獨購買，但需另加
            </b-form-checkbox>
            <div class="d-flex align-items-center">
              <b-form-input size="sm" style="width:40px" class=" no-gutters"></b-form-input>元
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row border h-100">
        <div class="d-flex border-right align-items-center tableTitle">免運設定</div>
        <div class="d-flex flex-column flex-fill align-items-start">
          <div class="d-flex align-items-center">買滿<b-form-input size="sm" style="width:40px"
              class=" no-gutters">
            </b-form-input>件免運費</div>
          <div>
            <b-form-checkbox name="freeCheck" :value="true" :unchecked-value="false">
              本商品獨立計算免運，訂單內若含其他商品，仍需運費</b-form-checkbox>
          </div>
          <div>
            <b-form-checkbox name="freeCheck2" :value="true" :unchecked-value="false">
              不適用滿多少免運費</b-form-checkbox>
          </div>
          <div class="text-left">
            <ul>
              <li>本商品不納入下列四項免運判斷</li>
              <li style="list-style-type:none;">於購物車內 [總體免運] 或某 [貨運方式] 免運設定</li>
              <li style="list-style-type:none;">於 [會員等級] 或 [某位會員] 免運設定</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row border h-100">
        <div class="d-flex border-right align-items-center tableTitle">不適用的
          貨運\付款方式</div>
        <div class="d-flex flex-column text-left align-items-center">
        </div>
      </div>
      <div class="d-flex flex-row border h-100">
        <div class="d-flex border-right align-items-center tableTitle">消費提醒 </div>
        <div class="d-flex flex-column text-left flex-fill">
          <b-form-textarea size="sm" style="width:500px">
          </b-form-textarea>
          <ul>
            <li>消費者於購物時於購物車中可看到此文字 例如:『本商品不接受退換貨』( 50 字 )</li>
            <li>此文字會同步寫入到訂單細目的 [消費提醒]中</li>
          </ul>
        </div>
      </div>
    </div>
  </div>-->
</template>
<script>
  export default {
    data() {
      return {
        selected: "",
        memberCheck: false,
        testRadio: false
      };
    },
    methods: {}
  };

</script>
<style lang="scss">
  .textTitle {
    writing-mode: vertical-lr;
    width: 30px;
    align-items: center;
    justify-content: center;
    letter-spacing: 10px;
  }

</style>
