<template>
  <div class="d-flex flex-column flex-fill">
    <template v-if="stockStatus === 1">
      <div class="d-flex flex-column flex-fill">
        <div class="d-flex flex-column p-3 border-bottom">
          <div class="d-flex align-items-center pl-3 pt-3">
            <font-awesome-icon :icon="['fas', 'play']" />
            <span class="pl-3">
              庫存管理模式：單一庫存
              <small>
                <a href="#">進階模式</a>
              </small>
            </span>
          </div>
          <!-- <div class="d-flex align-items-center pl-3 pt-3">
            <font-awesome-icon :icon="['fas', 'play']" />
            <span class="pl-3">總庫存量：</span>
            <div>
              <b-input></b-input>
            </div>
          </div>
          <div class="d-flex align-items-center pl-5">
            <div>
              <b-form-checkbox id="sotckCheck">安全庫存停賣點：</b-form-checkbox>
            </div>
            <div>
              <b-input></b-input>
            </div>
            <span>（當設定安全停賣點 = 不超賣）</span>
          </div>
          <div class="d-flex flex-column align-items-start pl-5">
            <div>
              <b-form-checkbox id="sotckCheck2">是否顯示庫存量</b-form-checkbox>
            </div>
            <div class="d-flex align-items-center ml-3">
              <div>
                <b-form-checkbox id="sotckCheck3">自訂庫存量</b-form-checkbox>
              </div>
              <div>
                <b-input></b-input>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center pl-5">
            <div>
              <b-form-checkbox id="sotckCheck4">顯示上架日</b-form-checkbox>
            </div>
          </div> -->
          <div class="row no-gutters">
            <div class="col-7">
              <div class="row no-gutters">
                <div class="col-4 d-flex justify-content-start align-items-center pl-3 py-2">
                  <font-awesome-icon :icon="['fas', 'play']" />
                  <span class="pl-3">總庫存量：</span>
                </div>
                <div class="col-8 d-flex justify-content-start py-2">
                  <div>
                    <b-input></b-input>
                  </div>
                </div>
                <div class="col-4 d-flex justify-content-start align-items-center pl-3">
                  <div>
                    <b-form-checkbox id="sotckCheck">安全庫存停賣點：</b-form-checkbox>
                  </div>
                </div>
                <div class="col-8 d-flex align-items-center">
                  <div>
                    <b-input></b-input>
                  </div>
                  <span>（當設定安全停賣點 = 不超賣）</span>
                </div>
                <div class="col-12 d-flex justify-content-start align-items-center pl-3">
                  <div>
                    <b-form-checkbox id="sotckCheck2">是否顯示庫存量</b-form-checkbox>
                  </div>
                </div>
                <div class="col-4 d-flex justify-content-start align-items-center pl-3">
                  <div>
                    <b-form-checkbox id="sotckCheck3">自訂庫存量</b-form-checkbox>
                  </div>
                </div>
                <div class="col-8 d-flex justify-content-start align-items-center">
                  <div>
                    <b-input></b-input>
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-start align-items-center pl-3">
                  <div>
                    <b-form-checkbox id="sotckCheck4">顯示上架日</b-form-checkbox>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5">

            </div>
          </div>
        </div>
      </div>
    </template>
    <template v-if="stockStatus === 2">
      <div class="d-flex flex-column flex-fill">
        <div class="border">
          <span>【規格模式】</span>
        </div>
        <div class="d-flex flex-column p-3 border-bottom">
          <div class="d-flex align-items-center pl-3 pt-3">
            <font-awesome-icon :icon="['fas', 'play']" />
            <span class="pl-3">庫存管理模式：</span>
            <div v-if="nowSpecification === 'multiple'">
              <select class="custom-select" id="stockSelect">
                <option selected>規格庫存</option>
              </select>
            </div>
            <div v-if="nowSpecification === 'case'">
              <select v-model="stockStatus" class="custom-select" id="stockSelect3">
                <option :value="3" selected>元素庫存</option>
                <option :value="2">規格庫存</option>
              </select>
            </div>
          </div>
          <div class="d-flex flex-column align-items-start pl-5">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value id="sotckCheck5" />
              <label class="form-check-label" for="sotckCheck5">是否顯示庫存量</label>
            </div>
            <div class="d-flex align-items-center ml-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value id="sotckCheck6" />
                <label class="form-check-label" for="sotckCheck6">自訂庫存量</label>
              </div>
              <div>
                <b-input></b-input>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center pl-5">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value id="sotckCheck7" />
              <label class="form-check-label" for="sotckCheck7">顯示上架日</label>
            </div>
          </div>
          <span class=" align-self-start">【規格庫存表】</span>
          <div style="width:700px;">
            <table class="table table-bordered overflow-auto">
              <thead align="left">
                <tr>
                  <th colspan="2"></th>
                  <th>規格項目</th>
                  <th>庫存量</th>
                  <th>安全停賣點</th>
                </tr>
              </thead>
              <tbody align="left">
                <tr>
                  <td>1</td>
                  <td>
                    <button type="button" class="btn btn-outline-secondary">編輯</button>
                  </td>
                  <td>紅</td>
                  <td>20</td>
                  <td>18</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                    <button type="button" class="btn btn-outline-secondary">編輯</button>
                  </td>
                  <td>黑</td>
                  <td>10</td>
                  <td>8</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <button type="button" class="btn btn-outline-secondary">編輯</button>
                  </td>
                  <td>白</td>
                  <td>10</td>
                  <td>10</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </template>
    <template v-if="stockStatus === 3">
      <div class="d-flex flex-column flex-fill">
        <div class="border">
          <span>【元素庫存】</span>
        </div>
        <div class="d-flex flex-column p-3 border-bottom">
          <div class="d-flex flex-fill align-items-center pl-3 pt-3">
            <font-awesome-icon :icon="['fas', 'play']" />
            <span class="pl-3">庫存管理模式：</span>
            <div>
              <select v-model="stockStatus" class="custom-select" id="stockSelect2">
                <option :value="3" selected>元素庫存</option>
                <option :value="2">規格庫存</option>
              </select>
            </div>
          </div>
          <div class="d-flex align-items-center pl-3 pt-3">
            <font-awesome-icon :icon="['fas', 'play']" />
            <span class="pl-3">總庫存量：</span>
            <div>
              <b-input></b-input>
            </div>
            <span>（不得超過元素最低總庫存量）</span>
          </div>
          <div class="d-flex align-items-center pl-5">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value id="sotckCheck8" />
              <label class="form-check-label" for="sotckCheck8">安全庫存停賣點：</label>
            </div>
            <div>
              <b-input></b-input>
            </div>
          </div>
          <div class="d-flex flex-fill flex-column align-items-start pl-5">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value id="sotckCheck9" />
              <label class="form-check-label" for="sotckCheck9">是否顯示庫存量</label>
            </div>
            <div class="d-flex align-items-center ml-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value id="sotckCheck10" />
                <label class="form-check-label" for="sotckCheck10">自訂庫存量</label>
              </div>
              <div>
                <b-input></b-input>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value id="sotckCheck11" />
                <label class="form-check-label" for="sotckCheck11">顯示上架日</label>
              </div>
            </div>
          </div>
          <span class="align-self-start">【元素庫存狀態】</span>
          <div class="d-flex flex-fill">
            <table class="table table-bordered">
              <thead align="left">
                <tr>
                  <th></th>
                  <th>元素</th>
                  <th>所在方案</th>
                  <th>剩餘（總庫存量）</th>
                  <th>安全停賣點</th>
                  <th>庫存狀態</th>
                </tr>
              </thead>
              <tbody align="left">
                <tr>
                  <td></td>
                  <td>課程</td>
                  <td>單, A, B, C</td>
                  <td>40（50）</td>
                  <td>48</td>
                  <td>尚可</td>
                </tr>
                <tr>
                  <td></td>
                  <td>有聲書</td>
                  <td>A, B, C</td>
                  <td>80（100）</td>
                  <td>90</td>
                  <td>尚可</td>
                </tr>
                <tr>
                  <td></td>
                  <td>函授</td>
                  <td>B, C</td>
                  <td>10（100）</td>
                  <td>無</td>
                  <td>尚可</td>
                </tr>
                <tr>
                  <td></td>
                  <td>回訓</td>
                  <td>C</td>
                  <td>48（50）</td>
                  <td>無</td>
                  <td>尚可</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </template>
  </div>
  <!-- <div class="d-flex justify-content-center">
    <div class="Stock d-flex flex-column">
      <div class="d-flex flex-row h-100 border">
        <div class="d-flex border-right align-items-center tableTitle">總庫存量</div>
        <div class="d-flex flex-column text-left flex-fill">
          <div class="d-flex justify-content-start align-items-center">
            <input type="text" class="form-control" />
            <small>(正負數)</small>
          </div>
          <div>
            <ul>
              <li>不輸入表示不使用庫存</li>
              <li>
                當有輸入時，購物完成或店家於後台修改訂單購買數量後，系統會自動校正庫存量<br />刪除或取消訂單時系統會詢問是否加回庫存
              </li>
              <li>
                另可於 [批次編輯商品] [庫存] 點左上方 [安全庫存量通知] 設定提示<br />或於
                [庫存量排行] 查詢庫存不足的商品
              </li>
            </ul>
          </div>
          <div class="d-flex">
            <b-form-checkbox
              id="checkbox-1"
              name="checkbox-1"
              value="accepted"
              unchecked-value="not_accepted"
              v-model="stockempty"
            >
              當庫存量小於等於 0 時，自動停賣<br />停賣時隱藏訂購鈕，並顯示
            </b-form-checkbox>
            <div class="d-flex align-self-end">
              <b-form-radio value="SoldOut" name="stockradio">已售完</b-form-radio>
              <b-form-radio value="replenishment" name="stockradio">售完補貨中</b-form-radio>
              <b-form-radio value="PreSale" name="stockradio">預售中</b-form-radio>
            </div>
          </div>
          <div>
            <ul>
              <li>不勾選時：即使庫存小於 0 時消費者仍可購買</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row h-100 border">
        <div class="d-flex border-right align-items-center tableTitle">其他</div>
        <div class="d-flex flex-column text-left flex-fill">
          <b-form-checkbox-group
            class="d-flex flex-column text-left flex-fill"
            v-model="stockShow"
            name="flavour-2"
          >
            <b-form-checkbox value="showStock">顯示庫存量讓消費者看</b-form-checkbox>
            <b-form-checkbox value="showOnDate">顯示上架日期讓消費者看</b-form-checkbox>
          </b-form-checkbox-group>
        </div>
      </div>
    </div>
  </div>-->
</template>
<script>
  export default {
    data() {
      return {
        stockShow: [],
        stockempty: '',
        stockStatus: 0,
      };
    },
    computed: {
      nowSpecification: {
        get() {
          return this.$store.state.productInsert.nowSpecification;
        },
      },
    },
    created() {
      if (this.nowSpecification === 'single') {
        this.stockStatus = 1;
      } else if (this.nowSpecification === 'multiple') {
        this.stockStatus = 2;
      } else {
        this.stockStatus = 3;
      }
    },
  };

</script>
<style lang="scss"></style>
