<template>
  <div class="d-flex flex-column flex-fill">

    <div class="d-flex flex-column flex-fill">
      <template v-if="nowSpecification === 'single'">
        <div class="d-flex flex-column align-items-start p-3 border-bottom">
          <span>【商品性質】</span>
          <div class="d-flex align-items-center pl-3 pt-3">
            <font-awesome-icon :icon="['fas', 'play']" />
            <span class="pl-3">本商品性質：單一規格<small><a href="#"
                  @click.prevent="toMultiple()">新增多選規格</a></small></span>
          </div>
          <div class="d-flex align-items-center pl-3 pt-3">
            <font-awesome-icon :icon="['fas', 'play']" />
            <span class="pl-3">組合商品：否<small><a href="#">添加現有商品</a></small></span>
          </div>
        </div>
      </template>
      <template v-if="nowSpecification === 'multiple'">
        <!-- <div class="border">
          <span>【規格模式】</span>
        </div> -->
        <div class="d-flex flex-column align-items-start p-3 border-bottom">
          <span>【商品性質】</span>
          <div class="d-flex align-items-center pl-3 pt-3">
            <font-awesome-icon :icon="['fas', 'play']" />
            <span class="pl-3">本商品性質：規格模式<small><a href="#" @click.prevent="toCase()">變更方案</a>／<a
                  href="#" @click.prevent="toSingle()">取消</a></small></span>
          </div>
          <div class="text-left pt-3">
            <small>
              以下所有價格自動帶入（1）基本資料－基本價格後，再開始自訂，價格只能設定在第 N 組；[消費相關]優惠期間之折價顯示在優惠價格
            </small>
          </div>
          <div class="d-flex">
            <small>【一般價】＄7000</small>
            <small class="pl-3">【定價】＄10000</small>
            <small class="pl-3">【成本】＄5000</small>
          </div>
          <table class="table table-bordered">
            <tbody align="left">
              <tr>
                <td colspan="2">第1組選項</td>
                <td colspan="2">顏色</td>
                <td>選項型態<sup>？</sup></td>
                <td colspan="3">單選</td>
              </tr>
              <tr>
                <td colspan="2">
                  <button type="button" class="btn btn-outline-secondary">新增</button>
                </td>
                <td>選項項目</td>
                <td>目前優惠價</td>
                <td>一般價</td>
                <td>定價</td>
                <td>成本價</td>
                <td>追加折扣</td>
              </tr>
              <tr>
                <td>1</td>
                <td>
                  <button type="button" class="btn btn-outline-secondary">編輯</button>
                </td>
                <td>紅</td>
                <td>＄6900</td>
                <td>＄7000</td>
                <td>＄10000</td>
                <td>＄5000</td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <button type="button" class="btn btn-outline-secondary">編輯</button>
                </td>
                <td>黑</td>
                <td>＄6000</td>
                <td>＄6000</td>
                <td>＄10000</td>
                <td>＄4000</td>
                <td>指定＄6000</td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <button type="button" class="btn btn-outline-secondary">編輯</button>
                </td>
                <td>白</td>
                <td>＄6900</td>
                <td>＄7000</td>
                <td>＄10000</td>
                <td>＄5000</td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered">
            <tbody align="left">
              <tr>
                <td colspan="2">第2組選項</td>
                <td colspan="2">
                  <div class="d-flex justify-content-between">
                    <span>大小</span>
                    <small><a href="#">啟用價格</a></small>
                  </div>
                </td>
                <td>選項型態<sup>？</sup></td>
                <td colspan="3">單選</td>
              </tr>
              <tr>
                <td colspan="2">
                  <button type="button" class="btn btn-outline-secondary">新增</button>
                </td>
                <td>選項項目</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>1</td>
                <td>
                  <button type="button" class="btn btn-outline-secondary">編輯</button>
                </td>
                <td>XL</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <button type="button" class="btn btn-outline-secondary">編輯</button>
                </td>
                <td>L</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </template>
      <template v-if="nowSpecification === 'case'">
        <!-- <div class="border">
          <span>【方案模式】</span>
        </div> -->
        <div class="d-flex flex-column align-items-start p-3 border-bottom">
          <span>【商品性質】</span>
          <div class="d-flex align-items-center pl-3 pt-3">
            <font-awesome-icon :icon="['fas', 'play']" />
            <span class="pl-3">本商品性質：方案模式<small><a href="#"
                  @click.prevent="toMultiple()">變更為規格</a>／<a href="#"
                  @click.prevent="toSingle()">取消模式</a></small></span>
          </div>
          <div class="pl-5">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value id="speCheck" />
              <label class="form-check-label" for="speCheck">同時為基礎元素（同步新增元素）</label>
            </div>
          </div>
          <div class="text-left pt-3">
            <small>
              以下所有價格自動帶入（1）基本資料－基本價格後，再開始自訂；[消費相關]優惠期間之折價顯示在優惠價格
            </small>
          </div>
          <div class="d-flex">
            <small>【一般價】＄7000</small>
            <small class="pl-3">【定價】＄10000</small>
            <small class="pl-3">【成本】＄5000</small>
          </div>
          <table class="table table-bordered">
            <tbody align="left" style="vertical-middle">
              <tr>
                <td colspan="2">
                  <button type="button" class="btn btn-outline-secondary">新增</button>
                </td>
                <td>
                  方案名稱
                </td>
                <td>
                  追加內容
                </td>
                <td>
                  優惠價
                </td>
                <td>
                  一般價
                </td>
                <td>
                  定價
                </td>
                <td>
                  成本價
                </td>
                <td>
                  追加折扣
                </td>
                <td>
                  含運費<sup>？</sup>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>
                  <button type="button" class="btn btn-outline-secondary">編輯</button>
                </td>
                <td>
                  單購課程
                </td>
                <td></td>
                <td>
                  ＄6900
                </td>
                <td>
                  ＄7000
                </td>
                <td>
                  ＄10000
                </td>
                <td>
                  ＄5000
                </td>
                <td></td>
                <td>
                  X
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <button type="button" class="btn btn-outline-secondary">編輯</button>
                </td>
                <td>
                  A方案
                </td>
                <td>
                  有聲書
                </td>
                <td>
                  ＄7900
                </td>
                <td>
                  ＄8000
                </td>
                <td>
                  ＄12000
                </td>
                <td>
                  ＄6000
                </td>
                <td></td>
                <td>
                  V
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <button type="button" class="btn btn-outline-secondary">編輯</button>
                </td>
                <td>
                  B方案
                </td>
                <td>
                  有聲書+雲端
                </td>
                <td>
                  ＄8900
                </td>
                <td>
                  ＄9000
                </td>
                <td>
                  ＄16200
                </td>
                <td>
                  ＄7000
                </td>
                <td></td>
                <td>
                  V
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </template>
      <div class="d-flex flex-column align-items-start p-3">
        <span>【整體設定】</span>
        <div class="d-flex align-items-center">
          <span>本商品單次可購買數量：</span>
          <div style="width:60px;">
            <b-input placeholder="＜1"></b-input>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="d-flex flex-column h-100">
    <div class="d-flex text-left">
      <ul>
        <li>可針對某個規格輸入規格價格 ( 一般價、會員價、成本價 )</li>
        <li>沒輸入規格價格 時，表示沿用 [基本欄位] 中所設定的價格</li>
        <li>規格價格 僅能設定於某組單選上</li>
        <li>規格庫存 僅能設定於第 1 組單選上</li>
      </ul>
    </div>
    <div class="d-flex">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>規格名稱</th>
            <th>型態</th>
            <th>規格選項</th>
            <th>規格庫存</th>
            <th>一般價(元)</th>
            <th>會員價(元)</th>
            <th>成本價(元)</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in num" :key="index">
            <td>
              第{{ index + 1 }}組
              <div
                v-if="item.type === 'bigtextarea'"
                class="d-flex flex-wrap text-left"
                style="width:350px"
              >
                ※ 消費者於大文字框內輸入的文字，於銷售統計規格時不會列入統計
              </div>
            </td>
            <td align="center">
              <b-form-input v-model="item.speName" size="sm" style="width:100px"></b-form-input>
            </td>
            <td>
              <select class="custom-select" id="inputGroupSelect01" v-model="item.type">
                <option value="SingleCheck" selected>單選</option>
                <option value="dropdown">下拉</option>
                <option value="check">複選</option>
                <option value="textarea">文字框</option>
                <option value="bigtextarea">大文字框</option>
              </select>
            </td>
            <template v-if="item.type === 'SingleCheck'">
              <td align="center">
                <div class="d-flex flex-column">
                  <div v-for="(j, index2) in item.count.length" :key="index2">
                    <b-form-input v-model="item.spe[index2]" size="sm"> </b-form-input>
                  </div>
                  <a href @click.prevent="addNum(index)">新增選項</a>
                </div>
              </td>
              <td align="center">
                <div class="d-flex flex-column tdinput">
                  <div v-for="(j, index2) in item.count.length" :key="index2">
                    <b-form-input v-model="item.stock[index2]" size="sm"> </b-form-input>
                  </div>
                </div>
              </td>
              <td align="center">
                <div class="d-flex flex-column tdinput">
                  <b-form-input
                    v-for="(j, index2) in item.count.length"
                    :key="index2"
                    v-model="item.normalp[index2]"
                    size="sm"
                  >
                  </b-form-input>
                </div>
              </td>
              <td align="center">
                <div class="d-flex flex-column tdinput">
                  <b-form-input
                    v-for="(j, index2) in item.count.length"
                    :key="index2"
                    v-model="item.memberp[index2]"
                    size="sm"
                  >
                  </b-form-input>
                </div>
              </td>
              <td align="center">
                <div class="d-flex flex-column tdinput">
                  <b-form-input
                    v-for="(j, index2) in item.count.length"
                    :key="index2"
                    v-model="item.costp[index2]"
                    size="sm"
                  >
                  </b-form-input>
                </div>
              </td>
            </template>
            <template v-else-if="item.type === 'dropdown'">
              <td colspan="5" align="center">
                <div class="d-flex">
                  <textarea class="form-control" rows="5" style="width:600px"></textarea>
                </div>
              </td>
            </template>
            <template v-else-if="item.type === 'check'">
              <td align="center">
                <div class="d-flex flex-column">
                  <div v-for="(j, index2) in item.count.length" :key="index2">
                    <b-form-input v-model="item.spe[index2]" size="sm"> </b-form-input>
                  </div>
                  <a href @click.prevent="addNum(index)">新增選項</a>
                </div>
              </td>
            </template>
            <template v-else-if="item.type === 'textarea'">

            </template>
          </tr>
        </tbody>
        <a href="" @click.prevent="addTr()">新增一組規格</a>
      </table>
    </div>
    <div class="d-flex flex-row h-100 border">
      <div class="d-flex border-right align-items-center">規定購買數量</div>
      <div class="d-flex flex-column text-left flex-fill">
        <b-form-input size="sm" style="width:500px"></b-form-input>
        <ul>
          <li>
            輸入 10;20;30 表示購買單位必須是 10;20;30 件 ( 例如：鈕扣：一個單位是10顆，不可以零買3顆
            )
          </li>
          <li>輸入＞10 表示最少需買10(含)件以上</li>
          <li>輸入＜3 表示單張訂單內最多只能買3(含)件，適用：跳樓特價品</li>
        </ul>
      </div>
    </div>
  </div> -->
</template>
<script>
export default {
  data() {
    return {
      aaa: [],
      num: [
        {
          speName: '',
          type: 'SingleCheck',
          count: ['', '', ''],
          spe: [],
          stock: [],
          normalp: [],
          memberp: [],
          costp: [],
        },
        {
          speName: '',
          type: 'SingleCheck',
          count: ['', '', ''],
          spe: [],
          stock: [],
          normalp: [],
          memberp: [],
          costp: [],
        },
      ],
    };
  },
  methods: {
    addNum(index) {
      this.num[index].count.push('');
    },
    addTr() {
      this.num.push({
        speName: '',
        type: 'SingleCheck',
        count: ['', '', ''],
        spe: [],
        stock: [],
        normalp: [],
        memberp: [],
        costp: [],
      });
    },
    toMultiple() {
      this.$store.commit('productInsert/setSpecification', 'multiple');
    },
    toCase() {
      this.$store.commit('productInsert/setSpecification', 'case');
    },
    toSingle() {
      this.$store.commit('productInsert/setSpecification', 'single');
    },
  },
  computed: {
    nowSpecification: {
      get() {
        return this.$store.state.productInsert.nowSpecification;
      },
    },
  },
};

</script>
<style lang="scss">
  .tdinput {
    width: 60px;
  }

</style>
