<template>
  <div id="app">
    <header>
      <router-view name='header' />
    </header>
    <section>
      <div class='container'>
        <router-view name='body' />
        <router-view name='newletterExport' />
      </div>
    </section>
    <footer class="footerAbout">
      <router-view name='footer' />
    </footer>
  </div>
</template>

<style lang="scss">
  .footerAbout {
    background-color: #555 !important;

    small {
      color: #ab7c14;
    }

    .fTitle {
      color: white;
    }

    .titleEng {
      color: white;
    }
  }

  .footerFB {
    background-color: #cfcfcf !important;
  }

  #app {
    font-family: "微軟正黑體";
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    text-align: center;
    // color: #2c3e50;
  }

  #header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  }

  .mynavbtn {
    a {
      color: black !important;

      &:hover {
        color: #ab7c14 !important;
      }
    }
  }

  .min-vh-75 {
    min-height: 75vh !important;
  }

</style>
