<template>
  <div class="d-flex flex-fill justify-content-center">
    <div>
      <div class="row no-gutters">
        <div class="col-12 d-flex justify-content-end">
          <button @click="toInsertProPage()" type="button" class="btn btn-primary">新增商品</button>
        </div>
      </div>
      <div class="row no-gutters d-flex justify-content-center">
        <div class="col-2">
          <div class="d-flex flex-fill flex-column text-left">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="d-flex justify-content-center">
                  <span>《商品排版》</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex flex-column">
                  <div class="d-flex">
                    <span class="flex-fill">每一橫列放幾件商品：</span>
                    <div class="flex-fill">
                      <select v-model="temp.proSort" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="6">6</option>
                      </select>
                    </div>
                  </div>
                  <div class="d-flex justify-content-around">
                    <div>
                      <b-form-radio name="overviewRadio6" value="20">自動排列 </b-form-radio>
                    </div>
                    <div class="d-flex">
                      <b-form-radio name="overviewRadio6" value="20">棋盤排列 </b-form-radio>
                      <a href="#" @click.prevent>圖例</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex flex-column">
                  <div class="d-flex">
                    <div class="flex-fill">
                      <span>縮圖大小：</span>
                    </div>
                    <div class="flex-fill flex-column">
                      <span>{{ `${temp.proOverViewWidth}%（拖拉滑桿）` }}</span>
                      <b-form-input id="range-2" v-model="temp.proOverViewWidth" type="range"
                        min="20" max="100" step="1"></b-form-input>
                      <!-- <b-form-input type="number" min="100" max="500"
                        v-model="temp.proOverViewWidth">
                      </b-form-input> -->
                      <div class="d-flex justify-content-around">
                        <div>
                          <b-form-radio v-model="temp.proImgBorder" name="overviewRadio5"
                            :value="true">有圖框
                          </b-form-radio>
                        </div>
                        <div>
                          <b-form-radio v-model="temp.proImgBorder" name="overviewRadio5"
                            :value="false">無圖框
                          </b-form-radio>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-column">
                    <div class="d-flex flex-fill">
                      <span>排版</span>
                      <a href="#" @click.prevent>圖例</a>
                    </div>
                    <div class="d-flex justify-content-around">
                      <div>
                        <b-form-radio v-model="temp.proTempleStyle" name="overviewRadio7"
                          value="vertical_1">直1
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proTempleStyle" name="overviewRadio7"
                          value="vertical_2">直2
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proTempleStyle" name="overviewRadio7"
                          value="horizontal_1">橫1
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proTempleStyle" name="overviewRadio7"
                          value="horizontal_2">橫2
                        </b-form-radio>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex align-items-center">
                  <span>小圖示</span>
                  <div>
                    <font-awesome-icon :icon="['fas', 'star']" style="color:darkgoldenrod;" />
                  </div>
                  <a href="#" @click.prevent>選圖示</a>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex flex-column">
                  <span>商品名稱：</span>
                  <div class="d-flex">
                    <span>字大小</span>
                    <div class="d-flex flex-fill justify-content-around">
                      <div>
                        <b-form-radio v-model="temp.proTitleSize" name="overviewRadio" value="20">小
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proTitleSize" name="overviewRadio" value="30">中
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proTitleSize" name="overviewRadio" value="40">大
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proTitleSize" name="overviewRadio" value="50">巨
                        </b-form-radio>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-fill align-items-center">
                    <span>字顏色</span>
                    <div class="flex-fill">
                      <b-form-input v-model="temp.proTitleColor" type="color"></b-form-input>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex flex-column">
                  <span>價格：</span>
                  <div class="d-flex">
                    <span>字大小</span>
                    <div class="d-flex flex-fill justify-content-around">
                      <div>
                        <b-form-radio v-model="temp.proPriceSize" name="overviewRadio2" value="15">小
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proPriceSize" name="overviewRadio2" value="20">中
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proPriceSize" name="overviewRadio2" value="25">大
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proPriceSize" name="overviewRadio2" value="30">巨
                        </b-form-radio>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-fill align-items-center">
                    <span>字顏色</span>
                    <div class="flex-fill">
                      <b-form-input v-model="temp.proPriceColor" type="color"></b-form-input>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex flex-column">
                  <span>一般價會員價：</span>
                  <div class="d-flex">
                    <span>字大小</span>
                    <div class="d-flex flex-fill justify-content-around">
                      <div>
                        <b-form-radio v-model="temp.proTypePriceSize" name="overviewRadio3"
                          value="15">小
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proTypePriceSize" name="overviewRadio3"
                          value="20">中
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proTypePriceSize" name="overviewRadio3"
                          value="25">大
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proTypePriceSize" name="overviewRadio3"
                          value="30">巨
                        </b-form-radio>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-fill align-items-center">
                    <span>字顏色</span>
                    <div class="flex-fill">
                      <b-form-input v-model="temp.proTypePriceColor" type="color"></b-form-input>
                    </div>
                  </div>
                  <div class="d-flex flex-column">
                    <span>當無權限時：</span>
                    <div>
                      <b-form-radio name="overviewRadio2" value="20">使用？顯示金額 </b-form-radio>
                    </div>
                    <div>
                      <b-form-radio name="overviewRadio2" value="20">不顯示金額 </b-form-radio>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex flex-column">
                  <span>商品簡要說明：</span>
                  <div class="d-flex">
                    <span>字大小</span>
                    <div class="d-flex flex-fill justify-content-around">
                      <div>
                        <b-form-radio v-model="temp.proInfoSize" name="overviewRadio4" value="15">小
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proInfoSize" name="overviewRadio4" value="20">中
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proInfoSize" name="overviewRadio4" value="25">大
                        </b-form-radio>
                      </div>
                      <div>
                        <b-form-radio v-model="temp.proInfoSize" name="overviewRadio4" value="30">巨
                        </b-form-radio>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-fill align-items-center">
                    <span>字顏色</span>
                    <div class="flex-fill">
                      <b-form-input v-model="temp.proInfoColor" type="color"></b-form-input>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-around">
                  <button type="button" class="btn btn-outline-secondary" :disabled="noChange()"
                    @click="cancelStyle()">
                    取消
                  </button>
                  <button type="button" class="btn btn-outline-secondary" :disabled="noChange()"
                    @click="saveStyle()">
                    儲存
                  </button>
                </div>
              </li>
            </ul>
            <!-- <div class="d-flex">
              <div class="flex-fill">輸入顯示的個數：</div>
              <div class="flex-fill">
                <select v-model="sortnum" class="form-control" @change="changeSort(sortnum)">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="6">6</option>
                </select>
              </div>
            </div>
            <div class="d-flex">
              <div class="flex-fill">
                <span>大小：</span>
              </div>
              <div class="flex-fill">
                <b-form-input id="range-2" v-model="setWidth" type="range" min="100" max="300"
                  step="10"></b-form-input>
              </div>
            </div>
            <span class="align-self-center">{{setWidth}}</span>
            <div class="d-flex">
              <span>商品名稱：</span>

            </div>-->
          </div>
        </div>
        <div class="col-10 row no-gutters" style="width:1300px;">
          <div v-for="(item, index) in 30" :key="index" :class="{
              'col-12': temp.proSort === '1',
              'col-6': temp.proSort === '2',
              'col-4': temp.proSort === '3',
              'col-3': temp.proSort === '4',
              'col-2': temp.proSort === '6'
            }">
            <div class="d-flex justify-content-center">
              <b-card align="center" tag="div" class="m-2 align-items-center flex-fill">
                <template v-if="temp.proTempleStyle === 'vertical_1'">
                  <div class="d-flex flex-column align-items-center">
                    <div class="d-flex flex-fill align-items-center justify-content-center">
                      <div :style="{
                          width: `${temp.proOverViewWidth}%`,
                          height: `${temp.proOverViewWidth}%`
                        }" :class="{ 'p-2': temp.proImgBorder, border: temp.proImgBorder }">
                        <b-card-img src="https://picsum.photos/400/400/?image=25" alt="商品圖">
                        </b-card-img>
                      </div>
                    </div>
                    <b-card-title :style="{
                        'font-size': temp.proTitleSize + 'px',
                        color: temp.proTitleColor
                      }">
                      <font-awesome-icon :icon="['fas', 'star']" style="color:darkgoldenrod;" />
                      商品名
                    </b-card-title>
                    <span :style="{
                        'font-size': temp.proInfoSize + 'px',
                        color: temp.proInfoColor
                      }">這是商品簡介</span>
                    <div class="d-flex align-items-center">
                      <div>
                        <b-card-text :style="{
                            'font-size': temp.proTypePriceSize + 'px',
                            color: temp.proTypePriceColor
                          }">一般價：</b-card-text>
                      </div>
                      <div>
                        <b-card-text :style="{
                            'font-size': temp.proPriceSize + 'px',
                            color: temp.proPriceColor
                          }">
                          100000
                        </b-card-text>
                      </div>
                    </div>
                    <div class="d-flex align-items-center">
                      <div>
                        <b-card-text :style="{
                            'font-size': temp.proTypePriceSize + 'px',
                            color: temp.proTypePriceColor
                          }">會員價：</b-card-text>
                      </div>
                      <div>
                        <b-card-text :style="{
                            'font-size': temp.proPriceSize + 'px',
                            color: temp.proPriceColor
                          }">
                          99999
                        </b-card-text>
                      </div>
                    </div>
                    <b-button href="#" variant="primary" @click="test()">訂購</b-button>
                  </div>
                </template>
                <template v-else-if="temp.proTempleStyle === 'vertical_2'">
                  <div class="d-flex flex-column align-items-center">
                    <div class="d-flex flex-fill align-items-center justify-content-center order-2">
                      <div :style="{
                          width: `${temp.proOverViewWidth}%`,
                          height: `${temp.proOverViewWidth}%`
                        }" :class="{ 'p-2': temp.proImgBorder, border: temp.proImgBorder }">
                        <b-card-img src="https://picsum.photos/400/400/?image=25" alt="商品圖">
                        </b-card-img>
                      </div>
                    </div>
                    <b-card-title class="order-1" :style="{
                        'font-size': temp.proTitleSize + 'px',
                        color: temp.proTitleColor
                      }">
                      <font-awesome-icon :icon="['fas', 'star']" style="color:darkgoldenrod;" />
                      商品名
                    </b-card-title>
                    <span class="order-3" :style="{
                        'font-size': temp.proInfoSize + 'px',
                        color: temp.proInfoColor
                      }">這是商品簡介</span>
                    <div class="d-flex align-items-center order-4">
                      <div>
                        <b-card-text :style="{
                            'font-size': temp.proTypePriceSize + 'px',
                            color: temp.proTypePriceColor
                          }">一般價：</b-card-text>
                      </div>
                      <div>
                        <b-card-text :style="{
                            'font-size': temp.proPriceSize + 'px',
                            color: temp.proPriceColor
                          }">
                          100000
                        </b-card-text>
                      </div>
                    </div>
                    <div class="d-flex align-items-center order-5">
                      <div>
                        <b-card-text :style="{
                            'font-size': temp.proTypePriceSize + 'px',
                            color: temp.proTypePriceColor
                          }">會員價：</b-card-text>
                      </div>
                      <div>
                        <b-card-text :style="{
                            'font-size': temp.proPriceSize + 'px',
                            color: temp.proPriceColor
                          }">
                          99999
                        </b-card-text>
                      </div>
                    </div>
                    <b-button class="order-6" href="#" variant="primary" @click="test()">訂購
                    </b-button>
                  </div>
                </template>
                <template v-else-if="temp.proTempleStyle === 'horizontal_1'">
                  <div class="d-flex justify-content-around align-items-center">
                    <div class="d-flex w-100 align-items-center justify-content-center">
                      <div :style="{
                          width: `${temp.proOverViewWidth}%`,
                          height: `${temp.proOverViewWidth}%`
                        }" :class="{ 'p-2': temp.proImgBorder, border: temp.proImgBorder }">
                        <b-card-img src="https://picsum.photos/400/400/?image=25" alt="商品圖">
                        </b-card-img>
                      </div>
                    </div>
                    <div class="d-flex w-100 flex-column align-items-center">
                      <b-card-title :style="{
                          'font-size': temp.proTitleSize + 'px',
                          color: temp.proTitleColor
                        }">
                        <font-awesome-icon :icon="['fas', 'star']" style="color:darkgoldenrod;" />
                        商品名
                      </b-card-title>
                      <span :style="{
                          'font-size': temp.proInfoSize + 'px',
                          color: temp.proInfoColor
                        }">這是商品簡介</span>
                      <div class="d-flex align-items-center">
                        <div>
                          <b-card-text :style="{
                              'font-size': temp.proTypePriceSize + 'px',
                              color: temp.proTypePriceColor
                            }">一般價：</b-card-text>
                        </div>
                        <div>
                          <b-card-text :style="{
                              'font-size': temp.proPriceSize + 'px',
                              color: temp.proPriceColor
                            }">
                            100000
                          </b-card-text>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <div>
                          <b-card-text :style="{
                              'font-size': temp.proTypePriceSize + 'px',
                              color: temp.proTypePriceColor
                            }">會員價：</b-card-text>
                        </div>
                        <div>
                          <b-card-text :style="{
                              'font-size': temp.proPriceSize + 'px',
                              color: temp.proPriceColor
                            }">
                            99999
                          </b-card-text>
                        </div>
                      </div>
                      <b-button href="#" variant="primary" @click="test()">訂購</b-button>
                    </div>
                  </div>
                </template>
                <template v-else-if="temp.proTempleStyle === 'horizontal_2'">
                  <div class="d-flex justify-content-around align-items-center">
                    <div class="d-flex flex-column w-100 align-items-center justify-content-center">
                      <b-card-title :style="{
                          'font-size': temp.proTitleSize + 'px',
                          color: temp.proTitleColor
                        }">
                        <font-awesome-icon :icon="['fas', 'star']" style="color:darkgoldenrod;" />
                        商品名
                      </b-card-title>
                      <div :style="{
                          width: `${temp.proOverViewWidth}%`,
                          height: `${temp.proOverViewWidth}%`
                        }" :class="{ 'p-2': temp.proImgBorder, border: temp.proImgBorder }">
                        <b-card-img src="https://picsum.photos/400/400/?image=25" alt="商品圖">
                        </b-card-img>
                      </div>
                    </div>
                    <div class="d-flex w-100 flex-column align-items-center">
                      <span :style="{
                          'font-size': temp.proInfoSize + 'px',
                          color: temp.proInfoColor
                        }">這是商品簡介</span>
                      <div class="d-flex align-items-center">
                        <div>
                          <b-card-text :style="{
                              'font-size': temp.proTypePriceSize + 'px',
                              color: temp.proTypePriceColor
                            }">一般價：</b-card-text>
                        </div>
                        <div>
                          <b-card-text :style="{
                              'font-size': temp.proPriceSize + 'px',
                              color: temp.proPriceColor
                            }">
                            100000
                          </b-card-text>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <div>
                          <b-card-text :style="{
                              'font-size': temp.proTypePriceSize + 'px',
                              color: temp.proTypePriceColor
                            }">會員價：</b-card-text>
                        </div>
                        <div>
                          <b-card-text :style="{
                              'font-size': temp.proPriceSize + 'px',
                              color: temp.proPriceColor
                            }">
                            99999
                          </b-card-text>
                        </div>
                      </div>
                      <b-button href="#" variant="primary" @click="test()">訂購</b-button>
                    </div>
                  </div>
                </template>
              </b-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import _ from 'lodash';

  export default {
    data() {
      return {
        sortnum: '',
        isOverview: false,
        temp: {},
        // setWidth: '',
        // titleSize: '',
        // titleColor: '',
        // priceSize: '',
        // priceColor: '',
      };
    },
    methods: {
      noChange() {
        return _.isEqual(this.proStyle, this.temp);
      },
      toInsertProPage() {
        this.$router.push('/InsertProduct/insBaseField');
      },
      // changeSort(num) {
      //   // this.$store.commit('productManage/changeProSort', num);
      //   this.temp.proSort = num;
      // },
      saveStyle() {
        console.log(this.temp);
        this.$store.commit('productManage/changeProStyle', this.temp);
      },
      cancelStyle() {
        this.temp = _.cloneDeep(this.proStyle);
      },
    },
    created() {
      // this.$store.commit('productManage/changeProWidth', this.setWidth);
      // this.setWidth = this.proOverViewWidth;
      // this.titleSize = this.proTitleSize;

      // this.titleColor = this.proTitleColor;
      // this.priceSize = this.proPriceSize;
      // this.priceColor = this.proPriceColor;
      this.temp = _.cloneDeep(this.proStyle);
      this.sortnum = this.temp.proSort;
      console.log(_.isEqual(this.proStyle, this.temp));
    },
    computed: {
      proSort: {
        get() {
          return this.$store.state.productManage.proStyle.proSort;
        },
      },
      proStyle: {
        get() {
          return this.$store.state.productManage.proStyle;
        },
      },
      // proOverViewWidth: {
      //   get() {
      //     return this.$store.state.productManage.proStyle.proOverViewWidth;
      //   },
      //   set(value) {
      //     this.$store.commit('productManage/changeProWidth', value);
      //   },
      // },
      // proTitleSize: {
      //   get() {
      //     return this.$store.state.productManage.proStyle.proTitleSize;
      //   },
      //   set(value) {
      //     this.$store.commit('productManage/changeProTitle', value);
      //   },
      // },
      // proTitleColor: {
      //   get() {
      //     return this.$store.state.productManage.proStyle.proTitleColor;
      //   },
      //   set(value) {
      //     this.$store.commit('productManage/changeProTitleColor', value);
      //   },
      // },
      // proPriceSize: {
      //   get() {
      //     return this.$store.state.productManage.proStyle.proPriceSize;
      //   },
      //   set(value) {
      //     this.$store.commit('productManage/changeProPriceSize', value);
      //   },
      // },
      // proPriceColor: {
      //   get() {
      //     return this.$store.state.productManage.proStyle.proPriceColor;
      //   },
      //   set(value) {
      //     this.$store.commit('productManage/changeProPriceColor', value);
      //   },
      // },
    },
    watch: {
      // setWidth(setWidth) {
      //   this.$store.commit('productManage/changeProWidth', setWidth);
      // },
      // titleSize(titleSize) {
      //   this.$store.commit('productManage/changeProTitle', titleSize);
      // },
      // titleColor(titleColor) {
      //   this.$store.commit('productManage/changeProTitleColor', titleColor);
      // },
      // priceSize(priceSize) {
      //   this.$store.commit('productManage/changeProPriceSize', priceSize);
      // },
      // priceColor(priceColor) {
      //   this.$store.commit('productManage/changeProPriceColor', priceColor);
      // },
    },
  };

</script>

<style lang="scss"></style>
